CodeDevice/on Pi/flows_raspberrypi.json
[{"id":"8396086b.145a68","type":"tab","label":"generate key","disabled":false,"info":""},{"id":"c3addf60.1761d","type":"tab","label":"add key","disabled":false,"info":""},{"id":"3c4827.4728d7da","type":"tab","label":"manager","disabled":false,"info":""},{"id":"4c30bea3.2c4f2","type":"tab","label":"verify and sign","disabled":false,"info":""},{"id":"24c5b5ea.54c04a","type":"tab","label":"test sent and reciver","disabled":false,"info":""},{"id":"37f14dfc.762a52","type":"tab","label":"auditos auto run","disabled":false,"info":""},{"id":"55724be0.27e934","type":"tab","label":"API","disabled":false,"info":""},{"id":"d34b7685.f4acc8","type":"ui_tab","z":"","name":"Add Keypairs","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b5880095.4a7bb","type":"ui_group","z":"","name":"Generate Key Login","tab":"9bbd3285.53679","disp":true,"width":"6","collapse":false},{"id":"ef7321e3.e8cdc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b7971818.3800e8","type":"ui_spacer","name":"spacer","group":"b5880095.4a7bb","order":2,"width":1,"height":1},{"id":"9bbd3285.53679","type":"ui_tab","z":"","name":"Generate Key","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2b3eab97.24b734","type":"ui_group","z":"","name":"Add Keypairs","tab":"d34b7685.f4acc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"af8a80f8.fb394","type":"MySQLdatabase","z":"8396086b.145a68","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"b6f05c61.2acbd","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"7438a202.c35edc","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8e0c7136.c0d9d","type":"ui_group","z":"","name":"Manage Key","tab":"21753ea6.191832","order":1,"disp":false,"width":"18","collapse":false},{"id":"21753ea6.191832","type":"ui_tab","z":"","name":"Manage Key","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a669d293.4f986","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a43905e6.7ddd08","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"rBox","tz":""},{"id":"350dc605.0a097a","type":"ui_text_input","z":"8396086b.145a68","name":"","label":"Phone Number","tooltip":"","group":"b5880095.4a7bb","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":340,"y":80,"wires":[["84d35b39.5d13a8"]]},{"id":"ad3096c2.2c3528","type":"ui_button","z":"8396086b.145a68","name":"","group":"b5880095.4a7bb","order":4,"width":"4","height":"1","passthru":false,"label":"generate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":60,"y":40,"wires":[["925d9568.e56e18"]]},{"id":"5f04d999.d9a3a8","type":"ui_text","z":"8396086b.145a68","group":"b5880095.4a7bb","order":5,"width":0,"height":0,"name":"status","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2470,"y":280,"wires":[]},{"id":"84d35b39.5d13a8","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"phone","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":80,"wires":[[]]},{"id":"6b0c9df4.53a744","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"phone","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":120,"wires":[["a6a0c2f.9dd2a4","b0b20d81.07da1"]]},{"id":"a6a0c2f.9dd2a4","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":160,"wires":[]},{"id":"b0b20d81.07da1","type":"function","z":"8396086b.145a68","name":"packet","func":"msg.packet = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["258d762.469d18a"]]},{"id":"f2d5c838.458e88","type":"exec","z":"8396086b.145a68","command":"sudo bash /home/pi/keypairs/code/key_login.sh","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":true,"name":"","x":920,"y":120,"wires":[["7a5a79ae.6e73b8"],[],[]]},{"id":"7a5a79ae.6e73b8","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/private_login","format":"utf8","chunk":false,"sendError":false,"x":1260,"y":120,"wires":[["f9519ce3.c380b"]]},{"id":"f9519ce3.c380b","type":"function","z":"8396086b.145a68","name":"private","func":"msg.packet.private_login = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":120,"wires":[["9449a42e.efb808"]]},{"id":"9449a42e.efb808","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/public_login","format":"utf8","chunk":false,"sendError":false,"x":1680,"y":120,"wires":[["627c8a1f.668c64"]]},{"id":"627c8a1f.668c64","type":"function","z":"8396086b.145a68","name":"public","func":"msg.packet.public_login = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":120,"wires":[["e15260a4.272c7"]]},{"id":"d12a8c4e.6e886","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4110,"y":160,"wires":[]},{"id":"e15260a4.272c7","type":"function","z":"8396086b.145a68","name":"insert","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd;\nmsg.packet.time = now\nquery = \"INSERT INTO `key_login`(user_id, `public_login`, `private_login`, `time`) VALUES (?,?,?,?)\";\nmsg.payload = [msg.packet.user_id,msg.packet.public_login, msg.packet.private_login, now];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":120,"wires":[["494da845.f05738","966c2513.a35708"]]},{"id":"f6fd33b5.32477","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/private_sign","format":"utf8","chunk":false,"sendError":false,"x":3280,"y":120,"wires":[["3b2a942f.bbc2cc"]]},{"id":"3b2a942f.bbc2cc","type":"function","z":"8396086b.145a68","name":"private_sign","func":"msg.packet.private_sign = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":3510,"y":120,"wires":[["9fe798a4.c0cc18"]]},{"id":"9fe798a4.c0cc18","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/public_sign","format":"utf8","chunk":false,"sendError":false,"x":3740,"y":120,"wires":[["5437e3e3.b9137c"]]},{"id":"5437e3e3.b9137c","type":"function","z":"8396086b.145a68","name":"public_sign","func":"msg.packet.public_sign = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":3970,"y":120,"wires":[["d12a8c4e.6e886","8247ff81.1b344"]]},{"id":"494da845.f05738","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"insert key login","x":2160,"y":120,"wires":[["f182d230.5105"]]},{"id":"f182d230.5105","type":"function","z":"8396086b.145a68","name":"select check","func":" //\"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nquery = \"select public_sign from key_sign where user_id = \"+ msg.packet.user_id //+\"\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2330,"y":120,"wires":[["3ae33002.d46e7"]]},{"id":"3ae33002.d46e7","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"check exist","x":2490,"y":120,"wires":[["925cddf9.d4293"]]},{"id":"6141bfd1.887b2","type":"status","z":"8396086b.145a68","name":"status sql login","scope":["494da845.f05738"],"x":1960,"y":260,"wires":[["f0000d37.454b5","484dd0a2.a4422"]]},{"id":"f0000d37.454b5","type":"debug","z":"8396086b.145a68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2110,"y":280,"wires":[]},{"id":"2ef64682.e5000a","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"insert key sign","x":4260,"y":120,"wires":[["1e81f34.a0c340d"]]},{"id":"8247ff81.1b344","type":"function","z":"8396086b.145a68","name":"insert","func":"var type = \"Elefos\"\nquery = \"INSERT INTO `key_sign`(user_id, `public_sign`, `private_sign`, `type`, `time`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.packet.user_id,msg.packet.public_sign, msg.packet.private_sign, type, msg.packet.time];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":4110,"y":120,"wires":[["2ef64682.e5000a"]]},{"id":"925cddf9.d4293","type":"switch","z":"8396086b.145a68","name":"switch key sign","property":"payload[0]['public_sign']","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":2660,"y":120,"wires":[["35a1a273.c1dd6e","afcee243.91f56"],["9d157bae.df2798","6073ab1e.e7c094"]]},{"id":"35a1a273.c1dd6e","type":"exec","z":"8396086b.145a68","command":"sudo bash /home/pi/keypairs/code/key_sign.sh","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":true,"name":"","x":2940,"y":120,"wires":[["f6fd33b5.32477"],[],[]]},{"id":"484dd0a2.a4422","type":"switch","z":"8396086b.145a68","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":240,"wires":[["3903f15f.1f802e"],["463a6fff.54eb2"]]},{"id":"3903f15f.1f802e","type":"function","z":"8396086b.145a68","name":"error key login","func":"msg.payload = \"Error: duplicate number phone.\"\nreturn msg","outputs":1,"noerr":0,"x":2280,"y":220,"wires":[["5f04d999.d9a3a8","7ab43b12.e74274"]]},{"id":"463a6fff.54eb2","type":"function","z":"8396086b.145a68","name":"ok key login","func":"msg.payload = \"Success: created the login key.\"\nreturn msg","outputs":1,"noerr":0,"x":2270,"y":260,"wires":[["5f04d999.d9a3a8"]]},{"id":"c133bca6.e41","type":"status","z":"8396086b.145a68","name":"status sql sign","scope":["2ef64682.e5000a"],"x":1950,"y":360,"wires":[["95e92929.663a98","7ba8ff49.9700e"]]},{"id":"95e92929.663a98","type":"debug","z":"8396086b.145a68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2110,"y":400,"wires":[]},{"id":"7ba8ff49.9700e","type":"switch","z":"8396086b.145a68","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":360,"wires":[["30d46b0e.c39c84"],["97896dba.542f2"]]},{"id":"30d46b0e.c39c84","type":"function","z":"8396086b.145a68","name":"error key login","func":"msg.payload = \"Error: adding signature key.\"\nreturn msg","outputs":1,"noerr":0,"x":2280,"y":340,"wires":[["5f04d999.d9a3a8"]]},{"id":"97896dba.542f2","type":"function","z":"8396086b.145a68","name":"ok key login","func":"msg.payload = \"Success: created the signature key.\"\nreturn msg","outputs":1,"noerr":0,"x":2270,"y":380,"wires":[["5f04d999.d9a3a8","9d157bae.df2798"]]},{"id":"9d157bae.df2798","type":"delay","z":"8396086b.145a68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2500,"y":380,"wires":[["f6f4cda.44dc83"]]},{"id":"f6f4cda.44dc83","type":"function","z":"8396086b.145a68","name":"ok key login","func":"msg.payload = \"DONE!\"\nreturn msg","outputs":1,"noerr":0,"x":2670,"y":380,"wires":[["5f04d999.d9a3a8"]]},{"id":"afcee243.91f56","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2850,"y":80,"wires":[]},{"id":"6073ab1e.e7c094","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2850,"y":160,"wires":[]},{"id":"52e233cb.5dcadc","type":"ui_form","z":"c3addf60.1761d","name":"","label":"","group":"2b3eab97.24b734","order":2,"width":0,"height":0,"options":[{"label":"Phone Number","value":"user_id","type":"number","required":false},{"label":"Public Key","value":"public_sign","type":"text","required":true},{"label":"Private Key","value":"private_sign","type":"text","required":true}],"formValue":{"user_id":"","public_sign":"","private_sign":""},"payload":"","submit":"Add","cancel":"Cancle","topic":"","x":110,"y":200,"wires":[["945ae4c3.193a98"]]},{"id":"7dec1f2a.c918d","type":"ui_dropdown","z":"c3addf60.1761d","name":"","label":"","tooltip":"","place":"Type Coin","group":"2b3eab97.24b734","order":1,"width":"0","height":"0","passthru":true,"options":[{"label":"Elefos","value":"Elefos","type":"str"},{"label":"Bitcoins","value":"Bitcoins","type":"str"},{"label":"Ethereum","value":"Ethereum","type":"str"},{"label":"Bitcoin Cash","value":"Bitcoin_Cash","type":"str"},{"label":"XRP","value":"XRP","type":"str"},{"label":" Litecoin","value":" Litecoin","type":"str"},{"label":"EOS","value":"EOS","type":"str"},{"label":"Tether","value":"Tether","type":"str"},{"label":"Maker","value":"Maker","type":"str"}],"payload":"","topic":"","x":380,"y":160,"wires":[["5a0055f0.1f43fc"]]},{"id":"8bff250.5ad26d8","type":"debug","z":"c3addf60.1761d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"packet","targetType":"msg","x":790,"y":240,"wires":[]},{"id":"ccea1173.a6a36","type":"ui_ui_control","z":"c3addf60.1761d","name":"","x":120,"y":160,"wires":[["f5761405.9320d8"]]},{"id":"39e645fc.2da36a","type":"ui_text","z":"c3addf60.1761d","group":"2b3eab97.24b734","order":3,"width":0,"height":0,"name":"status","label":"","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":100,"wires":[]},{"id":"945ae4c3.193a98","type":"function","z":"c3addf60.1761d","name":"create packet","func":"msg.packet = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["2bcff1cb.fe7fbe"]]},{"id":"5a0055f0.1f43fc","type":"change","z":"c3addf60.1761d","name":"","rules":[{"t":"set","p":"type","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[[]]},{"id":"2bcff1cb.fe7fbe","type":"change","z":"c3addf60.1761d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"type","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["dc7dd55b.881548"]]},{"id":"dc7dd55b.881548","type":"function","z":"c3addf60.1761d","name":"add type","func":"msg.packet.type = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["8bff250.5ad26d8","25eeec1a.a48504"]]},{"id":"f5761405.9320d8","type":"function","z":"c3addf60.1761d","name":"default","func":"msg.payload = \"Elefos\"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["7dec1f2a.c918d"]]},{"id":"25eeec1a.a48504","type":"function","z":"c3addf60.1761d","name":"insert","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd;\nquery = \"INSERT INTO `key_sign`(`user_id`, `public_sign`, `private_sign`, `type`, `time`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.packet.user_id,msg.packet.public_sign, msg.packet.private_sign, msg.packet.type, now];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["51a12903.21d188"]]},{"id":"51a12903.21d188","type":"mysql","z":"c3addf60.1761d","mydb":"af8a80f8.fb394","name":"insert key sign","x":940,"y":200,"wires":[["412eeb5.e0ad514","22450381.3e7edc"]]},{"id":"5a5b9876.9ff1c8","type":"function","z":"4c30bea3.2c4f2","name":"select public login","func":"msg.packet = msg.payload\nvar out = \"Select public_login from `key_login` where user_id = \" + msg.payload.issuer;  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["6ee98176.92a5f"]]},{"id":"6ee98176.92a5f","type":"mysql","z":"4c30bea3.2c4f2","mydb":"b6f05c61.2acbd","name":"","x":610,"y":220,"wires":[["5ae52012.520de","2e4c4236.ce369e"]]},{"id":"2e4c4236.ce369e","type":"function","z":"4c30bea3.2c4f2","name":"convert","func":"msg.payload = msg.payload[0]['public_login']\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":220,"wires":[["db68eb37.bea768"]]},{"id":"db68eb37.bea768","type":"file","z":"4c30bea3.2c4f2","name":"write public login","filename":"/home/pi/keypairs/transaction/public_login","appendNewline":true,"createDir":false,"overwriteFile":"true","x":960,"y":220,"wires":[["748419cd.cc8fa8"]]},{"id":"e3442e2c.deb6e","type":"exec","z":"4c30bea3.2c4f2","command":"bash /home/pi/keypairs/code/verify_login.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"verify login","x":1730,"y":220,"wires":[["ccdb3186.65bdb","7fc69bf1.28dc74"],[],[]]},{"id":"2f54242f.c2a60c","type":"switch","z":"4c30bea3.2c4f2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Verified OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2010,"y":220,"wires":[["b980dabf.6aefa8"]]},{"id":"fcf66861.cf1258","type":"exec","z":"4c30bea3.2c4f2","command":"bash /home/pi/keypairs/code/sign.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run sign","x":2780,"y":280,"wires":[["5663e1ea.b8c2d"],[],[]]},{"id":"1ae4f993.72d366","type":"mysql","z":"4c30bea3.2c4f2","mydb":"b6f05c61.2acbd","name":"","x":2310,"y":280,"wires":[["228e6c63.d6cf44"]]},{"id":"b980dabf.6aefa8","type":"function","z":"4c30bea3.2c4f2","name":"select private","func":"var out = \"Select private_sign from `key_sign` where user_id = \" + msg.packet.issuer + \" and type = '\" + msg.packet.type + \"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":2150,"y":280,"wires":[["1ae4f993.72d366"]]},{"id":"5663e1ea.b8c2d","type":"file in","z":"4c30bea3.2c4f2","name":"new sig base64","filename":"/home/pi/keypairs/transaction/signatureBase64","format":"utf8","chunk":false,"sendError":false,"x":2940,"y":280,"wires":[["75eb7d2.7498084"]]},{"id":"75eb7d2.7498084","type":"function","z":"4c30bea3.2c4f2","name":"new packet","func":"msg.packet.sig = msg.payload\nmsg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":3130,"y":280,"wires":[["e069e962.c8c598","7b4663c4.c5a23c","9d082a5b.041bf8"]]},{"id":"e069e962.c8c598","type":"mqtt out","z":"4c30bea3.2c4f2","name":"","topic":"elefos_feedback_transaction","qos":"","retain":"","broker":"7438a202.c35edc","x":3340,"y":280,"wires":[]},{"id":"a19a788d.b910b8","type":"mqtt in","z":"4c30bea3.2c4f2","name":"","topic":"transaction","qos":"2","datatype":"auto","broker":"7438a202.c35edc","x":100,"y":220,"wires":[["b268b3e7.839d"]]},{"id":"228e6c63.d6cf44","type":"function","z":"4c30bea3.2c4f2","name":"convert","func":"msg.payload = msg.payload[0]['private_sign']\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":280,"wires":[["6f378a00.330478"]]},{"id":"6f378a00.330478","type":"file","z":"4c30bea3.2c4f2","name":"write private","filename":"/home/pi/keypairs/transaction/private_sig","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2630,"y":280,"wires":[["fcf66861.cf1258"]]},{"id":"5ae52012.520de","type":"debug","z":"4c30bea3.2c4f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":280,"wires":[]},{"id":"6fab4032.7cdfc","type":"file","z":"4c30bea3.2c4f2","name":"write transaction","filename":"/home/pi/keypairs/transaction/transaction","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1560,"y":220,"wires":[["e3442e2c.deb6e"]]},{"id":"e839c9bb.072c78","type":"function","z":"4c30bea3.2c4f2","name":"delete sig","func":"delete msg.packet.sig\nmsg.payload = msg.packet.payload\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":220,"wires":[["6fab4032.7cdfc"]]},{"id":"7fc69bf1.28dc74","type":"debug","z":"4c30bea3.2c4f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1870,"y":180,"wires":[]},{"id":"ede242f4.4cd47","type":"file","z":"4c30bea3.2c4f2","name":"write sig","filename":"/home/pi/keypairs/transaction/sig_login","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1260,"y":220,"wires":[["e839c9bb.072c78"]]},{"id":"748419cd.cc8fa8","type":"function","z":"4c30bea3.2c4f2","name":"write sig","func":"msg.payload = msg.packet.sig\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":220,"wires":[["ede242f4.4cd47"]]},{"id":"7b4663c4.c5a23c","type":"debug","z":"4c30bea3.2c4f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3270,"y":240,"wires":[]},{"id":"ccdb3186.65bdb","type":"function","z":"4c30bea3.2c4f2","name":"delete /n","func":"msg.payload = msg.payload.replace(\"\\n\", \"\")\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":220,"wires":[["2f54242f.c2a60c"]]},{"id":"c5946b24.de7e38","type":"mqtt in","z":"24c5b5ea.54c04a","name":"","topic":"get_private","qos":"2","datatype":"auto","broker":"7438a202.c35edc","x":180,"y":220,"wires":[["5a8ddd82.9f7ef4"]]},{"id":"5a8ddd82.9f7ef4","type":"file","z":"24c5b5ea.54c04a","name":"","filename":"/home/pi/keypairs/login/private_login","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":440,"y":220,"wires":[["f6e793e7.b00bc"]]},{"id":"6bba49d2.f35a18","type":"inject","z":"24c5b5ea.54c04a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["d262ab93.a14098"]]},{"id":"d262ab93.a14098","type":"function","z":"24c5b5ea.54c04a","name":"demo packet","func":"msg.packet = {\n    \"payload\" : {\n\t\t\"cmd\" : \"tam chuyen tien di choi\",\n\t\t\"receiver\":  \"192.168.1.22\",\n\t\t\"data\" : \"2220$\"\n    }\n}\nmsg.payload = msg.packet.payload\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["ca45d44a.8521f8"]]},{"id":"bb599605.46f798","type":"mqtt out","z":"24c5b5ea.54c04a","name":"","topic":"transaction","qos":"","retain":"","broker":"7438a202.c35edc","x":1290,"y":360,"wires":[]},{"id":"ca45d44a.8521f8","type":"file","z":"24c5b5ea.54c04a","name":"write transaction","filename":"/home/pi/keypairs/login/transaction","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":540,"y":360,"wires":[["89f3f2eb.08772"]]},{"id":"89f3f2eb.08772","type":"exec","z":"24c5b5ea.54c04a","command":"bash /home/pi/keypairs/login/sign.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sign login","x":720,"y":360,"wires":[["ba2d72be.ad83d"],[],[]]},{"id":"ba2d72be.ad83d","type":"file in","z":"24c5b5ea.54c04a","name":"get sig Base64","filename":"/home/pi/keypairs/login/signatureBase64","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":920,"y":360,"wires":[["2ba3e03d.724fd"]]},{"id":"2ba3e03d.724fd","type":"function","z":"24c5b5ea.54c04a","name":"add packet","func":"//msg.packet.type =  \"Elefos\"\n//msg.packet.issuer = 12356788\nmsg.packet.sig = msg.payload\nmsg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":360,"wires":[["bb599605.46f798","b249bc43.a5779","e0c008fe.635058"]]},{"id":"acfdd35.a64ff3","type":"debug","z":"24c5b5ea.54c04a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1260,"y":280,"wires":[]},{"id":"f6e793e7.b00bc","type":"debug","z":"24c5b5ea.54c04a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"daca2a75.16a378","type":"inject","z":"4c30bea3.2c4f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["640182c3.789e5c"]]},{"id":"640182c3.789e5c","type":"function","z":"4c30bea3.2c4f2","name":"select public login","func":"msg.packet = msg.payload\nvar out = \"Select private_login from `key_login` where user_id = \" + 12356788;  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["be324c02.35454"]]},{"id":"be324c02.35454","type":"mysql","z":"4c30bea3.2c4f2","mydb":"b6f05c61.2acbd","name":"","x":510,"y":60,"wires":[["52c1e312.91bfdc"]]},{"id":"52c1e312.91bfdc","type":"function","z":"4c30bea3.2c4f2","name":"sent private login","func":"msg.payload = msg.payload[0]['private_login']\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":60,"wires":[["5df78162.aab8b"]]},{"id":"5df78162.aab8b","type":"mqtt out","z":"4c30bea3.2c4f2","name":"","topic":"get_private","qos":"","retain":"","broker":"7438a202.c35edc","x":930,"y":60,"wires":[]},{"id":"27a9922b.0547fe","type":"comment","z":"4c30bea3.2c4f2","name":"Khu vực bắn private key cho đối thủ để kí và login","info":"","x":220,"y":100,"wires":[]},{"id":"814a2260.feb43","type":"mqtt in","z":"24c5b5ea.54c04a","name":"","topic":"elefos_feedback_transaction","qos":"2","datatype":"auto","broker":"7438a202.c35edc","x":240,"y":500,"wires":[["8825c8d8.9da988"]]},{"id":"8825c8d8.9da988","type":"json","z":"24c5b5ea.54c04a","name":"","property":"payload","action":"","pretty":false,"x":450,"y":500,"wires":[["7b468b6f.2ff2c4"]]},{"id":"7b468b6f.2ff2c4","type":"debug","z":"24c5b5ea.54c04a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":500,"wires":[]},{"id":"d4a0a6c5.1f2328","type":"comment","z":"4c30bea3.2c4f2","name":"Khu vực login và thay sign mới","info":"","x":170,"y":180,"wires":[]},{"id":"a35f4b95.252618","type":"comment","z":"24c5b5ea.54c04a","name":"Khu vực bắn gói tin được kí từ private key","info":"","x":260,"y":300,"wires":[]},{"id":"7112ad1c.d9d704","type":"comment","z":"24c5b5ea.54c04a","name":"Khu vực nhận gói tin được thay sig","info":"","x":240,"y":460,"wires":[]},{"id":"7d034d42.59ea94","type":"inject","z":"37f14dfc.762a52","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":140,"wires":[[]]},{"id":"79d63f2a.93959","type":"exec","z":"37f14dfc.762a52","command":"bash /home/pi/elefos/auditos.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":140,"wires":[["f0e2eda9.1513b"],["f0e2eda9.1513b"],["f0e2eda9.1513b"]]},{"id":"f0e2eda9.1513b","type":"debug","z":"37f14dfc.762a52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":140,"wires":[]},{"id":"aac6ecd8.2b8f9","type":"template","z":"3c4827.4728d7da","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n    table-layout: fixed;\n}\ntd, th {\n    border: 1px solid transparent;\n    word-break: break-word;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #FEFEFE;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    \n    background: #F1F1F1;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":1090,"y":160,"wires":[["4117ac2b.263f24"]]},{"id":"f2140053.9791","type":"ui_template","z":"3c4827.4728d7da","group":"8e0c7136.c0d9d","name":"clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript\" type=\"text/javascript\">\n    var clockInterval;\n\n    $(function () {\n        $('#clockScript').parent().hide();\n        \n        if(clockInterval) return;\n        \n        var toolbar = $('.md-toolbar-tools');\n        var div = $('<div/>');\n        var p = $('<p/>');\n        \n        div.append(p);\n        div[0].style.margin = '5px 5px 5px auto';\n        \n        function displayTime() {\n            p.text(new Date().toLocaleString()); \n        }\n        \n        toolbar.append(div);\n        \n        clockInterval = setInterval(displayTime, 1000);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":190,"y":280,"wires":[[]]},{"id":"e3354d77.ebe5f","type":"ui_template","z":"3c4827.4728d7da","group":"2b3eab97.24b734","name":"Button Line Color","order":2,"width":0,"height":0,"format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":590,"y":240,"wires":[[]]},{"id":"154dd009.c3dd3","type":"ui_template","z":"3c4827.4728d7da","group":"8e0c7136.c0d9d","name":"LINE 18","order":1,"width":"3","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:{{msg.color}}\" ng-click=\"send({payload: 1})\"> \n    LINE 18\n</md-button> \n\n\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":160,"y":140,"wires":[["26055e9.2f06fa2"]]},{"id":"26055e9.2f06fa2","type":"function","z":"3c4827.4728d7da","name":"output color id","func":"msg.color = \"black\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["154dd009.c3dd3"]]},{"id":"eaf0ed2d.2cd2e","type":"function","z":"3c4827.4728d7da","name":"input","func":"msg.test = 123\nmsg.payload = [\n{\"user_id\": 12124,\"name\": \"Elefos\",\"date\":\"20-12-2012\"},\n{\"user_id\": 11235,\"name\": \"BTC\",\"date\":\"20-12-2020\"},\n{\"user_id\": 1246,\"name\": \"ETH\",\"date\":\"20-12-2019\"}\n]\nreturn msg","outputs":1,"noerr":0,"x":130,"y":100,"wires":[[]]},{"id":"4117ac2b.263f24","type":"ui_template","z":"3c4827.4728d7da","group":"8e0c7136.c0d9d","name":"table","order":1,"width":"18","height":"10","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n    <tr>\n    <th>Phone Number</th> \n    <th>Type</th>\n    <th>Time</th>\n    <th>Copy Key</th>\n    <th>Remove</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n    <td ng-repeat=\"item in obj\">{{ item }}</td> \n    <td>\n        <md-button class=\"vibrate filled touched bigfont\" style=\"background-color:{{msg.color}}\" ng-click=\"send({payload: obj.user_id, type: obj.type})\"> \n          Copy  \n        </md-button>\n    </td>\n    <td>\n        <md-button class=\"vibrate filled touched bigfont\" style=\"background-color:{{msg.color}}\" ng-click=\"send({payload: obj.user_id, type: obj.type})\"> \n          Delete  \n        </md-button>\n    </td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1210,"y":160,"wires":[["d4915bde.ec3118"]]},{"id":"910015e4.143408","type":"ui_template","z":"3c4827.4728d7da","group":"b5880095.4a7bb","name":"clock","order":3,"width":"0","height":"0","format":"<script id=\"clockScript\" type=\"text/javascript\">\n    var clockInterval;\n\n    $(function () {\n        $('#clockScript').parent().hide();\n        \n        if(clockInterval) return;\n        \n        var toolbar = $('.md-toolbar-tools');\n        var div = $('<div/>');\n        var p = $('<p/>');\n        \n        div.append(p);\n        div[0].style.margin = '5px 5px 5px auto';\n        \n        function displayTime() {\n            p.text(new Date().toLocaleString()); \n        }\n        \n        toolbar.append(div);\n        \n        clockInterval = setInterval(displayTime, 1000);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":190,"y":320,"wires":[[]]},{"id":"c72b9bf2.24c448","type":"ui_template","z":"3c4827.4728d7da","group":"2b3eab97.24b734","name":"clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript\" type=\"text/javascript\">\n    var clockInterval;\n\n    $(function () {\n        $('#clockScript').parent().hide();\n        \n        if(clockInterval) return;\n        \n        var toolbar = $('.md-toolbar-tools');\n        var div = $('<div/>');\n        var p = $('<p/>');\n        \n        div.append(p);\n        div[0].style.margin = '5px 5px 5px auto';\n        \n        function displayTime() {\n            p.text(new Date().toLocaleString()); \n        }\n        \n        toolbar.append(div);\n        \n        clockInterval = setInterval(displayTime, 1000);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":190,"y":360,"wires":[[]]},{"id":"38cd0dc4.c040a2","type":"mysql","z":"3c4827.4728d7da","mydb":"b6f05c61.2acbd","name":"","x":850,"y":160,"wires":[["aac6ecd8.2b8f9"]]},{"id":"b5b7e90e.84f858","type":"function","z":"3c4827.4728d7da","name":"","func":"msg.packet = msg.payload\nvar out = \"Select user_id, type, time from `key_sign`\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":160,"wires":[["38cd0dc4.c040a2"]]},{"id":"c37c7997.9be258","type":"ui_ui_control","z":"3c4827.4728d7da","name":"","x":580,"y":160,"wires":[["b5b7e90e.84f858"]]},{"id":"d4915bde.ec3118","type":"switch","z":"3c4827.4728d7da","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"Elefos","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1330,"y":160,"wires":[["cb3411d5.2f7d2","c3fb4bd3.8e60d8"],["35a3caf9.034276"],["7a0735.904278cc"]]},{"id":"cb3411d5.2f7d2","type":"function","z":"3c4827.4728d7da","name":"delete login","func":" //\"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nquery = \"delete from `key_login` where user_id = \"+ msg.payload//+\"\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":120,"wires":[["f7df029a.05ba3"]]},{"id":"7a0735.904278cc","type":"function","z":"3c4827.4728d7da","name":"delete sign other","func":" //\"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nquery = \"delete from `key_sign` where user_id = \"+ msg.payload//+\"\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":220,"wires":[["f7df029a.05ba3"]]},{"id":"51797df7.17a644","type":"debug","z":"3c4827.4728d7da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":140,"wires":[]},{"id":"f7df029a.05ba3","type":"mysql","z":"3c4827.4728d7da","mydb":"b6f05c61.2acbd","name":"","x":1630,"y":140,"wires":[["51797df7.17a644","c799ceb4.c55fc","3c34db94.8861c4"]]},{"id":"c3fb4bd3.8e60d8","type":"function","z":"3c4827.4728d7da","name":"delete sign","func":" //\"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nquery = \"delete from `key_sign` where user_id = \"+ msg.payload//+\"\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":80,"wires":[["f7df029a.05ba3"]]},{"id":"35a3caf9.034276","type":"debug","z":"3c4827.4728d7da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":160,"wires":[]},{"id":"c799ceb4.c55fc","type":"function","z":"3c4827.4728d7da","name":"refresh","func":"msg.payload = {\"tab\": \"Manage Key\"}\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":260,"wires":[["c37c7997.9be258"]]},{"id":"62b5abf7.ce7df4","type":"function","z":"55724be0.27e934","name":"user_id","func":"\nvar out = \"Select * from `key_login` where user_id = \" + msg.payload.id;  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["b3c5dc83.414f1"]]},{"id":"900a8474.10ef48","type":"switch","z":"55724be0.27e934","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":180,"wires":[["7cf90abe.ef8df4"],["62b5abf7.ce7df4"]]},{"id":"b3c5dc83.414f1","type":"mysql","z":"55724be0.27e934","mydb":"b6f05c61.2acbd","name":"","x":570,"y":180,"wires":[["905d222b.d0db4"]]},{"id":"7cf90abe.ef8df4","type":"function","z":"55724be0.27e934","name":"all","func":"var out = \"Select * from `key_login`\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["b3c5dc83.414f1","22f36e98.522932"]]},{"id":"f914f66c.577aa8","type":"http in","z":"55724be0.27e934","name":"","url":"/elefos/key/login","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["eefbd2b8.bc92e","900a8474.10ef48"]]},{"id":"905d222b.d0db4","type":"http response","z":"55724be0.27e934","name":"","statusCode":"","headers":{},"x":750,"y":180,"wires":[]},{"id":"22f36e98.522932","type":"debug","z":"55724be0.27e934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":120,"wires":[]},{"id":"eefbd2b8.bc92e","type":"debug","z":"55724be0.27e934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":140,"wires":[]},{"id":"6fa3b3b9.3e2c6c","type":"http in","z":"55724be0.27e934","name":"","url":"/elefos/factory/reboot","method":"get","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["9cbbdc60.fed1c"]]},{"id":"b6635901.e70328","type":"http in","z":"55724be0.27e934","name":"","url":"/elefos/factory/shutdown","method":"get","upload":false,"swaggerDoc":"","x":120,"y":320,"wires":[["ba5833ad.15788"]]},{"id":"9cbbdc60.fed1c","type":"exec","z":"55724be0.27e934","command":"sudo init 6","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":260,"wires":[["ead5eda2.54212"],[],[]]},{"id":"ba5833ad.15788","type":"exec","z":"55724be0.27e934","command":"sudo init 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":320,"wires":[["56b2dea6.5f59b"],[],[]]},{"id":"ead5eda2.54212","type":"function","z":"55724be0.27e934","name":"restart","func":"msg.payload = \"Reboot...\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["c02221be.0d7fd"]]},{"id":"56b2dea6.5f59b","type":"function","z":"55724be0.27e934","name":"shutdown","func":"msg.payload = \"Shutdown...\"\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["c02221be.0d7fd"]]},{"id":"c02221be.0d7fd","type":"http response","z":"55724be0.27e934","name":"","statusCode":"","headers":{},"x":750,"y":280,"wires":[]},{"id":"ea4400eb.1f07a","type":"http in","z":"8396086b.145a68","name":"","url":"/elefos/key/generate","method":"post","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["b0b20d81.07da1","a6a0c2f.9dd2a4"]]},{"id":"fdf16ab4.4454a8","type":"http response","z":"8396086b.145a68","name":"","statusCode":"","headers":{},"x":4490,"y":240,"wires":[]},{"id":"1e81f34.a0c340d","type":"function","z":"8396086b.145a68","name":"public_login","func":"msg.payload = msg.packet.private_login\nreturn msg;","outputs":1,"noerr":0,"x":4390,"y":180,"wires":[["fdf16ab4.4454a8"]]},{"id":"f06ad8c0.6b3b48","type":"http request","z":"8396086b.145a68","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:1880/elefos/key/generate","tls":"","proxy":"","authType":"basic","x":370,"y":340,"wires":[["7665c19a.527b8"]]},{"id":"2049d43b.d11ebc","type":"function","z":"8396086b.145a68","name":"demo","func":"msg.payload = {\n    \"user_id\" : 1236321444\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["f06ad8c0.6b3b48"]]},{"id":"72f91a6.55540e4","type":"inject","z":"8396086b.145a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":340,"wires":[["2049d43b.d11ebc"]]},{"id":"7665c19a.527b8","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":340,"wires":[]},{"id":"c9915326.cc9a8","type":"http response","z":"8396086b.145a68","name":"","statusCode":"","headers":{},"x":2630,"y":220,"wires":[]},{"id":"966c2513.a35708","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2100,"y":40,"wires":[]},{"id":"258d762.469d18a","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"req","pt":"flow","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["f2d5c838.458e88"]]},{"id":"7ab43b12.e74274","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"req","pt":"msg","to":"req","tot":"flow"},{"t":"set","p":"res","pt":"msg","to":"res","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2480,"y":220,"wires":[["c9915326.cc9a8"]]},{"id":"925d9568.e56e18","type":"function","z":"8396086b.145a68","name":"packet","func":"msg.payload = {\n    \"user_id\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":80,"wires":[["6b0c9df4.53a744"]]},{"id":"837c6c5a.4695a","type":"http in","z":"c3addf60.1761d","name":"","url":"/elefos/key/add","method":"post","upload":false,"swaggerDoc":"","x":730,"y":100,"wires":[["8a5033b7.d749"]]},{"id":"62364a01.798bc4","type":"http response","z":"c3addf60.1761d","name":"","statusCode":"","headers":{},"x":1390,"y":200,"wires":[]},{"id":"412eeb5.e0ad514","type":"debug","z":"c3addf60.1761d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1140,"y":80,"wires":[]},{"id":"8a5033b7.d749","type":"function","z":"c3addf60.1761d","name":"","func":"msg.packet = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":160,"wires":[["25eeec1a.a48504"]]},{"id":"22450381.3e7edc","type":"switch","z":"c3addf60.1761d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":200,"wires":[["80d9570f.72f6e8"],["b8d10bd1.e0d998"]]},{"id":"80d9570f.72f6e8","type":"function","z":"c3addf60.1761d","name":"success","func":"msg.payload = \"Add key successful.\"\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":200,"wires":[["62364a01.798bc4"]]},{"id":"b8d10bd1.e0d998","type":"function","z":"c3addf60.1761d","name":"errror","func":"msg.payload = \"Error add key.\"\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":240,"wires":[["62364a01.798bc4"]]},{"id":"ffe30e96.372dc","type":"http in","z":"4c30bea3.2c4f2","name":"","url":"/elefos/sign/transaction","method":"post","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["5a5b9876.9ff1c8"]]},{"id":"9d082a5b.041bf8","type":"http response","z":"4c30bea3.2c4f2","name":"","statusCode":"","headers":{},"x":3270,"y":360,"wires":[]},{"id":"b249bc43.a5779","type":"json","z":"24c5b5ea.54c04a","name":"","property":"payload","action":"","pretty":false,"x":1200,"y":320,"wires":[["acfdd35.a64ff3"]]},{"id":"188dfde4.c27b02","type":"debug","z":"4c30bea3.2c4f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":160,"wires":[]},{"id":"b268b3e7.839d","type":"json","z":"4c30bea3.2c4f2","name":"","property":"payload","action":"","pretty":false,"x":250,"y":220,"wires":[["5a5b9876.9ff1c8","188dfde4.c27b02"]]},{"id":"91cf1b5e.52b288","type":"http in","z":"24c5b5ea.54c04a","name":"","url":"/elefos/sign/login","method":"post","upload":false,"swaggerDoc":"","x":340,"y":420,"wires":[["aa275a4a.bca408","8080789a.c0fbc8"]]},{"id":"e0c008fe.635058","type":"http response","z":"24c5b5ea.54c04a","name":"","statusCode":"","headers":{},"x":1340,"y":440,"wires":[]},{"id":"aa275a4a.bca408","type":"debug","z":"24c5b5ea.54c04a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":440,"wires":[]},{"id":"8080789a.c0fbc8","type":"function","z":"24c5b5ea.54c04a","name":"","func":"msg.packet = msg.payload\nmsg.payload = msg.packet.payload\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[["ca45d44a.8521f8"]]},{"id":"1462de58.262e22","type":"http in","z":"3c4827.4728d7da","name":"","url":"/elefos/key/login/delete","method":"delete","upload":false,"swaggerDoc":"","x":1210,"y":20,"wires":[["be137fb.35d298","fba9eb54.8c5b18"]]},{"id":"be137fb.35d298","type":"debug","z":"3c4827.4728d7da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.query.id","targetType":"msg","x":1540,"y":40,"wires":[]},{"id":"6ce96dda.b02514","type":"http response","z":"3c4827.4728d7da","name":"","statusCode":"","headers":{},"x":2050,"y":20,"wires":[]},{"id":"fba9eb54.8c5b18","type":"function","z":"3c4827.4728d7da","name":"","func":"msg.payload = msg.req.query.id\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":60,"wires":[["cb3411d5.2f7d2"]]},{"id":"3c34db94.8861c4","type":"switch","z":"3c4827.4728d7da","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":100,"wires":[["d1b70346.9121f"],["9618f373.68ce9"]]},{"id":"d1b70346.9121f","type":"function","z":"3c4827.4728d7da","name":"delete sign","func":"msg.payload = \"Deleted ID \" + msg.req.query.id \nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":60,"wires":[["6ce96dda.b02514"]]},{"id":"9618f373.68ce9","type":"function","z":"3c4827.4728d7da","name":"delete sign","func":"msg.payload = \"Deleted fail.\"\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":100,"wires":[["6ce96dda.b02514"]]},{"id":"789e3623.8256d8","type":"http in","z":"3c4827.4728d7da","name":"","url":"/elefos/key/sig/delete","method":"delete","upload":false,"swaggerDoc":"","x":1060,"y":60,"wires":[["a7d1f568.fdeb18"]]},{"id":"a7d1f568.fdeb18","type":"function","z":"3c4827.4728d7da","name":"","func":"msg.payload = msg.req.query.id\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":100,"wires":[["c3fb4bd3.8e60d8"]]}]