CodeDevice/on Pi/server_device_pi.json
[{"id":"350dc605.0a097a","type":"ui_text_input","z":"8396086b.145a68","name":"","label":"Phone Number","tooltip":"","group":"b5880095.4a7bb","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":340,"y":80,"wires":[["84d35b39.5d13a8"]]},{"id":"ad3096c2.2c3528","type":"ui_button","z":"8396086b.145a68","name":"","group":"b5880095.4a7bb","order":3,"width":"4","height":"1","passthru":false,"label":"generate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":120,"wires":[["6b0c9df4.53a744"]]},{"id":"5f04d999.d9a3a8","type":"ui_text","z":"8396086b.145a68","group":"b5880095.4a7bb","order":4,"width":0,"height":0,"name":"status","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2470,"y":280,"wires":[]},{"id":"ec7edc49.c8216","type":"ui_form","z":"8396086b.145a68","name":"","label":"","group":"2b3eab97.24b734","order":2,"width":0,"height":0,"options":[{"label":"Phone Number","value":"user_id","type":"number","required":false},{"label":"Public Key","value":"public_sign","type":"text","required":true},{"label":"Private Key","value":"private_sign","type":"text","required":true}],"formValue":{"user_id":"","public_sign":"","private_sign":""},"payload":"","submit":"Add","cancel":"Cancle","topic":"","x":190,"y":340,"wires":[["55c12d68.4e0774"]]},{"id":"9febd005.83d0f","type":"ui_dropdown","z":"8396086b.145a68","name":"","label":"","tooltip":"","place":"Type Coin","group":"2b3eab97.24b734","order":1,"width":"0","height":"0","passthru":true,"options":[{"label":"Elefos","value":"Elefos","type":"str"},{"label":"Bitcoins","value":"Bitcoins","type":"str"},{"label":"Ethereum","value":"Ethereum","type":"str"},{"label":"Bitcoin Cash","value":"Bitcoin_Cash","type":"str"},{"label":"XRP","value":"XRP","type":"str"},{"label":" Litecoin","value":" Litecoin","type":"str"},{"label":"EOS","value":"EOS","type":"str"},{"label":"Tether","value":"Tether","type":"str"},{"label":"Maker","value":"Maker","type":"str"}],"payload":"","topic":"","x":460,"y":300,"wires":[["dbc903f3.dd59"]]},{"id":"473d52c4.1b79bc","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"packet","targetType":"msg","x":870,"y":380,"wires":[]},{"id":"c266514.ad201b","type":"ui_ui_control","z":"8396086b.145a68","name":"","x":200,"y":300,"wires":[["6fe11436.e528cc"]]},{"id":"e65c2f2e.521c9","type":"ui_text","z":"8396086b.145a68","group":"2b3eab97.24b734","order":3,"width":0,"height":0,"name":"status","label":"","format":"{{msg.payload}}","layout":"row-spread","x":190,"y":240,"wires":[]},{"id":"84d35b39.5d13a8","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"phone","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":80,"wires":[[]]},{"id":"6b0c9df4.53a744","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"phone","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["a6a0c2f.9dd2a4","b0b20d81.07da1"]]},{"id":"a6a0c2f.9dd2a4","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"b0b20d81.07da1","type":"function","z":"8396086b.145a68","name":"packet","func":"msg.packet = {\n    \"user_id\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["f2d5c838.458e88"]]},{"id":"f2d5c838.458e88","type":"exec","z":"8396086b.145a68","command":"sudo bash /home/pi/keypairs/code/key_login.sh","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":true,"name":"","x":920,"y":120,"wires":[["7a5a79ae.6e73b8"],[],[]]},{"id":"7a5a79ae.6e73b8","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/private_login","format":"utf8","chunk":false,"sendError":false,"x":1260,"y":120,"wires":[["f9519ce3.c380b"]]},{"id":"f9519ce3.c380b","type":"function","z":"8396086b.145a68","name":"private","func":"msg.packet.private_login = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":120,"wires":[["9449a42e.efb808"]]},{"id":"9449a42e.efb808","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/public_login","format":"utf8","chunk":false,"sendError":false,"x":1680,"y":120,"wires":[["627c8a1f.668c64"]]},{"id":"627c8a1f.668c64","type":"function","z":"8396086b.145a68","name":"public","func":"msg.packet.public_login = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":120,"wires":[["e15260a4.272c7"]]},{"id":"d12a8c4e.6e886","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4110,"y":160,"wires":[]},{"id":"e15260a4.272c7","type":"function","z":"8396086b.145a68","name":"insert","func":"msg.packet.time = \"\"\nquery = \"INSERT INTO `key_login`(user_id, `public_login`, `private_login`, `time`) VALUES (?,?,?,?)\";\nmsg.payload = [msg.packet.user_id,msg.packet.public_login, msg.packet.private_login, msg.packet.time];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":120,"wires":[["494da845.f05738"]]},{"id":"f6fd33b5.32477","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/private_sign","format":"utf8","chunk":false,"sendError":false,"x":3280,"y":120,"wires":[["3b2a942f.bbc2cc"]]},{"id":"3b2a942f.bbc2cc","type":"function","z":"8396086b.145a68","name":"private_sign","func":"msg.packet.private_sign = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":3510,"y":120,"wires":[["9fe798a4.c0cc18"]]},{"id":"9fe798a4.c0cc18","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/public_sign","format":"utf8","chunk":false,"sendError":false,"x":3740,"y":120,"wires":[["5437e3e3.b9137c"]]},{"id":"5437e3e3.b9137c","type":"function","z":"8396086b.145a68","name":"public_sign","func":"msg.packet.public_sign = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":3970,"y":120,"wires":[["d12a8c4e.6e886","8247ff81.1b344"]]},{"id":"494da845.f05738","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"insert key login","x":2160,"y":120,"wires":[["f182d230.5105"]]},{"id":"f182d230.5105","type":"function","z":"8396086b.145a68","name":"select check","func":" //\"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nquery = \"select public_sign from key_sign where user_id = \"+ msg.packet.user_id //+\"\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2330,"y":120,"wires":[["3ae33002.d46e7"]]},{"id":"3ae33002.d46e7","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"check exist","x":2490,"y":120,"wires":[["925cddf9.d4293"]]},{"id":"6141bfd1.887b2","type":"status","z":"8396086b.145a68","name":"status sql login","scope":["494da845.f05738"],"x":1960,"y":260,"wires":[["f0000d37.454b5","484dd0a2.a4422"]]},{"id":"f0000d37.454b5","type":"debug","z":"8396086b.145a68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2110,"y":280,"wires":[]},{"id":"2ef64682.e5000a","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"insert key sign","x":4260,"y":120,"wires":[[]]},{"id":"8247ff81.1b344","type":"function","z":"8396086b.145a68","name":"insert","func":"var type = \"Elefos\"\nquery = \"INSERT INTO `key_sign`(user_id, `public_sign`, `private_sign`, `type`, `time`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.packet.user_id,msg.packet.public_sign, msg.packet.private_sign, type, msg.packet.time];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":4110,"y":120,"wires":[["2ef64682.e5000a"]]},{"id":"925cddf9.d4293","type":"switch","z":"8396086b.145a68","name":"switch key sign","property":"payload[0]['public_sign']","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":2660,"y":120,"wires":[["35a1a273.c1dd6e","afcee243.91f56"],["9d157bae.df2798","6073ab1e.e7c094"]]},{"id":"35a1a273.c1dd6e","type":"exec","z":"8396086b.145a68","command":"sudo bash /home/pi/keypairs/code/key_sign.sh","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":true,"name":"","x":2940,"y":120,"wires":[["f6fd33b5.32477"],[],[]]},{"id":"484dd0a2.a4422","type":"switch","z":"8396086b.145a68","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":240,"wires":[["3903f15f.1f802e"],["463a6fff.54eb2"]]},{"id":"3903f15f.1f802e","type":"function","z":"8396086b.145a68","name":"error key login","func":"msg.payload = \"Error: duplicate number phone.\"\nreturn msg","outputs":1,"noerr":0,"x":2280,"y":220,"wires":[["5f04d999.d9a3a8"]]},{"id":"463a6fff.54eb2","type":"function","z":"8396086b.145a68","name":"ok key login","func":"msg.payload = \"Success: created the login key.\"\nreturn msg","outputs":1,"noerr":0,"x":2270,"y":260,"wires":[["5f04d999.d9a3a8"]]},{"id":"c133bca6.e41","type":"status","z":"8396086b.145a68","name":"status sql sign","scope":["2ef64682.e5000a"],"x":1950,"y":360,"wires":[["95e92929.663a98","7ba8ff49.9700e"]]},{"id":"95e92929.663a98","type":"debug","z":"8396086b.145a68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2110,"y":400,"wires":[]},{"id":"7ba8ff49.9700e","type":"switch","z":"8396086b.145a68","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":360,"wires":[["30d46b0e.c39c84"],["97896dba.542f2"]]},{"id":"30d46b0e.c39c84","type":"function","z":"8396086b.145a68","name":"error key login","func":"msg.payload = \"Error: adding signature key.\"\nreturn msg","outputs":1,"noerr":0,"x":2280,"y":340,"wires":[["5f04d999.d9a3a8"]]},{"id":"97896dba.542f2","type":"function","z":"8396086b.145a68","name":"ok key login","func":"msg.payload = \"Success: created the signature key.\"\nreturn msg","outputs":1,"noerr":0,"x":2270,"y":380,"wires":[["5f04d999.d9a3a8","9d157bae.df2798"]]},{"id":"9d157bae.df2798","type":"delay","z":"8396086b.145a68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2500,"y":380,"wires":[["f6f4cda.44dc83"]]},{"id":"f6f4cda.44dc83","type":"function","z":"8396086b.145a68","name":"ok key login","func":"msg.payload = \"DONE!\"\nreturn msg","outputs":1,"noerr":0,"x":2670,"y":380,"wires":[["5f04d999.d9a3a8"]]},{"id":"afcee243.91f56","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2850,"y":80,"wires":[]},{"id":"6073ab1e.e7c094","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2850,"y":160,"wires":[]},{"id":"55c12d68.4e0774","type":"function","z":"8396086b.145a68","name":"create packet","func":"msg.packet = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["8876b8b9.003f78"]]},{"id":"dbc903f3.dd59","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"type","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[[]]},{"id":"8876b8b9.003f78","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"type","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":340,"wires":[["ee07044a.3e2638"]]},{"id":"ee07044a.3e2638","type":"function","z":"8396086b.145a68","name":"add type","func":"msg.packet.type = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":340,"wires":[["473d52c4.1b79bc","418676b6.e17e68"]]},{"id":"6fe11436.e528cc","type":"function","z":"8396086b.145a68","name":"default","func":"msg.payload = \"Elefos\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["9febd005.83d0f"]]},{"id":"418676b6.e17e68","type":"function","z":"8396086b.145a68","name":"insert","func":"msg.packet.time = \"\"\nquery = \"INSERT INTO `key_sign`(user_id, `public_sign`, `private_sign`, `type`, `time`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.packet.user_id,msg.packet.public_sign, msg.packet.private_sign, msg.packet.type, msg.packet.time];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":340,"wires":[["55c3c892.3bee08"]]},{"id":"55c3c892.3bee08","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"insert key sign","x":1020,"y":340,"wires":[[]]},{"id":"2e1f92cb.7baebe","type":"function","z":"8396086b.145a68","name":"select public login","func":"msg.packet = msg.payload\nvar out = \"Select public_login from `key_login` where user_id = \" + msg.payload.issuer;  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["adec8d79.59011"]]},{"id":"adec8d79.59011","type":"mysql","z":"8396086b.145a68","mydb":"b6f05c61.2acbd","name":"","x":690,"y":640,"wires":[["3dff04e8.8ed71c","8c5a943.984e568"]]},{"id":"8c5a943.984e568","type":"function","z":"8396086b.145a68","name":"convert","func":"msg.payload = msg.payload[0]['public_login']\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":640,"wires":[["c040eb1e.259768"]]},{"id":"c040eb1e.259768","type":"file","z":"8396086b.145a68","name":"write public login","filename":"/home/pi/keypairs/transaction/public_login","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1040,"y":640,"wires":[["b7228856.09c448"]]},{"id":"b94f85e.68afa78","type":"exec","z":"8396086b.145a68","command":"bash /home/pi/keypairs/code/verify_login.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"verify login","x":1810,"y":640,"wires":[["b4f93ee2.ea6e1","a4fdc4f2.7afb48"],[],[]]},{"id":"dd6e62fa.07df3","type":"switch","z":"8396086b.145a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Verified OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2090,"y":640,"wires":[["bbe2b7e5.d47d48"]]},{"id":"620d28bf.e3b508","type":"exec","z":"8396086b.145a68","command":"bash /home/pi/keypairs/code/sign.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run sign","x":2880,"y":640,"wires":[["3a605e1a.829c72","aad77924.7fae18"],[],[]]},{"id":"2b6b28a5.d0bf78","type":"mysql","z":"8396086b.145a68","mydb":"b6f05c61.2acbd","name":"","x":2390,"y":640,"wires":[["5787f30.5efcc0c"]]},{"id":"bbe2b7e5.d47d48","type":"function","z":"8396086b.145a68","name":"select private","func":"var out = \"Select private_sign from `key_sign` where user_id = \" + msg.packet.issuer + \" and type = '\" + msg.packet.type + \"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":640,"wires":[["2b6b28a5.d0bf78"]]},{"id":"aad77924.7fae18","type":"file in","z":"8396086b.145a68","name":"new sig base64","filename":"/home/pi/keypairs/transaction/signatureBase64","format":"utf8","chunk":false,"sendError":false,"x":3040,"y":640,"wires":[["ae0cdebc.9f79f"]]},{"id":"ae0cdebc.9f79f","type":"function","z":"8396086b.145a68","name":"new packet","func":"msg.packet.sig = msg.payload\nmsg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":3210,"y":640,"wires":[["abbd70be.edd3d"]]},{"id":"abbd70be.edd3d","type":"mqtt out","z":"8396086b.145a68","name":"","topic":"elefos_feedback_transaction","qos":"","retain":"","broker":"7438a202.c35edc","x":3420,"y":640,"wires":[]},{"id":"ed8df205.31493","type":"mqtt in","z":"8396086b.145a68","name":"","topic":"transaction","qos":"2","datatype":"auto","broker":"7438a202.c35edc","x":180,"y":640,"wires":[["7c3eb628.217d48"]]},{"id":"7c3eb628.217d48","type":"json","z":"8396086b.145a68","name":"","property":"payload","action":"","pretty":false,"x":330,"y":640,"wires":[["2e1f92cb.7baebe"]]},{"id":"5787f30.5efcc0c","type":"function","z":"8396086b.145a68","name":"convert","func":"msg.payload = msg.payload[0]['private_sign']\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":640,"wires":[["8b2a6451.e307f8"]]},{"id":"8b2a6451.e307f8","type":"file","z":"8396086b.145a68","name":"sign private","filename":"/home/pi/keypairs/transaction/private_sig","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2710,"y":640,"wires":[["620d28bf.e3b508"]]},{"id":"28a20173.0f296e","type":"inject","z":"8396086b.145a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["bb0344d0.bc7448"]]},{"id":"bb0344d0.bc7448","type":"function","z":"8396086b.145a68","name":"demo packet","func":"msg.payload = {\n\t\"payload\" : {\n\t\t\"cmd\" : \"chuyen 20$ cho Tam\",\n\t\t\"receiver\":  \"192.168.1.2\",\n\t\t\"data\" : \"20$\"\n\t},\n\t\"type\" : \"Elefos\",\n\t\"issuer\" : 366942492,\n\t\"sig\" : \"OU169zjYSQxYfUkuk/qXuPZRLQnOsq9iLsWn/QznfTcbc3mim7OnxJEj/VnL4pCRM2vD0bHUOwsuNrZCWUeQTam4SEcbNhtyv9eU1uuQno/Aay43OKvuzzxMUSWBa/cZGb8r+aOEeSDqA5JjigZJuHsGBwz7AQQP76NvBe8ZhVA=\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["12cae7a5.4e5288"]]},{"id":"12cae7a5.4e5288","type":"mqtt out","z":"8396086b.145a68","name":"","topic":"transaction","qos":"","retain":"","broker":"7438a202.c35edc","x":530,"y":560,"wires":[]},{"id":"3dff04e8.8ed71c","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":700,"wires":[]},{"id":"528ae834.ec9998","type":"file","z":"8396086b.145a68","name":"write transaction","filename":"/home/pi/keypairs/transaction/transaction","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1640,"y":640,"wires":[["b94f85e.68afa78"]]},{"id":"c30ced8e.bfb1b","type":"function","z":"8396086b.145a68","name":"delete sig","func":"delete msg.packet.sig\nmsg.payload = msg.packet.payload\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":640,"wires":[["528ae834.ec9998"]]},{"id":"a4fdc4f2.7afb48","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1950,"y":600,"wires":[]},{"id":"f396bda4.8337b","type":"file","z":"8396086b.145a68","name":"write sig","filename":"/home/pi/keypairs/transaction/sig_loginx","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1340,"y":640,"wires":[["c30ced8e.bfb1b"]]},{"id":"b7228856.09c448","type":"function","z":"8396086b.145a68","name":"write sig","func":"msg.payload = msg.packet.sig\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":640,"wires":[["f396bda4.8337b"]]},{"id":"3a605e1a.829c72","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3030,"y":580,"wires":[]},{"id":"b4f93ee2.ea6e1","type":"function","z":"8396086b.145a68","name":"delete /n","func":"msg.payload = msg.payload.replace(\"\\n\", \"\")\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":640,"wires":[["dd6e62fa.07df3"]]},{"id":"cd225826.b313a8","type":"mqtt in","z":"8396086b.145a68","name":"","topic":"elefos_feedback_transaction","qos":"2","datatype":"auto","broker":"7438a202.c35edc","x":3700,"y":640,"wires":[["6ab1c74f.cdb618"]]},{"id":"a46251bc.320b2","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":4070,"y":640,"wires":[]},{"id":"6ab1c74f.cdb618","type":"json","z":"8396086b.145a68","name":"","property":"payload","action":"","pretty":false,"x":3910,"y":640,"wires":[["a46251bc.320b2"]]},{"id":"853ef7c8.43f358","type":"function","z":"8396086b.145a68","name":"convert","func":"msg.payload = msg.payload[0]['public']\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":560,"wires":[["93464a6a.a94db8"]]},{"id":"93464a6a.a94db8","type":"mqtt out","z":"8396086b.145a68","name":"","topic":"sharePublic","qos":"","retain":"","broker":"7438a202.c35edc","x":890,"y":560,"wires":[]},{"id":"b5880095.4a7bb","type":"ui_group","z":"","name":"Generate Key Login","tab":"9bbd3285.53679","disp":true,"width":"6","collapse":false},{"id":"2b3eab97.24b734","type":"ui_group","z":"","name":"Add Keypairs","tab":"d34b7685.f4acc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"af8a80f8.fb394","type":"MySQLdatabase","z":"8396086b.145a68","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"b6f05c61.2acbd","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"7438a202.c35edc","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9bbd3285.53679","type":"ui_tab","z":"","name":"Generate Key","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d34b7685.f4acc8","type":"ui_tab","z":"","name":"Add Keypairs","icon":"dashboard","order":2,"disabled":false,"hidden":false}]