CodeDevice/on Pi/server_device_pi.json
[{"id":"350dc605.0a097a","type":"ui_text_input","z":"8396086b.145a68","name":"","label":"<i>Nhập số điện thoại tạo key</i>","tooltip":"","group":"b5880095.4a7bb","order":1,"width":0,"height":0,"passthru":true,"mode":"tel","delay":300,"topic":"","x":400,"y":80,"wires":[["84d35b39.5d13a8"]]},{"id":"ad3096c2.2c3528","type":"ui_button","z":"8396086b.145a68","name":"","group":"b5880095.4a7bb","order":3,"width":"4","height":"1","passthru":false,"label":"generate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":120,"wires":[["6b0c9df4.53a744"]]},{"id":"5f04d999.d9a3a8","type":"ui_text","z":"8396086b.145a68","group":"b5880095.4a7bb","order":4,"width":0,"height":0,"name":"status","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2470,"y":280,"wires":[]},{"id":"ec7edc49.c8216","type":"ui_form","z":"8396086b.145a68","name":"","label":"","group":"2b3eab97.24b734","order":2,"width":0,"height":0,"options":[{"label":"Public Key","value":"Public Key","type":"text","required":true},{"label":"Private Key","value":"Private Key","type":"text","required":true}],"formValue":{"Public Key":"","Private Key":""},"payload":"","submit":"Add","cancel":"Cancle","topic":"","x":450,"y":340,"wires":[["9febd005.83d0f"]]},{"id":"9febd005.83d0f","type":"ui_dropdown","z":"8396086b.145a68","name":"","label":"","tooltip":"","place":"Type Coin","group":"2b3eab97.24b734","order":1,"width":"0","height":"0","passthru":true,"options":[{"label":"Elefos","value":"Elefos","type":"str"},{"label":"Bitcoins","value":"Bitcoins","type":"str"},{"label":"Ethereum","value":"Ethereum","type":"str"},{"label":"Bitcoin Cash","value":"Bitcoin_Cash","type":"str"},{"label":"XRP","value":"XRP","type":"str"},{"label":" Litecoin","value":" Litecoin","type":"str"},{"label":"EOS","value":"EOS","type":"str"},{"label":"Tether","value":"Tether","type":"str"},{"label":"Maker","value":"Maker","type":"str"}],"payload":"","topic":"","x":460,"y":300,"wires":[["473d52c4.1b79bc","bf39598b.245e28"]]},{"id":"473d52c4.1b79bc","type":"debug","z":"8396086b.145a68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":260,"wires":[]},{"id":"c266514.ad201b","type":"ui_ui_control","z":"8396086b.145a68","name":"","x":280,"y":300,"wires":[["9febd005.83d0f"]]},{"id":"bf39598b.245e28","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"type","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[[]]},{"id":"e65c2f2e.521c9","type":"ui_text","z":"8396086b.145a68","group":"2b3eab97.24b734","order":3,"width":0,"height":0,"name":"status","label":"","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":360,"wires":[]},{"id":"84d35b39.5d13a8","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"phone","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":80,"wires":[[]]},{"id":"6b0c9df4.53a744","type":"change","z":"8396086b.145a68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"phone","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["a6a0c2f.9dd2a4","b0b20d81.07da1"]]},{"id":"a6a0c2f.9dd2a4","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"b0b20d81.07da1","type":"function","z":"8396086b.145a68","name":"packet","func":"msg.packet = {\n    \"user_id\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["f2d5c838.458e88"]]},{"id":"f2d5c838.458e88","type":"exec","z":"8396086b.145a68","command":"sudo bash /home/pi/keypairs/code/key_login.sh","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":true,"name":"","x":920,"y":120,"wires":[["7a5a79ae.6e73b8"],[],[]]},{"id":"7a5a79ae.6e73b8","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/private_login","format":"utf8","chunk":false,"sendError":false,"x":1260,"y":120,"wires":[["f9519ce3.c380b"]]},{"id":"f9519ce3.c380b","type":"function","z":"8396086b.145a68","name":"private","func":"msg.packet.private_login = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":120,"wires":[["9449a42e.efb808"]]},{"id":"9449a42e.efb808","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/public_login","format":"utf8","chunk":false,"sendError":false,"x":1680,"y":120,"wires":[["627c8a1f.668c64"]]},{"id":"627c8a1f.668c64","type":"function","z":"8396086b.145a68","name":"public","func":"msg.packet.public_login = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":120,"wires":[["e15260a4.272c7"]]},{"id":"d12a8c4e.6e886","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4110,"y":160,"wires":[]},{"id":"e15260a4.272c7","type":"function","z":"8396086b.145a68","name":"insert","func":"msg.packet.time = \"\"\nquery = \"INSERT INTO `key_login`(user_id, `public_login`, `private_login`, `time`) VALUES (?,?,?,?)\";\nmsg.payload = [msg.packet.user_id,msg.packet.public_login, msg.packet.private_login, msg.packet.time];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":120,"wires":[["494da845.f05738"]]},{"id":"f6fd33b5.32477","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/private_sign","format":"utf8","chunk":false,"sendError":false,"x":3280,"y":120,"wires":[["3b2a942f.bbc2cc"]]},{"id":"3b2a942f.bbc2cc","type":"function","z":"8396086b.145a68","name":"private_sign","func":"msg.packet.private_sign = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":3510,"y":120,"wires":[["9fe798a4.c0cc18"]]},{"id":"9fe798a4.c0cc18","type":"file in","z":"8396086b.145a68","name":"","filename":"/home/pi/keypairs/key/public_sign","format":"utf8","chunk":false,"sendError":false,"x":3740,"y":120,"wires":[["5437e3e3.b9137c"]]},{"id":"5437e3e3.b9137c","type":"function","z":"8396086b.145a68","name":"public_sign","func":"msg.packet.public_sign = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":3970,"y":120,"wires":[["d12a8c4e.6e886","8247ff81.1b344"]]},{"id":"494da845.f05738","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"insert key login","x":2160,"y":120,"wires":[["f182d230.5105"]]},{"id":"f182d230.5105","type":"function","z":"8396086b.145a68","name":"select check","func":" //\"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nquery = \"select public_sign from key_sign where user_id = \"+ msg.packet.user_id //+\"\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2330,"y":120,"wires":[["3ae33002.d46e7"]]},{"id":"3ae33002.d46e7","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"check exist","x":2490,"y":120,"wires":[["925cddf9.d4293"]]},{"id":"6141bfd1.887b2","type":"status","z":"8396086b.145a68","name":"status sql login","scope":["494da845.f05738"],"x":1960,"y":260,"wires":[["f0000d37.454b5","484dd0a2.a4422"]]},{"id":"f0000d37.454b5","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2110,"y":280,"wires":[]},{"id":"2ef64682.e5000a","type":"mysql","z":"8396086b.145a68","mydb":"af8a80f8.fb394","name":"insert key sign","x":4260,"y":120,"wires":[[]]},{"id":"8247ff81.1b344","type":"function","z":"8396086b.145a68","name":"insert","func":"var type = \"Elefos\"\nquery = \"INSERT INTO `key_sign`(user_id, `public_sign`, `private_sign`, `type`, `time`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.packet.user_id,msg.packet.public_login, msg.packet.private_login, type, msg.packet.time];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":4110,"y":120,"wires":[["2ef64682.e5000a"]]},{"id":"925cddf9.d4293","type":"switch","z":"8396086b.145a68","name":"switch key sign","property":"payload[0]['public_sign']","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":2660,"y":120,"wires":[["35a1a273.c1dd6e","afcee243.91f56"],["9d157bae.df2798","6073ab1e.e7c094"]]},{"id":"35a1a273.c1dd6e","type":"exec","z":"8396086b.145a68","command":"sudo bash /home/pi/keypairs/code/key_sign.sh","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":true,"name":"","x":2940,"y":120,"wires":[["f6fd33b5.32477"],[],[]]},{"id":"484dd0a2.a4422","type":"switch","z":"8396086b.145a68","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":240,"wires":[["3903f15f.1f802e"],["463a6fff.54eb2"]]},{"id":"3903f15f.1f802e","type":"function","z":"8396086b.145a68","name":"error key login","func":"msg.payload = \"Error: duplicate number phone.\"\nreturn msg","outputs":1,"noerr":0,"x":2280,"y":220,"wires":[["5f04d999.d9a3a8"]]},{"id":"463a6fff.54eb2","type":"function","z":"8396086b.145a68","name":"ok key login","func":"msg.payload = \"Success: created the login key.\"\nreturn msg","outputs":1,"noerr":0,"x":2270,"y":260,"wires":[["5f04d999.d9a3a8"]]},{"id":"c133bca6.e41","type":"status","z":"8396086b.145a68","name":"status sql sign","scope":["2ef64682.e5000a"],"x":1950,"y":360,"wires":[["95e92929.663a98","7ba8ff49.9700e"]]},{"id":"95e92929.663a98","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2110,"y":400,"wires":[]},{"id":"7ba8ff49.9700e","type":"switch","z":"8396086b.145a68","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":360,"wires":[["30d46b0e.c39c84"],["97896dba.542f2"]]},{"id":"30d46b0e.c39c84","type":"function","z":"8396086b.145a68","name":"error key login","func":"msg.payload = \"Error: adding signature key.\"\nreturn msg","outputs":1,"noerr":0,"x":2280,"y":340,"wires":[["5f04d999.d9a3a8"]]},{"id":"97896dba.542f2","type":"function","z":"8396086b.145a68","name":"ok key login","func":"msg.payload = \"Success: created the signature key.\"\nreturn msg","outputs":1,"noerr":0,"x":2270,"y":380,"wires":[["5f04d999.d9a3a8","9d157bae.df2798"]]},{"id":"9d157bae.df2798","type":"delay","z":"8396086b.145a68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2500,"y":380,"wires":[["f6f4cda.44dc83"]]},{"id":"f6f4cda.44dc83","type":"function","z":"8396086b.145a68","name":"ok key login","func":"msg.payload = \"DONE!\"\nreturn msg","outputs":1,"noerr":0,"x":2670,"y":380,"wires":[["5f04d999.d9a3a8"]]},{"id":"afcee243.91f56","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2850,"y":80,"wires":[]},{"id":"6073ab1e.e7c094","type":"debug","z":"8396086b.145a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2850,"y":160,"wires":[]},{"id":"b5880095.4a7bb","type":"ui_group","z":"","name":"Generate Key Login","tab":"9bbd3285.53679","disp":true,"width":"6","collapse":false},{"id":"2b3eab97.24b734","type":"ui_group","z":"","name":"Add Keypairs","tab":"d34b7685.f4acc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"af8a80f8.fb394","type":"MySQLdatabase","z":"8396086b.145a68","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"9bbd3285.53679","type":"ui_tab","z":"","name":"Generate Key","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d34b7685.f4acc8","type":"ui_tab","z":"","name":"Add Keypairs","icon":"dashboard","order":2,"disabled":false,"hidden":false}]