flows_SuperNode001.json
[{"id":"d86d9fe1.0e5c4","type":"tab","label":"p2p","disabled":false,"info":""},{"id":"f07c71ae.416e8","type":"tab","label":"reload_flows","disabled":false,"info":""},{"id":"bd7647b3.5bf2a8","type":"MySQLdatabase","z":"d86d9fe1.0e5c4","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"745143c7.ee452c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9ce48933.adabf8","type":"inject","z":"f07c71ae.416e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["6dc33b94.8a27a4"]]},{"id":"6dc33b94.8a27a4","type":"function","z":"f07c71ae.416e8","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["c0e31a63.c8bd78"]]},{"id":"c0e31a63.c8bd78","type":"http request","z":"f07c71ae.416e8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":480,"y":120,"wires":[["319e253a.4b06aa"]]},{"id":"319e253a.4b06aa","type":"debug","z":"f07c71ae.416e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":120,"wires":[]},{"id":"3deac3c3.d8d46c","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos002","qos":"2","broker":"745143c7.ee452c","x":120,"y":160,"wires":[["96949dbe.c7de3"]]},{"id":"96949dbe.c7de3","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":160,"wires":[["29130636.ce6caa","1593ffac.3f767"]]},{"id":"419475f.ca8028c","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"gui o localhost","topic":"","qos":"","retain":"","broker":"745143c7.ee452c","x":860,"y":200,"wires":[]},{"id":"37f1e74b.c0f7e8","type":"function","z":"d86d9fe1.0e5c4","name":"convert from to","func":"let to = msg.payload.to\nlet from = msg.topic\nlet content = msg.payload.content\nmsg.payload = {\n    \"from\": from,\n    \"content\" : content\n}\nmsg.topic = to\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["419475f.ca8028c","e86cd8e.7aa0128"]]},{"id":"29130636.ce6caa","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":120,"wires":[]},{"id":"62ca04f8.ef0bec","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh gui tu device len","info":"","x":460,"y":240,"wires":[]},{"id":"3a6f3ce4.31c874","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh nay duoc gui tu server khac nen ko co to","info":"","x":660,"y":160,"wires":[]},{"id":"c3c71337.0047d","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"p2p_elefos003","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["2292ff92.275d2"]]},{"id":"29f161a1.8873be","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"p2p_elefos002","topic":"","qos":"","retain":"","broker":"745143c7.ee452c","x":520,"y":300,"wires":[]},{"id":"2292ff92.275d2","type":"function","z":"d86d9fe1.0e5c4","name":"test device gui len","func":"msg.payload = {\n    \"to\" : msg.payload,\n    \"content\" : \"hello tao la raspberry pi\"\n    \n}\nmsg.topic = \"p2p_elefos002\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["29f161a1.8873be"]]},{"id":"67a2acda.1acbf4","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]['status']","propertyType":"msg","rules":[{"vt":"num","t":"eq","v":"1"},{"vt":"num","t":"eq","v":"0"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1050,"y":280,"wires":[[],["6d8d239e.c1c11c"],["cdd39bad.bf7468"]]},{"id":"ecf7d953.a25958","type":"comment","z":"d86d9fe1.0e5c4","name":"Neu khong co tra ve id_server","info":"","x":980,"y":320,"wires":[]},{"id":"83631210.e8e1","type":"comment","z":"d86d9fe1.0e5c4","name":"Neu co thi result 1, ko lam gi ca","info":"","x":1090,"y":200,"wires":[]},{"id":"7a287e2b.fedc8","type":"function","z":"d86d9fe1.0e5c4","name":"reload server","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":3810,"y":300,"wires":[["1de8dfca.29b5b"]]},{"id":"1de8dfca.29b5b","type":"http request","z":"d86d9fe1.0e5c4","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":3970,"y":300,"wires":[["f05c1bb2.a48098"]]},{"id":"ddd1c574.44dd18","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos002","qos":"","retain":"","broker":"745143c7.ee452c","x":320,"y":420,"wires":[]},{"id":"1593ffac.3f767","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":200,"wires":[[],["37f1e74b.c0f7e8"]]},{"id":"e86cd8e.7aa0128","type":"function","z":"d86d9fe1.0e5c4","name":"check list server connected","func":"msg.to = msg.topic\n//var out = \"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nvar out = \"Select status FROM server_connected WHERE id_server = '\" + msg.topic +\"'\";\nmsg.topic = out;\nmsg.request = 0\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["b5bd088.cfd7ef8"]]},{"id":"cdd39bad.bf7468","type":"function","z":"d86d9fe1.0e5c4","name":"lookup ip trong server_dht","func":"var out = \"Select id_server, ip_server FROM server_dht WHERE id_server = '\" + msg.to +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":300,"wires":[["9e430bb5.282698"]]},{"id":"227fddc3.335512","type":"debug","z":"d86d9fe1.0e5c4","name":"truong hop khong tim thay id trong db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1990,"y":180,"wires":[]},{"id":"fc382827.2bfaf8","type":"comment","z":"d86d9fe1.0e5c4","name":"nghe tu server khac id minh, gui xuong device","info":"","x":230,"y":380,"wires":[]},{"id":"e1dcd27f.54b43","type":"comment","z":"d86d9fe1.0e5c4","name":"nghe tu device hoac tu local gui xuong device","info":"","x":190,"y":100,"wires":[]},{"id":"b91a5b4a.444558","type":"function","z":"d86d9fe1.0e5c4","name":"insert json mqtt_broker","func":"\na =  {\n\t\t\"id\": msg.result[0]['id_server'],\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"\",\n\t\t\"broker\": msg.result[0]['ip_server'],\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"closeTopic\": \"\",\n\t\t\"closeQos\": \"0\",\n\t\t\"closePayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}\n\tb = {\n\t\t\"id\": msg.id_mqtt_in,\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": msg._topic, //cai nay chinh la mqtt local\n\t\t\"topic\": msg._topic,\n\t\t\"qos\": \"2\",\n\t\t\"broker\": msg.result[0]['id_server'],\n\t\t\"x\": msg.payload.pos_x,\n\t\t\"y\": msg.payload.pos_y,\n\t\t\"wires\": [[\"7c862079.dce4b\"]]\n\t}\nmsg.payload = \",\" + JSON.stringify(a) + \",\" + JSON.stringify(b)\nreturn msg;","outputs":1,"noerr":0,"x":2400,"y":280,"wires":[["2605e976.0b0a86","84f957b8.faec28"]]},{"id":"84f957b8.faec28","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/mqtt_broker.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2680,"y":280,"wires":[["db6d20ee.b6fca"]]},{"id":"fc66ad83.0f189","type":"comment","z":"d86d9fe1.0e5c4","name":"test gia lap device","info":"","x":130,"y":260,"wires":[]},{"id":"44658c7a.b02ed4","type":"function","z":"d86d9fe1.0e5c4","name":"insert DB list server_connected","func":"\nquery = \"INSERT INTO `server_connected` (`id_server`, `status`) VALUES (?,?)\";\nmsg.payload = [msg.to,0];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":340,"wires":[["61f2bbea.726224"]]},{"id":"99d8364.345f8c8","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":260,"wires":[["4f7bcdf2.be21f4"],["dfdb7b2a.2136d8"]]},{"id":"4346541e.39b59c","type":"comment","z":"d86d9fe1.0e5c4","name":"insert khi co id trong db","info":"","x":2700,"y":400,"wires":[]},{"id":"dfdb7b2a.2136d8","type":"function","z":"d86d9fe1.0e5c4","name":"max(unit), x, y for mqtt_in","func":"msg.result = msg.payload\nvar out = \"Select MAX(unit) as unit, MAX(x) as x, MAX(y) as y FROM mqtt_in ORDER BY unit DESC\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":280,"wires":[["6fa7e120.bcb59"]]},{"id":"2605e976.0b0a86","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2630,"y":320,"wires":[]},{"id":"839b7cf5.07891","type":"function","z":"d86d9fe1.0e5c4","name":"json for value mqtt_in","func":"msg.payload = {\n    \"number\" : msg.payload[0]['unit'] + 1,\n    \"pos_x\" : msg.payload[0]['x'],\n    \"pos_y\" : msg.payload[0]['y'] +40\n}\nmsg.id_mqtt_in = \"id_mqtt_in\" + msg.payload.number.toString()\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":280,"wires":[["b91a5b4a.444558","756e38e3.9f1a58","44658c7a.b02ed4","2101a90a.1ddb16"]]},{"id":"2101a90a.1ddb16","type":"function","z":"d86d9fe1.0e5c4","name":"insert to mqtt_in","func":"\nquery = \"INSERT INTO `mqtt_in` (`id_mqtt_in`, `x`, `y`) VALUES (?,?,?)\";\nmsg.payload = [msg.id_mqtt_in, msg.payload.pos_x, msg.payload.pos_y];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":240,"wires":[["91b39b40.3bd9e8"]]},{"id":"6d8d239e.c1c11c","type":"function","z":"d86d9fe1.0e5c4","name":"resent setup packet","func":"msg.payload =\"tao da gui lai goi tin\"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":260,"wires":[["f4277371.6398"]]},{"id":"f4277371.6398","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":220,"wires":[]},{"id":"c10cb2c.699d85","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"\nquery = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_from + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":60,"wires":[["d9b1124f.707de"]]},{"id":"78de0502.5aa47c","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":60,"wires":[]},{"id":"47d83666.e5ac28","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh update status khi connect thanh cong","info":"","x":1310,"y":20,"wires":[]},{"id":"3b4d1409.5b24dc","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"2","broker":"745143c7.ee452c","x":940,"y":60,"wires":[["119c8edb.018951"]]},{"id":"119c8edb.018951","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":60,"wires":[["c10cb2c.699d85"]]},{"id":"da699be1.95bf18","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":560,"wires":[["5ce765e0.db64ac"]]},{"id":"b1b0f8f4.d95f08","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"","retain":"","broker":"745143c7.ee452c","x":860,"y":560,"wires":[]},{"id":"7cda0d9.221e6f4","type":"exec","z":"d86d9fe1.0e5c4","command":"python /root/.node-red/run/merge.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3470,"y":280,"wires":[["7a287e2b.fedc8","e45b8f58.cde8a"],["e0bff1ba.ca24d"],[]]},{"id":"4f7bcdf2.be21f4","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = \"meo thay nhe\"\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":180,"wires":[["227fddc3.335512"]]},{"id":"b5bd088.cfd7ef8","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"server avaliable","x":880,"y":280,"wires":[["67a2acda.1acbf4"]]},{"id":"9e430bb5.282698","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"lookup ip","x":1440,"y":300,"wires":[["99d8364.345f8c8"]]},{"id":"61f2bbea.726224","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":2700,"y":360,"wires":[[]]},{"id":"6fa7e120.bcb59","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"mqtt_in","x":1980,"y":280,"wires":[["839b7cf5.07891"]]},{"id":"91b39b40.3bd9e8","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"insert mqtt_in","x":2580,"y":240,"wires":[[]]},{"id":"d9b1124f.707de","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":1660,"y":60,"wires":[["78de0502.5aa47c"]]},{"id":"e45b8f58.cde8a","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3680,"y":180,"wires":[]},{"id":"e0bff1ba.ca24d","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3620,"y":420,"wires":[]},{"id":"756e38e3.9f1a58","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2310,"y":180,"wires":[]},{"id":"5c785993.f73c18","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"","retain":"","broker":"","x":4660,"y":220,"wires":[]},{"id":"f05c1bb2.a48098","type":"delay","z":"d86d9fe1.0e5c4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4150,"y":300,"wires":[["32be8476.27b0fc"]]},{"id":"db6d20ee.b6fca","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = msg.to\nreturn msg;","outputs":1,"noerr":0,"x":2920,"y":280,"wires":[["628b49e9.af08b8"]]},{"id":"628b49e9.af08b8","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/id_broker.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":3130,"y":280,"wires":[["7cda0d9.221e6f4"]]},{"id":"4d4973b6.4e392c","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"2","broker":"745143c7.ee452c","x":730,"y":360,"wires":[["7f03f305.f636fc"]]},{"id":"b0f0633e.b3acc","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.to = msg.payload.id_server_from\nmsg._topic = msg.payload.id_server_to\nmsg.request = 1\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":360,"wires":[["cdd39bad.bf7468"]]},{"id":"7f03f305.f636fc","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":900,"y":360,"wires":[["b0f0633e.b3acc"]]},{"id":"4332ed1a.3f0294","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"request","propertyType":"msg","rules":[{"vt":"str","t":"eq","v":"0"},{"vt":"num","t":"eq","v":"1"}],"checkall":"true","repair":false,"outputs":2,"x":4430,"y":300,"wires":[["5c785993.f73c18"],["9db590ef.bae"]]},{"id":"add7df24.1fe68","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":520,"wires":[["27e32392.e4eabc"]]},{"id":"27e32392.e4eabc","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = {\n    \"id_server_from\" : \"p2p_elefos003\",\n    \"id_server_to\" : \"p2p_elefos002\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["cdfa8c8f.ce6fc"]]},{"id":"cdfa8c8f.ce6fc","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"","retain":"","broker":"745143c7.ee452c","x":870,"y":520,"wires":[]},{"id":"9db590ef.bae","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"\nquery = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_to + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":4680,"y":320,"wires":[["509f70ac.0a676"]]},{"id":"98876191.f8248","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":4730,"y":420,"wires":[]},{"id":"509f70ac.0a676","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":4540,"y":380,"wires":[["98876191.f8248","4cbd32b1.ccdcdc"]]},{"id":"44ae851a.2931ec","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"","retain":"","broker":"745143c7.ee452c","x":4900,"y":380,"wires":[]},{"id":"4cbd32b1.ccdcdc","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = msg.backup\nreturn msg;","outputs":1,"noerr":0,"x":4730,"y":380,"wires":[["44ae851a.2931ec"]]},{"id":"32be8476.27b0fc","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = {\n    \"id_server_from\" : msg._topic,\n    \"id_server_to\" : msg.to\n}\nmsg.backup = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":4310,"y":300,"wires":[["4332ed1a.3f0294"]]},{"id":"5ce765e0.db64ac","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = {\n    \"id_server_from\" : \"p2p_elefos003\",\n    \"id_server_to\" : \"p2p_elefos002\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":560,"wires":[["b1b0f8f4.d95f08"]]}]