flows_SuperNode002.json
[{"id":"d86d9fe1.0e5c4","type":"tab","label":"p2p","disabled":false,"info":""},{"id":"f07c71ae.416e8","type":"tab","label":"reload_flows","disabled":false,"info":""},{"id":"21aa4ee1.0f0142","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd7647b3.5bf2a8","type":"MySQLdatabase","z":"d86d9fe1.0e5c4","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"p2p_elefos002","type":"mqtt-broker","z":"","name":"","broker":"68.183.234.96","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9ce48933.adabf8","type":"inject","z":"f07c71ae.416e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["6dc33b94.8a27a4"]]},{"id":"6dc33b94.8a27a4","type":"function","z":"f07c71ae.416e8","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["c0e31a63.c8bd78"]]},{"id":"c0e31a63.c8bd78","type":"http request","z":"f07c71ae.416e8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":470,"y":120,"wires":[["319e253a.4b06aa"]]},{"id":"319e253a.4b06aa","type":"debug","z":"f07c71ae.416e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":120,"wires":[]},{"id":"900cc814.f56718","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos003","qos":"2","broker":"21aa4ee1.0f0142","x":120,"y":160,"wires":[["2d36260e.8fdd5a"]]},{"id":"2d36260e.8fdd5a","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":160,"wires":[["d80bc1.e253244","9892d5e.0c95928"]]},{"id":"65ce27b2.836048","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"gui o localhost","topic":"","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":860,"y":200,"wires":[]},{"id":"8567c99b.ba70b8","type":"function","z":"d86d9fe1.0e5c4","name":"convert from to","func":"let to = msg.payload.to\nlet from = msg.topic\nlet content = msg.payload.content\nmsg.payload = {\n    \"from\": from,\n    \"content\" : content\n}\nmsg.topic = to\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["65ce27b2.836048","4202006e.d86d9"]]},{"id":"d80bc1.e253244","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":120,"wires":[]},{"id":"1026592c.238cf7","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh gui tu device len","info":"","x":460,"y":240,"wires":[]},{"id":"cce2b9b8.6ce398","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh nay duoc gui tu server khac nen ko co to","info":"","x":660,"y":160,"wires":[]},{"id":"2b20d3f0.9d997c","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"p2p_elefos002","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["1640597d.85d897"]]},{"id":"832ed2ca.56681","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"p2p_elefos003","topic":"","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":520,"y":300,"wires":[]},{"id":"1640597d.85d897","type":"function","z":"d86d9fe1.0e5c4","name":"test device gui len","func":"msg.payload = {\n    \"to\" : msg.payload,\n    \"content\" : \"hello tao la raspberry pi\"\n    \n}\nmsg.topic = \"p2p_elefos003\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["832ed2ca.56681"]]},{"id":"1ee867f7.4e18b8","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]['status']","propertyType":"msg","rules":[{"vt":"num","t":"eq","v":"1"},{"vt":"num","t":"eq","v":"0"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1050,"y":280,"wires":[[],["b9e41dd9.f40ad"],["aaca09c2.d73838"]]},{"id":"15ecfdf2.1e53e2","type":"comment","z":"d86d9fe1.0e5c4","name":"Neu khong co tra ve id_server","info":"","x":980,"y":320,"wires":[]},{"id":"4045467b.55c658","type":"comment","z":"d86d9fe1.0e5c4","name":"Neu co thi result 1, ko lam gi ca","info":"","x":1090,"y":200,"wires":[]},{"id":"af779f0f.f1244","type":"function","z":"d86d9fe1.0e5c4","name":"reload server","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":3810,"y":300,"wires":[["9baee4e9.9ce568"]]},{"id":"9baee4e9.9ce568","type":"http request","z":"d86d9fe1.0e5c4","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":3970,"y":300,"wires":[["4e013598.4922ac"]]},{"id":"7c862079.dce4b","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos003","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":320,"y":420,"wires":[]},{"id":"9892d5e.0c95928","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":200,"wires":[[],["8567c99b.ba70b8"]]},{"id":"4202006e.d86d9","type":"function","z":"d86d9fe1.0e5c4","name":"check list server connected","func":"msg.to = msg.topic\n//var out = \"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nvar out = \"Select status FROM server_connected WHERE id_server = '\" + msg.topic +\"'\";\nmsg.topic = out;\nmsg.request = 0\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["f39ecccd.ec7cc"]]},{"id":"aaca09c2.d73838","type":"function","z":"d86d9fe1.0e5c4","name":"lookup ip trong server_dht","func":"var out = \"Select id_server, ip_server FROM server_dht WHERE id_server = '\" + msg.to +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":300,"wires":[["68e280c8.635c"]]},{"id":"b2fab2b4.b2a3f","type":"debug","z":"d86d9fe1.0e5c4","name":"truong hop khong tim thay id trong db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1990,"y":180,"wires":[]},{"id":"eb583fe6.e5b9","type":"comment","z":"d86d9fe1.0e5c4","name":"nghe tu server khac id minh, gui xuong device","info":"","x":230,"y":380,"wires":[]},{"id":"a44c0ffc.39107","type":"comment","z":"d86d9fe1.0e5c4","name":"nghe tu device hoac tu local gui xuong device","info":"","x":190,"y":100,"wires":[]},{"id":"de2fdf22.99615","type":"function","z":"d86d9fe1.0e5c4","name":"insert json mqtt_broker","func":"\na =  {\n\t\t\"id\": msg.result[0]['id_server'],\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"\",\n\t\t\"broker\": msg.result[0]['ip_server'],\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"closeTopic\": \"\",\n\t\t\"closeQos\": \"0\",\n\t\t\"closePayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}\n\tb = {\n\t\t\"id\": msg.id_mqtt_in,\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": msg._topic, //cai nay chinh la mqtt local\n\t\t\"topic\": msg._topic,\n\t\t\"qos\": \"2\",\n\t\t\"broker\": msg.result[0]['id_server'],\n\t\t\"x\": msg.payload.pos_x,\n\t\t\"y\": msg.payload.pos_y,\n\t\t\"wires\": [[\"7c862079.dce4b\"]]\n\t}\nmsg.payload = \",\" + JSON.stringify(a) + \",\" + JSON.stringify(b)\nreturn msg;","outputs":1,"noerr":0,"x":2400,"y":280,"wires":[["dea7b24c.96f7e","f213c710.ee41c8"]]},{"id":"f213c710.ee41c8","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/mqtt_broker.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2680,"y":280,"wires":[["2be26853.79d218"]]},{"id":"7e15d0a4.d5a79","type":"comment","z":"d86d9fe1.0e5c4","name":"test gia lap device","info":"","x":130,"y":260,"wires":[]},{"id":"6c3d75c1.0a0b5c","type":"function","z":"d86d9fe1.0e5c4","name":"insert DB list server_connected","func":"\nquery = \"INSERT INTO `server_connected` (`id_server`, `status`) VALUES (?,?)\";\nmsg.payload = [msg.to,0];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":340,"wires":[["7a15e2d1.00878c"]]},{"id":"70fcc23.4790a3c","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":260,"wires":[["3795eabf.bef5b6"],["563b8a32.efbc54"]]},{"id":"107b2634.238bca","type":"comment","z":"d86d9fe1.0e5c4","name":"insert khi co id trong db","info":"","x":2700,"y":400,"wires":[]},{"id":"563b8a32.efbc54","type":"function","z":"d86d9fe1.0e5c4","name":"max(unit), x, y for mqtt_in","func":"msg.result = msg.payload\nvar out = \"Select MAX(unit) as unit, MAX(x) as x, MAX(y) as y FROM mqtt_in ORDER BY unit DESC\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":280,"wires":[["aea68bd2.1d6338"]]},{"id":"dea7b24c.96f7e","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2630,"y":320,"wires":[]},{"id":"44541669.65db68","type":"function","z":"d86d9fe1.0e5c4","name":"json for value mqtt_in","func":"msg.payload = {\n    \"number\" : msg.payload[0]['unit'] + 1,\n    \"pos_x\" : msg.payload[0]['x'],\n    \"pos_y\" : msg.payload[0]['y'] +40\n}\nmsg.id_mqtt_in = \"id_mqtt_in\" + msg.payload.number.toString()\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":280,"wires":[["de2fdf22.99615","51ecbf1a.aaaf8","6c3d75c1.0a0b5c","d9cce086.a446b"]]},{"id":"d9cce086.a446b","type":"function","z":"d86d9fe1.0e5c4","name":"insert to mqtt_in","func":"\nquery = \"INSERT INTO `mqtt_in` (`id_mqtt_in`, `x`, `y`) VALUES (?,?,?)\";\nmsg.payload = [msg.id_mqtt_in, msg.payload.pos_x, msg.payload.pos_y];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":240,"wires":[["4de7f33.88afc0c"]]},{"id":"b9e41dd9.f40ad","type":"function","z":"d86d9fe1.0e5c4","name":"resent setup packet","func":"msg.payload =\"tao da gui lai goi tin\"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":260,"wires":[["a59ad69b.7e6608"]]},{"id":"a59ad69b.7e6608","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":220,"wires":[]},{"id":"c96ebdaa.57833","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"query = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_from + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":60,"wires":[["6337ec20.242ad4"]]},{"id":"da7d90e0.6eab3","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":60,"wires":[]},{"id":"8ae6ec67.ceb12","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh update status khi connect thanh cong","info":"","x":1310,"y":20,"wires":[]},{"id":"d7dc6b0e.b6a358","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"2","broker":"21aa4ee1.0f0142","x":940,"y":60,"wires":[["d5212710.61fc78"]]},{"id":"d5212710.61fc78","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":60,"wires":[["c96ebdaa.57833"]]},{"id":"e842cdd5.96be3","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":560,"wires":[["4b190bc4.876d44"]]},{"id":"3b81b00e.8906d","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":860,"y":560,"wires":[]},{"id":"536f2b02.050f34","type":"exec","z":"d86d9fe1.0e5c4","command":"python /root/.node-red/run/merge.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3470,"y":280,"wires":[["af779f0f.f1244","a19bc316.7e049"],["e75e5b6b.aaec38"],[]]},{"id":"3795eabf.bef5b6","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = \"meo thay nhe\"\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":180,"wires":[["b2fab2b4.b2a3f"]]},{"id":"f39ecccd.ec7cc","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"server avaliable","x":880,"y":280,"wires":[["1ee867f7.4e18b8"]]},{"id":"68e280c8.635c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"lookup ip","x":1440,"y":300,"wires":[["70fcc23.4790a3c"]]},{"id":"7a15e2d1.00878c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":2700,"y":360,"wires":[[]]},{"id":"aea68bd2.1d6338","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"mqtt_in","x":1980,"y":280,"wires":[["44541669.65db68"]]},{"id":"4de7f33.88afc0c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"insert mqtt_in","x":2580,"y":240,"wires":[[]]},{"id":"6337ec20.242ad4","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":1660,"y":60,"wires":[["da7d90e0.6eab3"]]},{"id":"a19bc316.7e049","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3680,"y":180,"wires":[]},{"id":"e75e5b6b.aaec38","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3620,"y":420,"wires":[]},{"id":"51ecbf1a.aaaf8","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2310,"y":180,"wires":[]},{"id":"elefos_mqtt_setup","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"","retain":"","broker":"","x":4660,"y":220,"wires":[]},{"id":"4e013598.4922ac","type":"delay","z":"d86d9fe1.0e5c4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4150,"y":300,"wires":[["9dec500b.18901"]]},{"id":"2be26853.79d218","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = msg.to\nreturn msg;","outputs":1,"noerr":0,"x":2920,"y":280,"wires":[["402dc258.d72e6c"]]},{"id":"402dc258.d72e6c","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/id_broker.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":3130,"y":280,"wires":[["536f2b02.050f34"]]},{"id":"6f559592.e0a4cc","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"2","broker":"21aa4ee1.0f0142","x":730,"y":360,"wires":[["1d5e3756.6d5779"]]},{"id":"d8cea3e2.3e542","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.to = msg.payload.id_server_from\nmsg._topic = msg.payload.id_server_to\nmsg.request = 1\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":360,"wires":[["aaca09c2.d73838"]]},{"id":"1d5e3756.6d5779","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":900,"y":360,"wires":[["d8cea3e2.3e542"]]},{"id":"4e17efc8.be447","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"request","propertyType":"msg","rules":[{"vt":"str","t":"eq","v":"0"},{"vt":"num","t":"eq","v":"1"}],"checkall":"true","repair":false,"outputs":2,"x":4430,"y":300,"wires":[["elefos_mqtt_setup"],["db85f0b0.5e308"]]},{"id":"f012785.0ac9388","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":520,"wires":[["94e5feee.2d22f"]]},{"id":"94e5feee.2d22f","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = {\n    \"id_server_from\" : \"p2p_elefos002\",\n    \"id_server_to\" : \"p2p_elefos003\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["86ccf28b.e0fab"]]},{"id":"86ccf28b.e0fab","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":870,"y":520,"wires":[]},{"id":"db85f0b0.5e308","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"\nquery = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_to + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":4680,"y":320,"wires":[["ed47d54a.ec4a68"]]},{"id":"93aec8ea.0cf3a8","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":4730,"y":420,"wires":[]},{"id":"ed47d54a.ec4a68","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":4540,"y":380,"wires":[["93aec8ea.0cf3a8","a5e3d89d.3ec938"]]},{"id":"elefos_mqtt_response","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"","retain":"","broker":"p2p_elefos002","x":4900,"y":380,"wires":[]},{"id":"a5e3d89d.3ec938","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = msg.backup\nreturn msg;","outputs":1,"noerr":0,"x":4730,"y":380,"wires":[["elefos_mqtt_response"]]},{"id":"9dec500b.18901","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = {\n    \"id_server_from\" : msg._topic,\n    \"id_server_to\" : msg.to\n}\nmsg.backup = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":4310,"y":300,"wires":[["4e17efc8.be447"]]},{"id":"id_mqtt_in17","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"p2p_elefos003","topic":"p2p_elefos003","qos":"2","broker":"p2p_elefos002","x":120,"y":540,"wires":[["7c862079.dce4b"]]},{"id":"4b190bc4.876d44","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = {\n    \"id_server_from\" : \"p2p_elefos002\",\n    \"id_server_to\" : \"p2p_elefos003\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":560,"wires":[["3b81b00e.8906d"]]}]