flows_SuperNode002.json
[
  {
    "disabled": false, 
    "info": "", 
    "type": "tab", 
    "id": "d86d9fe1.0e5c4", 
    "label": "p2p"
  }, 
  {
    "disabled": false, 
    "info": "", 
    "type": "tab", 
    "id": "f07c71ae.416e8", 
    "label": "reload_flows"
  }, 
  {
    "cleansession": true, 
    "name": "", 
    "birthPayload": "", 
    "willTopic": "", 
    "willPayload": "", 
    "willQos": "0", 
    "broker": "localhost", 
    "clientid": "", 
    "id": "21aa4ee1.0f0142", 
    "usetls": false, 
    "compatmode": true, 
    "birthTopic": "", 
    "z": "", 
    "type": "mqtt-broker", 
    "port": "1883", 
    "birthQos": "0", 
    "keepalive": "60"
  }, 
  {
    "tz": "", 
    "db": "NDT_table", 
    "port": "3306", 
    "host": "127.0.0.1", 
    "z": "d86d9fe1.0e5c4", 
    "type": "MySQLdatabase", 
    "id": "bd7647b3.5bf2a8"
  }, 
  {
    "closeQos": "0", 
    "cleansession": true, 
    "name": "", 
    "birthPayload": "", 
    "willTopic": "", 
    "willPayload": "", 
    "closePayload": "", 
    "willQos": "0", 
    "broker": "157.230.34.0", 
    "clientid": "", 
    "id": "p2p_elefos003", 
    "closeTopic": "", 
    "usetls": false, 
    "compatmode": true, 
    "birthTopic": "", 
    "z": "", 
    "type": "mqtt-broker", 
    "port": "1883", 
    "birthQos": "0", 
    "keepalive": "60"
  }, 
  {
    "repeat": "", 
    "y": 120, 
    "name": "", 
    "crontab": "", 
    "id": "9ce48933.adabf8", 
    "topic": "", 
    "payloadType": "date", 
    "wires": [
      [
        "6dc33b94.8a27a4"
      ]
    ], 
    "onceDelay": 0.1, 
    "x": 140, 
    "z": "f07c71ae.416e8", 
    "type": "inject", 
    "payload": "", 
    "once": false
  }, 
  {
    "wires": [
      [
        "c0e31a63.c8bd78"
      ]
    ], 
    "name": "", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;", 
    "y": 120, 
    "x": 310, 
    "z": "f07c71ae.416e8", 
    "type": "function", 
    "id": "6dc33b94.8a27a4"
  }, 
  {
    "tls": "", 
    "wires": [
      [
        "319e253a.4b06aa"
      ]
    ], 
    "name": "", 
    "url": "http://localhost:1880/flows", 
    "ret": "txt", 
    "id": "c0e31a63.c8bd78", 
    "y": 120, 
    "x": 470, 
    "z": "f07c71ae.416e8", 
    "type": "http request", 
    "method": "POST"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 120, 
    "tostatus": false, 
    "active": true, 
    "x": 640, 
    "z": "f07c71ae.416e8", 
    "type": "debug", 
    "id": "319e253a.4b06aa", 
    "complete": "false"
  }, 
  {
    "wires": [
      [
        "2d36260e.8fdd5a"
      ]
    ], 
    "qos": "2", 
    "name": "", 
    "broker": "21aa4ee1.0f0142", 
    "topic": "p2p_elefos002", 
    "y": 160, 
    "x": 120, 
    "z": "d86d9fe1.0e5c4", 
    "type": "mqtt in", 
    "id": "900cc814.f56718"
  }, 
  {
    "z": "d86d9fe1.0e5c4", 
    "name": "", 
    "y": 160, 
    "wires": [
      [
        "9892d5e.0c95928"
      ]
    ], 
    "pretty": false, 
    "action": "", 
    "x": 350, 
    "property": "payload", 
    "type": "json", 
    "id": "2d36260e.8fdd5a"
  }, 
  {
    "wires": [], 
    "qos": "", 
    "name": "gui o localhost", 
    "broker": "21aa4ee1.0f0142", 
    "topic": "", 
    "x": 860, 
    "y": 200, 
    "retain": "", 
    "z": "d86d9fe1.0e5c4", 
    "type": "mqtt out", 
    "id": "65ce27b2.836048"
  }, 
  {
    "wires": [
      [
        "65ce27b2.836048", 
        "4202006e.d86d9"
      ]
    ], 
    "name": "convert from to", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.to = msg.payload.to\nlet from = msg.topic\nlet content = msg.payload.content\nmsg.payload = {\n    \"from\": from,\n    \"content\" : content\n}\nmsg.msg_backup = msg.payload\nmsg.topic = msg.to\nmsg.request = 0\nreturn msg;", 
    "y": 200, 
    "x": 600, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "8567c99b.ba70b8"
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "nhanh gui tu device len", 
    "y": 240, 
    "x": 460, 
    "z": "d86d9fe1.0e5c4", 
    "type": "comment", 
    "id": "1026592c.238cf7"
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "nhanh nay duoc gui tu server khac nen ko co to", 
    "y": 160, 
    "x": 660, 
    "z": "d86d9fe1.0e5c4", 
    "type": "comment", 
    "id": "cce2b9b8.6ce398"
  }, 
  {
    "repeat": "", 
    "y": 300, 
    "name": "", 
    "crontab": "", 
    "id": "2b20d3f0.9d997c", 
    "topic": "", 
    "payloadType": "str", 
    "wires": [
      [
        "1640597d.85d897"
      ]
    ], 
    "onceDelay": 0.1, 
    "x": 120, 
    "z": "d86d9fe1.0e5c4", 
    "type": "inject", 
    "payload": "p2p_elefos003", 
    "once": false
  }, 
  {
    "wires": [], 
    "qos": "", 
    "name": "p2p_elefos002", 
    "broker": "21aa4ee1.0f0142", 
    "topic": "", 
    "x": 500, 
    "y": 300, 
    "retain": "", 
    "z": "d86d9fe1.0e5c4", 
    "type": "mqtt out", 
    "id": "832ed2ca.56681"
  }, 
  {
    "wires": [
      [
        "832ed2ca.56681"
      ]
    ], 
    "name": "test device gui len", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = {\n    \"to\" : msg.payload,\n    \"content\" : \"hello tao la 68\"\n    \n}\nmsg.topic = \"p2p_elefos002\"\nreturn msg;", 
    "y": 300, 
    "x": 310, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "1640597d.85d897"
  }, 
  {
    "checkall": "true", 
    "z": "d86d9fe1.0e5c4", 
    "name": "", 
    "repair": false, 
    "rules": [
      {
        "vt": "num", 
        "t": "eq", 
        "v": "1"
      }, 
      {
        "vt": "num", 
        "t": "eq", 
        "v": "0"
      }, 
      {
        "t": "else"
      }
    ], 
    "outputs": 3, 
    "wires": [
      [], 
      [
        "f37418cb.a97f98", 
        "1cc3a2ff.ddbf8d"
      ], 
      [
        "aaca09c2.d73838"
      ]
    ], 
    "propertyType": "msg", 
    "y": 280, 
    "x": 1050, 
    "property": "payload[0]['status']", 
    "type": "switch", 
    "id": "1ee867f7.4e18b8"
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "Neu khong co tra ve id_server", 
    "y": 320, 
    "x": 720, 
    "z": "d86d9fe1.0e5c4", 
    "type": "comment", 
    "id": "15ecfdf2.1e53e2"
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "Neu co thi result 1, ko lam gi ca", 
    "y": 200, 
    "x": 1090, 
    "z": "d86d9fe1.0e5c4", 
    "type": "comment", 
    "id": "4045467b.55c658"
  }, 
  {
    "wires": [
      [
        "9baee4e9.9ce568"
      ]
    ], 
    "name": "reload server", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;", 
    "y": 300, 
    "x": 3810, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "af779f0f.f1244"
  }, 
  {
    "tls": "", 
    "wires": [
      [
        "4e013598.4922ac"
      ]
    ], 
    "name": "", 
    "url": "http://localhost:1880/flows", 
    "ret": "txt", 
    "id": "9baee4e9.9ce568", 
    "y": 300, 
    "x": 3970, 
    "z": "d86d9fe1.0e5c4", 
    "type": "http request", 
    "method": "POST"
  }, 
  {
    "wires": [], 
    "qos": "", 
    "name": "", 
    "broker": "21aa4ee1.0f0142", 
    "topic": "p2p_elefos002", 
    "x": 1120, 
    "y": 360, 
    "retain": "", 
    "z": "d86d9fe1.0e5c4", 
    "type": "mqtt out", 
    "id": "7c862079.dce4b"
  }, 
  {
    "checkall": "true", 
    "z": "d86d9fe1.0e5c4", 
    "name": "", 
    "repair": false, 
    "rules": [
      {
        "t": "null"
      }, 
      {
        "t": "nnull"
      }
    ], 
    "outputs": 2, 
    "wires": [
      [], 
      [
        "8567c99b.ba70b8"
      ]
    ], 
    "propertyType": "msg", 
    "y": 200, 
    "x": 440, 
    "property": "payload.to", 
    "type": "switch", 
    "id": "9892d5e.0c95928"
  }, 
  {
    "wires": [
      [
        "f39ecccd.ec7cc"
      ]
    ], 
    "name": "check list server connected", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "\n//var out = \"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nvar out = \"Select status FROM server_connected WHERE id_server = '\" + msg.to +\"'\";\nmsg.topic = out;\nreturn msg;", 
    "y": 240, 
    "x": 780, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "4202006e.d86d9"
  }, 
  {
    "wires": [
      [
        "68e280c8.635c"
      ]
    ], 
    "name": "lookup ip trong server_dht", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "var out = \"Select id_server, ip_server FROM server_dht WHERE id_server = '\" + msg.to +\"'\";  \nmsg.topic = out;\nreturn msg;", 
    "y": 240, 
    "x": 1290, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "aaca09c2.d73838"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "truong hop khong tim thay id trong db", 
    "tosidebar": true, 
    "y": 180, 
    "tostatus": false, 
    "active": true, 
    "x": 1990, 
    "z": "d86d9fe1.0e5c4", 
    "type": "debug", 
    "id": "b2fab2b4.b2a3f", 
    "complete": "payload"
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "nghe tu server khac id minh, gui xuong device", 
    "y": 360, 
    "x": 1410, 
    "z": "d86d9fe1.0e5c4", 
    "type": "comment", 
    "id": "eb583fe6.e5b9"
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "nghe tu device hoac tu local gui xuong device", 
    "y": 100, 
    "x": 190, 
    "z": "d86d9fe1.0e5c4", 
    "type": "comment", 
    "id": "a44c0ffc.39107"
  }, 
  {
    "wires": [
      [
        "dea7b24c.96f7e", 
        "f213c710.ee41c8"
      ]
    ], 
    "name": "insert json mqtt_broker", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "\na =  {\n\t\t\"id\": msg.result[0]['id_server'],\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"\",\n\t\t\"broker\": msg.result[0]['ip_server'],\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"closeTopic\": \"\",\n\t\t\"closeQos\": \"0\",\n\t\t\"closePayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}\n\tb = {\n\t\t\"id\": msg.id_mqtt_in,\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": msg._topic, //cai nay chinh la mqtt local\n\t\t\"topic\": msg._topic,\n\t\t\"qos\": \"2\",\n\t\t\"broker\": msg.result[0]['id_server'],\n\t\t\"x\": msg.payload.pos_x,\n\t\t\"y\": msg.payload.pos_y,\n\t\t\"wires\": [[\"7c862079.dce4b\"]]\n\t}\nmsg.payload = \",\" + JSON.stringify(a) + \",\" + JSON.stringify(b)\nreturn msg;", 
    "y": 280, 
    "x": 2400, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "de2fdf22.99615"
  }, 
  {
    "createDir": false, 
    "wires": [
      [
        "2be26853.79d218"
      ]
    ], 
    "name": "", 
    "overwriteFile": "true", 
    "filename": "/root/.node-red/run/mqtt_broker.json", 
    "x": 2680, 
    "y": 280, 
    "appendNewline": true, 
    "z": "d86d9fe1.0e5c4", 
    "type": "file", 
    "id": "f213c710.ee41c8"
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "test gia lap device", 
    "y": 260, 
    "x": 130, 
    "z": "d86d9fe1.0e5c4", 
    "type": "comment", 
    "id": "7e15d0a4.d5a79"
  }, 
  {
    "wires": [
      [
        "7a15e2d1.00878c"
      ]
    ], 
    "name": "insert DB list server_connected", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "\nquery = \"INSERT INTO `server_connected` (`id_server`, `status`) VALUES (?,?)\";\nmsg.payload = [msg.to,0];\nmsg.topic = query;\nreturn msg;", 
    "y": 340, 
    "x": 2430, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "6c3d75c1.0a0b5c"
  }, 
  {
    "checkall": "true", 
    "z": "d86d9fe1.0e5c4", 
    "name": "", 
    "repair": false, 
    "rules": [
      {
        "t": "null"
      }, 
      {
        "t": "nnull"
      }
    ], 
    "outputs": 2, 
    "wires": [
      [
        "3795eabf.bef5b6"
      ], 
      [
        "563b8a32.efbc54"
      ]
    ], 
    "propertyType": "msg", 
    "y": 260, 
    "x": 1590, 
    "property": "payload[0]", 
    "type": "switch", 
    "id": "70fcc23.4790a3c"
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "insert khi co id trong db", 
    "y": 400, 
    "x": 2700, 
    "z": "d86d9fe1.0e5c4", 
    "type": "comment", 
    "id": "107b2634.238bca"
  }, 
  {
    "wires": [
      [
        "aea68bd2.1d6338"
      ]
    ], 
    "name": "max(unit), x, y for mqtt_in", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.result = msg.payload\nvar out = \"Select MAX(unit) as unit, MAX(x) as x, MAX(y) as y FROM mqtt_in ORDER BY unit DESC\";  \nmsg.topic = out;\nreturn msg;", 
    "y": 280, 
    "x": 1790, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "563b8a32.efbc54"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 320, 
    "tostatus": false, 
    "active": true, 
    "x": 2630, 
    "z": "d86d9fe1.0e5c4", 
    "type": "debug", 
    "id": "dea7b24c.96f7e", 
    "complete": "true"
  }, 
  {
    "wires": [
      [
        "de2fdf22.99615", 
        "51ecbf1a.aaaf8", 
        "6c3d75c1.0a0b5c", 
        "d9cce086.a446b"
      ]
    ], 
    "name": "json for value mqtt_in", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = {\n    \"number\" : msg.payload[0]['unit'] + 1,\n    \"pos_x\" : msg.payload[0]['x'],\n    \"pos_y\" : msg.payload[0]['y'] +40\n}\nmsg.id_mqtt_in = \"id_mqtt_in\" + msg.payload.number.toString()\nreturn msg;", 
    "y": 280, 
    "x": 2160, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "44541669.65db68"
  }, 
  {
    "wires": [
      [
        "4de7f33.88afc0c"
      ]
    ], 
    "name": "insert to mqtt_in", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "\nquery = \"INSERT INTO `mqtt_in` (`id_mqtt_in`, `x`, `y`) VALUES (?,?,?)\";\nmsg.payload = [msg.id_mqtt_in, msg.payload.pos_x, msg.payload.pos_y];\nmsg.topic = query;\nreturn msg;", 
    "y": 240, 
    "x": 2380, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "d9cce086.a446b"
  }, 
  {
    "wires": [
      [
        "6337ec20.242ad4"
      ]
    ], 
    "name": "update status DB list server_connected", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "query = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_from + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;", 
    "y": 60, 
    "x": 1360, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "c96ebdaa.57833"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 60, 
    "tostatus": false, 
    "active": true, 
    "x": 1830, 
    "z": "d86d9fe1.0e5c4", 
    "type": "debug", 
    "id": "da7d90e0.6eab3", 
    "complete": "true"
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "nhanh update status khi connect thanh cong", 
    "y": 20, 
    "x": 1310, 
    "z": "d86d9fe1.0e5c4", 
    "type": "comment", 
    "id": "8ae6ec67.ceb12"
  }, 
  {
    "wires": [
      [
        "d5212710.61fc78"
      ]
    ], 
    "qos": "2", 
    "name": "", 
    "broker": "21aa4ee1.0f0142", 
    "topic": "setup_response", 
    "y": 60, 
    "x": 940, 
    "z": "d86d9fe1.0e5c4", 
    "type": "mqtt in", 
    "id": "d7dc6b0e.b6a358"
  }, 
  {
    "z": "d86d9fe1.0e5c4", 
    "name": "", 
    "y": 60, 
    "wires": [
      [
        "c96ebdaa.57833"
      ]
    ], 
    "pretty": false, 
    "action": "", 
    "x": 1130, 
    "property": "payload", 
    "type": "json", 
    "id": "d5212710.61fc78"
  }, 
  {
    "wires": [
      [
        "af779f0f.f1244"
      ], 
      [], 
      []
    ], 
    "name": "", 
    "addpay": false, 
    "timer": "", 
    "oldrc": false, 
    "command": "python /root/.node-red/run/merge.py", 
    "y": 280, 
    "x": 3470, 
    "useSpawn": "false", 
    "z": "d86d9fe1.0e5c4", 
    "type": "exec", 
    "id": "536f2b02.050f34", 
    "append": ""
  }, 
  {
    "wires": [
      [
        "b2fab2b4.b2a3f"
      ]
    ], 
    "name": "", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = \"meo thay nhe\"\nreturn msg;", 
    "y": 180, 
    "x": 1770, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "3795eabf.bef5b6"
  }, 
  {
    "wires": [
      [
        "1ee867f7.4e18b8"
      ]
    ], 
    "name": "server avaliable", 
    "type": "mysql", 
    "y": 280, 
    "x": 880, 
    "z": "d86d9fe1.0e5c4", 
    "mydb": "bd7647b3.5bf2a8", 
    "id": "f39ecccd.ec7cc"
  }, 
  {
    "wires": [
      [
        "70fcc23.4790a3c"
      ]
    ], 
    "name": "lookup ip", 
    "type": "mysql", 
    "y": 260, 
    "x": 1440, 
    "z": "d86d9fe1.0e5c4", 
    "mydb": "bd7647b3.5bf2a8", 
    "id": "68e280c8.635c"
  }, 
  {
    "wires": [
      []
    ], 
    "name": "add server_connected", 
    "type": "mysql", 
    "y": 360, 
    "x": 2700, 
    "z": "d86d9fe1.0e5c4", 
    "mydb": "bd7647b3.5bf2a8", 
    "id": "7a15e2d1.00878c"
  }, 
  {
    "wires": [
      [
        "44541669.65db68"
      ]
    ], 
    "name": "mqtt_in", 
    "type": "mysql", 
    "y": 280, 
    "x": 1980, 
    "z": "d86d9fe1.0e5c4", 
    "mydb": "bd7647b3.5bf2a8", 
    "id": "aea68bd2.1d6338"
  }, 
  {
    "wires": [
      []
    ], 
    "name": "insert mqtt_in", 
    "type": "mysql", 
    "y": 240, 
    "x": 2580, 
    "z": "d86d9fe1.0e5c4", 
    "mydb": "bd7647b3.5bf2a8", 
    "id": "4de7f33.88afc0c"
  }, 
  {
    "wires": [
      [
        "da7d90e0.6eab3"
      ]
    ], 
    "name": "add server_connected", 
    "type": "mysql", 
    "y": 60, 
    "x": 1660, 
    "z": "d86d9fe1.0e5c4", 
    "mydb": "bd7647b3.5bf2a8", 
    "id": "6337ec20.242ad4"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 180, 
    "tostatus": false, 
    "active": true, 
    "x": 2310, 
    "z": "d86d9fe1.0e5c4", 
    "type": "debug", 
    "id": "51ecbf1a.aaaf8", 
    "complete": "false"
  }, 
  {
    "wires": [], 
    "qos": "", 
    "name": "", 
    "broker": "p2p_elefos003", 
    "topic": "setup_request", 
    "x": 4840, 
    "y": 280, 
    "retain": "", 
    "z": "d86d9fe1.0e5c4", 
    "type": "mqtt out", 
    "id": "elefos_mqtt_request"
  }, 
  {
    "wires": [
      [
        "4e17efc8.be447"
      ]
    ], 
    "nbRateUnits": "1", 
    "name": "", 
    "randomLast": "5", 
    "timeoutUnits": "seconds", 
    "drop": false, 
    "randomUnits": "seconds", 
    "rate": "1", 
    "timeout": "10", 
    "y": 300, 
    "x": 4140, 
    "randomFirst": "1", 
    "z": "d86d9fe1.0e5c4", 
    "type": "delay", 
    "id": "4e013598.4922ac", 
    "rateUnits": "second", 
    "pauseType": "delay"
  }, 
  {
    "wires": [
      [
        "402dc258.d72e6c"
      ]
    ], 
    "name": "", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = msg.to\nreturn msg;", 
    "y": 280, 
    "x": 2920, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "2be26853.79d218"
  }, 
  {
    "createDir": false, 
    "wires": [
      [
        "536f2b02.050f34"
      ]
    ], 
    "name": "", 
    "overwriteFile": "true", 
    "filename": "/root/.node-red/run/id_broker.txt", 
    "x": 3130, 
    "y": 280, 
    "appendNewline": true, 
    "z": "d86d9fe1.0e5c4", 
    "type": "file", 
    "id": "402dc258.d72e6c"
  }, 
  {
    "wires": [
      [
        "1d5e3756.6d5779"
      ]
    ], 
    "qos": "2", 
    "name": "", 
    "broker": "21aa4ee1.0f0142", 
    "topic": "setup_request", 
    "y": 360, 
    "x": 550, 
    "z": "d86d9fe1.0e5c4", 
    "type": "mqtt in", 
    "id": "6f559592.e0a4cc"
  }, 
  {
    "wires": [
      [
        "7c862079.dce4b", 
        "4202006e.d86d9", 
        "e7a7ee7a.f1182"
      ]
    ], 
    "name": "edit and backup first msg", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.to = msg.payload.id_server_from\nmsg._topic = msg.payload.id_server_to\nmsg.request = 1\nmsg.payload = {\n    \"from\": msg.to,\n    \"content\" : msg.payload.content\n}\nreturn msg;", 
    "y": 360, 
    "x": 870, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "d8cea3e2.3e542"
  }, 
  {
    "z": "d86d9fe1.0e5c4", 
    "name": "", 
    "y": 360, 
    "wires": [
      [
        "d8cea3e2.3e542"
      ]
    ], 
    "pretty": false, 
    "action": "", 
    "x": 690, 
    "property": "payload", 
    "type": "json", 
    "id": "1d5e3756.6d5779"
  }, 
  {
    "checkall": "true", 
    "z": "d86d9fe1.0e5c4", 
    "name": "", 
    "repair": false, 
    "rules": [
      {
        "vt": "str", 
        "t": "eq", 
        "v": "0"
      }, 
      {
        "vt": "num", 
        "t": "eq", 
        "v": "1"
      }
    ], 
    "outputs": 2, 
    "wires": [
      [
        "d7354727.83a1c8"
      ], 
      [
        "db85f0b0.5e308"
      ]
    ], 
    "propertyType": "msg", 
    "y": 300, 
    "x": 4430, 
    "property": "request", 
    "type": "switch", 
    "id": "4e17efc8.be447"
  }, 
  {
    "wires": [
      [
        "ed47d54a.ec4a68"
      ]
    ], 
    "name": "update status DB list server_connected", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = {\n    \"id_server_from\" : msg._topic,\n    \"id_server_to\" : msg.to\n}\nmsg.backup = msg.payload\nquery = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_to + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;", 
    "y": 320, 
    "x": 4680, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "db85f0b0.5e308"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 420, 
    "tostatus": false, 
    "active": true, 
    "x": 4730, 
    "z": "d86d9fe1.0e5c4", 
    "type": "debug", 
    "id": "93aec8ea.0cf3a8", 
    "complete": "true"
  }, 
  {
    "wires": [
      [
        "93aec8ea.0cf3a8", 
        "a5e3d89d.3ec938"
      ]
    ], 
    "name": "add server_connected", 
    "type": "mysql", 
    "y": 380, 
    "x": 4540, 
    "z": "d86d9fe1.0e5c4", 
    "mydb": "bd7647b3.5bf2a8", 
    "id": "ed47d54a.ec4a68"
  }, 
  {
    "wires": [], 
    "qos": "", 
    "name": "", 
    "broker": "p2p_elefos003", 
    "topic": "setup_response", 
    "x": 4900, 
    "y": 380, 
    "retain": "", 
    "z": "d86d9fe1.0e5c4", 
    "type": "mqtt out", 
    "id": "elefos_mqtt_response"
  }, 
  {
    "wires": [
      [
        "elefos_mqtt_response"
      ]
    ], 
    "name": "", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = msg.backup\nreturn msg;", 
    "y": 380, 
    "x": 4730, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "a5e3d89d.3ec938"
  }, 
  {
    "wires": [
      [
        "elefos_mqtt_request"
      ]
    ], 
    "name": "packet have msg first", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = {\n    \"id_server_from\" : msg._topic,\n    \"id_server_to\" : msg.to,\n    \"content\" : msg.msg_backup.content\n}\nmsg.backup = msg.payload\nreturn msg;", 
    "y": 280, 
    "x": 4620, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "d7354727.83a1c8"
  }, 
  {
    "wires": [
      [
        "d57ee01e.b722c"
      ]
    ], 
    "name": "", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = msg.to\nreturn msg;", 
    "y": 380, 
    "x": 2930, 
    "z": "d86d9fe1.0e5c4", 
    "type": "function", 
    "id": "f37418cb.a97f98"
  }, 
  {
    "createDir": false, 
    "wires": [
      [
        "9e4dfd7a.8788a"
      ]
    ], 
    "name": "", 
    "overwriteFile": "true", 
    "filename": "/root/.node-red/run/id_broker.txt", 
    "x": 3130, 
    "y": 380, 
    "appendNewline": true, 
    "z": "d86d9fe1.0e5c4", 
    "type": "file", 
    "id": "d57ee01e.b722c"
  }, 
  {
    "wires": [
      [
        "af779f0f.f1244"
      ], 
      [], 
      []
    ], 
    "name": "", 
    "addpay": false, 
    "timer": "", 
    "oldrc": false, 
    "command": "python /root/.node-red/run/update.py", 
    "y": 380, 
    "x": 3470, 
    "useSpawn": "false", 
    "z": "d86d9fe1.0e5c4", 
    "type": "exec", 
    "id": "9e4dfd7a.8788a", 
    "append": ""
  }, 
  {
    "wires": [
      [
        "7c862079.dce4b"
      ]
    ], 
    "qos": "2", 
    "name": "p2p_elefos002", 
    "broker": "p2p_elefos003", 
    "topic": "p2p_elefos002", 
    "y": 420, 
    "x": 740, 
    "z": "d86d9fe1.0e5c4", 
    "type": "mqtt in", 
    "id": "id_mqtt_in29"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 320, 
    "tostatus": false, 
    "active": true, 
    "x": 1260, 
    "z": "d86d9fe1.0e5c4", 
    "type": "debug", 
    "id": "1cc3a2ff.ddbf8d", 
    "complete": "true"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 480, 
    "tostatus": false, 
    "active": true, 
    "x": 1150, 
    "z": "d86d9fe1.0e5c4", 
    "type": "debug", 
    "id": "e7a7ee7a.f1182", 
    "complete": "true"
  }
]