Json/config.json
[
  {
    "disabled": false, 
    "info": "", 
    "type": "tab", 
    "id": "ae408611.f4f2e8", 
    "label": "Flow 1"
  }, 
  {
    "closeQos": "0", 
    "cleansession": true, 
    "name": "", 
    "birthPayload": "", 
    "willTopic": "", 
    "willPayload": "", 
    "closePayload": "", 
    "willQos": "0", 
    "broker": "128.199.236.138", 
    "clientid": "", 
    "id": "b1fed9ff.2e4b18", 
    "closeTopic": "", 
    "usetls": false, 
    "compatmode": true, 
    "birthTopic": "", 
    "z": "", 
    "type": "mqtt-broker", 
    "port": "1883", 
    "birthQos": "0", 
    "keepalive": "60"
  }, 
  {
    "tz": "", 
    "db": "NDT_table", 
    "port": "3306", 
    "host": "127.0.0.1", 
    "z": "", 
    "type": "MySQLdatabase", 
    "id": "e040fff0.e9088"
  }, 
  {
    "repeat": "", 
    "y": 200, 
    "name": "switch_register", 
    "crontab": "", 
    "id": "elefos_switch_register", 
    "topic": "", 
    "payloadType": "date", 
    "wires": [
      [
        "elefos_filein_register"
      ]
    ], 
    "onceDelay": 0.1, 
    "x": 220, 
    "z": "ae408611.f4f2e8", 
    "type": "inject", 
    "payload": "", 
    "once": false
  }, 
  {
    "info": "", 
    "wires": [], 
    "name": "register", 
    "y": 140, 
    "x": 190, 
    "z": "ae408611.f4f2e8", 
    "type": "comment", 
    "id": "60ba5ca0.67ec54"
  }, 
  {
    "wires": [], 
    "qos": "", 
    "name": "", 
    "broker": "b1fed9ff.2e4b18", 
    "topic": "elefos_register", 
    "x": 1440, 
    "y": 200, 
    "retain": "", 
    "z": "ae408611.f4f2e8", 
    "type": "mqtt out", 
    "id": "34b9b72e.400c58"
  }, 
  {
    "wires": [
      [
        "fbddc12a.903d3"
      ]
    ], 
    "qos": "2", 
    "name": "", 
    "broker": "b1fed9ff.2e4b18", 
    "topic": "b6:70:70:c6:77:e5", 
    "y": 300, 
    "x": 120, 
    "z": "ae408611.f4f2e8", 
    "type": "mqtt in", 
    "id": "elefos_mqtt_config"
  }, 
  {
    "wires": [
      [
        "b965527d.b96a8", 
        "e8ea396f.0b3a08"
      ]
    ], 
    "name": "recive packet setup", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.packet = msg.payload\nquery = \"INSERT INTO `my_server` (`id_server`, `oauth_server`) VALUES (?,?)\";\nmsg.payload = [msg.packet.id_server, msg.packet.oauth_server];\nmsg.topic = query;\nreturn msg;\n", 
    "y": 300, 
    "x": 530, 
    "z": "ae408611.f4f2e8", 
    "type": "function", 
    "id": "c6b15d5f.6fbb3"
  }, 
  {
    "repeat": "", 
    "y": 60, 
    "name": "switch_mac", 
    "crontab": "", 
    "id": "elefos_switch_mac", 
    "topic": "", 
    "payloadType": "date", 
    "wires": [], 
    "onceDelay": 0.1, 
    "x": 170, 
    "z": "ae408611.f4f2e8", 
    "type": "inject", 
    "payload": "", 
    "once": false
  }, 
  {
    "wires": [
      [
        "a8148e24.31061"
      ], 
      [], 
      []
    ], 
    "name": "", 
    "addpay": false, 
    "timer": "", 
    "oldrc": false, 
    "command": "ifconfig | grep 'HWaddr' | awk '{print $5}' | head -n 1 ", 
    "y": 60, 
    "x": 470, 
    "useSpawn": "false", 
    "z": "ae408611.f4f2e8", 
    "type": "exec", 
    "id": "elefos_exec_mac", 
    "append": ""
  }, 
  {
    "createDir": false, 
    "wires": [
      [
        "d6f0eb45.070698"
      ]
    ], 
    "name": "", 
    "overwriteFile": "true", 
    "filename": "/root/.node-red/run/mac.txt", 
    "x": 840, 
    "y": 60, 
    "appendNewline": false, 
    "z": "ae408611.f4f2e8", 
    "type": "file", 
    "id": "a8148e24.31061"
  }, 
  {
    "wires": [
      []
    ], 
    "nbRateUnits": "1", 
    "name": "", 
    "randomLast": "5", 
    "timeoutUnits": "milliseconds", 
    "drop": false, 
    "randomUnits": "seconds", 
    "rate": "1", 
    "timeout": "500", 
    "y": 80, 
    "x": 2270, 
    "randomFirst": "1", 
    "z": "ae408611.f4f2e8", 
    "type": "delay", 
    "id": "42f6362b.640ed8", 
    "rateUnits": "second", 
    "pauseType": "delay"
  }, 
  {
    "tls": "", 
    "wires": [
      [
        "42f6362b.640ed8"
      ]
    ], 
    "name": "", 
    "url": "http://localhost:1880/flows", 
    "ret": "txt", 
    "id": "cf3e548e.f4df78", 
    "y": 80, 
    "x": 2090, 
    "z": "ae408611.f4f2e8", 
    "type": "http request", 
    "method": "POST"
  }, 
  {
    "wires": [
      [
        "cf3e548e.f4df78"
      ]
    ], 
    "name": "reload server", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;", 
    "y": 80, 
    "x": 1910, 
    "z": "ae408611.f4f2e8", 
    "type": "function", 
    "id": "bba07e6d.1513b"
  }, 
  {
    "wires": [
      [
        "bba07e6d.1513b", 
        "13c71702.a64269"
      ], 
      [
        "13c71702.a64269"
      ], 
      [
        "13c71702.a64269"
      ]
    ], 
    "name": "", 
    "addpay": false, 
    "timer": "", 
    "oldrc": false, 
    "command": "python /root/.node-red/run/mac.py", 
    "y": 60, 
    "x": 1120, 
    "useSpawn": "false", 
    "z": "ae408611.f4f2e8", 
    "type": "exec", 
    "id": "d6f0eb45.070698", 
    "append": ""
  }, 
  {
    "repeat": "", 
    "y": 120, 
    "name": "", 
    "crontab": "", 
    "id": "c3bb78be.4817b8", 
    "topic": "", 
    "payloadType": "date", 
    "wires": [
      [
        "bba07e6d.1513b"
      ]
    ], 
    "onceDelay": 0.1, 
    "x": 1620, 
    "z": "ae408611.f4f2e8", 
    "type": "inject", 
    "payload": "", 
    "once": false
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 140, 
    "tostatus": false, 
    "active": true, 
    "x": 1360, 
    "z": "ae408611.f4f2e8", 
    "type": "debug", 
    "id": "13c71702.a64269", 
    "complete": "false"
  }, 
  {
    "sendError": false, 
    "wires": [
      [
        "8c232cf0.997"
      ]
    ], 
    "name": "", 
    "format": "utf8", 
    "chunk": false, 
    "filename": "/root/.node-red/run/mac.txt", 
    "y": 200, 
    "x": 480, 
    "z": "ae408611.f4f2e8", 
    "type": "file in", 
    "id": "elefos_filein_register"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 400, 
    "tostatus": false, 
    "active": true, 
    "x": 710, 
    "z": "ae408611.f4f2e8", 
    "type": "debug", 
    "id": "b965527d.b96a8", 
    "complete": "packet"
  }, 
  {
    "z": "ae408611.f4f2e8", 
    "name": "", 
    "y": 300, 
    "wires": [
      [
        "c6b15d5f.6fbb3"
      ]
    ], 
    "pretty": false, 
    "action": "", 
    "x": 370, 
    "property": "payload", 
    "type": "json", 
    "id": "fbddc12a.903d3"
  }, 
  {
    "wires": [
      [
        "e882cc67.37c7b"
      ]
    ], 
    "name": "", 
    "type": "mysql", 
    "y": 300, 
    "x": 730, 
    "z": "ae408611.f4f2e8", 
    "mydb": "e040fff0.e9088", 
    "id": "e8ea396f.0b3a08"
  }, 
  {
    "wires": [
      [
        "347afff1.96813"
      ]
    ], 
    "name": "check exist", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.mac = msg.payload.replace(\"\\n\",\"\")\nvar out = \"Select count(*) as total from my_server\";  \nmsg.topic = out;\nreturn msg;", 
    "y": 200, 
    "x": 710, 
    "z": "ae408611.f4f2e8", 
    "type": "function", 
    "id": "8c232cf0.997"
  }, 
  {
    "wires": [
      [
        "3e0a207d.25403", 
        "88738db8.48566"
      ]
    ], 
    "name": "", 
    "type": "mysql", 
    "y": 200, 
    "x": 910, 
    "z": "ae408611.f4f2e8", 
    "mydb": "e040fff0.e9088", 
    "id": "347afff1.96813"
  }, 
  {
    "checkall": "true", 
    "z": "ae408611.f4f2e8", 
    "name": "", 
    "repair": false, 
    "rules": [
      {
        "vt": "num", 
        "t": "eq", 
        "v": "0"
      }
    ], 
    "outputs": 1, 
    "wires": [
      [
        "a64f112.84632f"
      ]
    ], 
    "propertyType": "msg", 
    "y": 200, 
    "x": 1070, 
    "property": "payload[0]['total']", 
    "type": "switch", 
    "id": "3e0a207d.25403"
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 260, 
    "tostatus": false, 
    "active": true, 
    "x": 1110, 
    "z": "ae408611.f4f2e8", 
    "type": "debug", 
    "id": "88738db8.48566", 
    "complete": "false"
  }, 
  {
    "wires": [
      [
        "34b9b72e.400c58"
      ]
    ], 
    "name": "packet register", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = {\n    \"id_server\":\"elefos_register\",\n    \"oauth_register\": \"BAAAE2B5AF39EEDA0431058E4759DA0B\",        \n    \"id_mac\": msg.mac\n}\nreturn msg;", 
    "y": 200, 
    "x": 1240, 
    "z": "ae408611.f4f2e8", 
    "type": "function", 
    "id": "a64f112.84632f"
  }, 
  {
    "wires": [
      [
        "177161f6.2b27ee"
      ]
    ], 
    "name": "my ip server_connected", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "query = \"INSERT INTO `server_connected` (`id_server`, `status`) VALUES (?,?)\";\nmsg.payload = [msg.packet.id_server, 1];\nmsg.topic = query;\nreturn msg;", 
    "y": 300, 
    "x": 950, 
    "z": "ae408611.f4f2e8", 
    "type": "function", 
    "id": "e882cc67.37c7b"
  }, 
  {
    "wires": [
      [
        "8ef427a3.8724a8"
      ]
    ], 
    "name": "", 
    "type": "mysql", 
    "y": 300, 
    "x": 1170, 
    "z": "ae408611.f4f2e8", 
    "mydb": "e040fff0.e9088", 
    "id": "177161f6.2b27ee"
  }, 
  {
    "createDir": false, 
    "wires": [
      [
        "8eaee02.d27532"
      ]
    ], 
    "name": "", 
    "overwriteFile": "true", 
    "filename": "/root/.node-red/run/main_flow.json", 
    "x": 1560, 
    "y": 300, 
    "appendNewline": false, 
    "z": "ae408611.f4f2e8", 
    "type": "file", 
    "id": "b289b775.404918"
  }, 
  {
    "wires": [
      [
        "b289b775.404918"
      ]
    ], 
    "name": "copy flow", 
    "outputs": 1, 
    "noerr": 0, 
    "func": "msg.payload = msg.packet.flow\nreturn msg;", 
    "y": 300, 
    "x": 1340, 
    "z": "ae408611.f4f2e8", 
    "type": "function", 
    "id": "8ef427a3.8724a8"
  }, 
  {
    "wires": [
      [
        "b94ded.b561921", 
        "bba07e6d.1513b"
      ], 
      [], 
      []
    ], 
    "name": "", 
    "addpay": false, 
    "timer": "", 
    "oldrc": false, 
    "command": "bash /root/.node-red/run/flow_register.sh", 
    "y": 300, 
    "x": 1880, 
    "useSpawn": "false", 
    "z": "ae408611.f4f2e8", 
    "type": "exec", 
    "id": "8eaee02.d27532", 
    "append": ""
  }, 
  {
    "wires": [], 
    "console": false, 
    "name": "", 
    "tosidebar": true, 
    "y": 300, 
    "tostatus": false, 
    "active": true, 
    "x": 2210, 
    "z": "ae408611.f4f2e8", 
    "type": "debug", 
    "id": "b94ded.b561921", 
    "complete": "false"
  }
]