Json/config.json
[{"id":"ae408611.f4f2e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1fed9ff.2e4b18","type":"mqtt-broker","z":"","name":"","broker":"128.199.236.138","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e040fff0.e9088","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"elefos_switch_register","type":"inject","z":"ae408611.f4f2e8","name":"switch_register","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":200,"wires":[["elefos_filein_register"]]},{"id":"60ba5ca0.67ec54","type":"comment","z":"ae408611.f4f2e8","name":"register","info":"","x":190,"y":140,"wires":[]},{"id":"34b9b72e.400c58","type":"mqtt out","z":"ae408611.f4f2e8","name":"","topic":"elefos_register","qos":"","retain":"","broker":"b1fed9ff.2e4b18","x":1440,"y":200,"wires":[]},{"id":"elefos_mqtt_config","type":"mqtt in","z":"ae408611.f4f2e8","name":"","topic":"b6:70:70:c6:77:e5","qos":"2","broker":"b1fed9ff.2e4b18","x":190,"y":300,"wires":[["fbddc12a.903d3"]]},{"id":"c6b15d5f.6fbb3","type":"function","z":"ae408611.f4f2e8","name":"recive packet setup","func":"msg.packet = msg.payload\nquery = \"INSERT INTO `my_server` (`id_server`, `oauth_server`) VALUES (?,?)\";\nmsg.payload = [msg.packet.id_server, msg.packet.oauth_server];\nmsg.topic = query;\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["b965527d.b96a8","e8ea396f.0b3a08"]]},{"id":"elefos_switch_mac","type":"inject","z":"ae408611.f4f2e8","name":"switch_mac","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[[]]},{"id":"elefos_exec_mac","type":"exec","z":"ae408611.f4f2e8","command":"ifconfig | grep 'HWaddr' | awk '{print $5}' | head -n 1 ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":60,"wires":[["a8148e24.31061"],[],[]]},{"id":"a8148e24.31061","type":"file","z":"ae408611.f4f2e8","name":"","filename":"/root/.node-red/run/mac.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":60,"wires":[["d6f0eb45.070698"]]},{"id":"42f6362b.640ed8","type":"delay","z":"ae408611.f4f2e8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2270,"y":80,"wires":[[]]},{"id":"cf3e548e.f4df78","type":"http request","z":"ae408611.f4f2e8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":2090,"y":80,"wires":[["42f6362b.640ed8"]]},{"id":"bba07e6d.1513b","type":"function","z":"ae408611.f4f2e8","name":"reload server","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":1910,"y":80,"wires":[["cf3e548e.f4df78"]]},{"id":"d6f0eb45.070698","type":"exec","z":"ae408611.f4f2e8","command":"python /root/.node-red/run/mac.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1120,"y":60,"wires":[["bba07e6d.1513b","13c71702.a64269"],["13c71702.a64269"],["13c71702.a64269"]]},{"id":"c3bb78be.4817b8","type":"inject","z":"ae408611.f4f2e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1620,"y":120,"wires":[["bba07e6d.1513b"]]},{"id":"13c71702.a64269","type":"debug","z":"ae408611.f4f2e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1360,"y":140,"wires":[]},{"id":"elefos_filein_register","type":"file in","z":"ae408611.f4f2e8","name":"","filename":"/root/.node-red/run/mac.txt","format":"utf8","chunk":false,"sendError":false,"x":480,"y":200,"wires":[["8c232cf0.997"]]},{"id":"b965527d.b96a8","type":"debug","z":"ae408611.f4f2e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"packet","x":710,"y":400,"wires":[]},{"id":"fbddc12a.903d3","type":"json","z":"ae408611.f4f2e8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":300,"wires":[["c6b15d5f.6fbb3"]]},{"id":"e8ea396f.0b3a08","type":"mysql","z":"ae408611.f4f2e8","mydb":"e040fff0.e9088","name":"","x":730,"y":300,"wires":[["e882cc67.37c7b"]]},{"id":"8c232cf0.997","type":"function","z":"ae408611.f4f2e8","name":"check exist","func":"msg.mac = msg.payload.replace(\"\\n\",\"\")\nvar out = \"Select count(*) as total from my_server\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["347afff1.96813"]]},{"id":"347afff1.96813","type":"mysql","z":"ae408611.f4f2e8","mydb":"e040fff0.e9088","name":"","x":910,"y":200,"wires":[["3e0a207d.25403","88738db8.48566"]]},{"id":"3e0a207d.25403","type":"switch","z":"ae408611.f4f2e8","name":"","property":"payload[0]['total']","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":200,"wires":[["a64f112.84632f"]]},{"id":"88738db8.48566","type":"debug","z":"ae408611.f4f2e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":260,"wires":[]},{"id":"a64f112.84632f","type":"function","z":"ae408611.f4f2e8","name":"packet register","func":"msg.payload = {\n    \"id_server\":\"elefos_register\",\n    \"oauth_register\": \"BAAAE2B5AF39EEDA0431058E4759DA0B\",        \n    \"id_mac\": msg.mac\n}\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":200,"wires":[["34b9b72e.400c58"]]},{"id":"e882cc67.37c7b","type":"function","z":"ae408611.f4f2e8","name":"my ip server_connected","func":"query = \"INSERT INTO `server_connected` (`id_server`, `status`) VALUES (?,?)\";\nmsg.payload = [msg.packet.id_server, 1];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":300,"wires":[["177161f6.2b27ee"]]},{"id":"177161f6.2b27ee","type":"mysql","z":"ae408611.f4f2e8","mydb":"e040fff0.e9088","name":"","x":1170,"y":300,"wires":[["8ef427a3.8724a8"]]},{"id":"b289b775.404918","type":"file","z":"ae408611.f4f2e8","name":"","filename":"/root/.node-red/run/main_flow.json","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1560,"y":300,"wires":[["8eaee02.d27532"]]},{"id":"8ef427a3.8724a8","type":"function","z":"ae408611.f4f2e8","name":"copy flow","func":"msg.payload = msg.packet.flow\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":300,"wires":[["b289b775.404918"]]},{"id":"8eaee02.d27532","type":"exec","z":"ae408611.f4f2e8","command":"bash /root/.node-red/run/flow_register.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1880,"y":300,"wires":[["b94ded.b561921"],[],[]]},{"id":"b94ded.b561921","type":"debug","z":"ae408611.f4f2e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2210,"y":300,"wires":[]}]