Json/flows_SuperDataBase001.json
[{"id":"b46ad2e6.8db39","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f17545a4.ead8c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ced4f10c.63353","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7654e0d.03fc1","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"a5c2461f.1cf038","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"synch_input","qos":"2","broker":"ced4f10c.63353","x":310,"y":200,"wires":[["bbb2fec8.c12ff"]]},{"id":"bbb2fec8.c12ff","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":470,"y":200,"wires":[["e21e6c03.2f1d9","db9eda2f.1a5dc8"]]},{"id":"12f68902.03ba97","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"synch_output","qos":"","retain":"","broker":"ced4f10c.63353","x":1220,"y":200,"wires":[]},{"id":"86d8cd95.b0c68","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":870,"y":200,"wires":[["e8228500.543d58"]]},{"id":"e21e6c03.2f1d9","type":"function","z":"b46ad2e6.8db39","name":"update database","func":"msg.packet = msg.payload\nquery = \"UPDATE `server_dht` SET `ip_server` = '\" + msg.payload.ip_server + \"' WHERE `id_server` = '\" + msg.payload.id_server + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["86d8cd95.b0c68"]]},{"id":"e8228500.543d58","type":"function","z":"b46ad2e6.8db39","name":"broadcast","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":200,"wires":[["12f68902.03ba97"]]},{"id":"e8d54939.82be98","type":"http in","z":"b46ad2e6.8db39","name":"","url":"/elefos/api","method":"get","upload":false,"swaggerDoc":"","x":320,"y":340,"wires":[["ca2d0e92.af208"]]},{"id":"a53d3db8.de1ad","type":"http response","z":"b46ad2e6.8db39","name":"","x":890,"y":340,"wires":[]},{"id":"7c016fc.3cbff9","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":400,"wires":[]},{"id":"ca2d0e92.af208","type":"switch","z":"b46ad2e6.8db39","name":"","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":340,"wires":[["5a8139aa.a32998"]]},{"id":"5a8139aa.a32998","type":"function","z":"b46ad2e6.8db39","name":"","func":"msg.payload = \"day day la so\" + msg.payload.request\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["7c016fc.3cbff9","a53d3db8.de1ad"]]},{"id":"5152462a.d829a8","type":"inject","z":"b46ad2e6.8db39","name":"","topic":"1","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":400,"wires":[["d16e6945.51d418"]]},{"id":"d16e6945.51d418","type":"http request","z":"b46ad2e6.8db39","name":"","method":"GET","ret":"txt","url":"http://128.199.236.138:1880/elefos/api?request={{{topic}}}","tls":"","x":470,"y":400,"wires":[["b5448c49.729aa"]]},{"id":"b5448c49.729aa","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":400,"wires":[]},{"id":"d7ff9b37.1858f8","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"lookup","qos":"2","broker":"ced4f10c.63353","x":290,"y":80,"wires":[["c8594db3.5c6e1"]]},{"id":"c8594db3.5c6e1","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":440,"y":80,"wires":[["99958a40.8e2b38"]]},{"id":"99958a40.8e2b38","type":"function","z":"b46ad2e6.8db39","name":"lookup ip with id","func":"msg.packet = msg.payload\nvar out = \"Select ip_server FROM server_dht WHERE id_server = '\" + msg.packet.to +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":80,"wires":[["ab834743.66fd08"]]},{"id":"ab834743.66fd08","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":780,"y":80,"wires":[["d00730b5.ecd92","42427afa.609f34"]]},{"id":"d00730b5.ecd92","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":120,"wires":[]},{"id":"d2fe127d.5d0c1","type":"function","z":"b46ad2e6.8db39","name":"new packet","func":"msg.payload = {\n    \"from\" : msg.packet.from,\n    \"to\" : msg.packet.to,\n    \"request\" : 0,\n    \"ip_server\": msg.payload[0]['ip_server'],\n    \"content\" : msg.packet.content\n}\nmsg.topic = msg.packet.from\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":80,"wires":[["98e769c1.65e148"]]},{"id":"98e769c1.65e148","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":1210,"y":80,"wires":[]},{"id":"7b9b9ba6.d55fb4","type":"comment","z":"b46ad2e6.8db39","name":"api cho cac node tai /elefos/api?request=","info":"","x":400,"y":300,"wires":[]},{"id":"c7af9a21.7f1e48","type":"comment","z":"b46ad2e6.8db39","name":"update new ip from node","info":"","x":350,"y":160,"wires":[]},{"id":"362e60f0.11708","type":"comment","z":"b46ad2e6.8db39","name":"lookup ip from node","info":"","x":330,"y":40,"wires":[]},{"id":"42427afa.609f34","type":"switch","z":"b46ad2e6.8db39","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":80,"wires":[["d2fe127d.5d0c1"],["6f603e7d.d8131"]]},{"id":"6f603e7d.d8131","type":"function","z":"b46ad2e6.8db39","name":"new packet","func":"msg.payload = {\n    \"from\" : msg.packet.from,\n    \"to\" : msg.packet.to,\n    \"request\" : 0,\n    \"ip_server\": null,\n    \"content\" : msg.packet.content\n}\nmsg.topic = msg.packet.from\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":120,"wires":[["98e769c1.65e148"]]},{"id":"db9eda2f.1a5dc8","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"6cf17a56.ccab94","type":"comment","z":"b46ad2e6.8db39","name":"khong can check vi device da check","info":"","x":1480,"y":200,"wires":[]},{"id":"a92c6a60.5dfde8","type":"function","z":"b46ad2e6.8db39","name":"lookup ip with id","func":"msg.packet_id = msg.packet.list[msg.packet_length]['id_server']\nmsg.packet_ip = msg.packet.list[msg.packet_length]['ip_server']\nvar out = \"Select id_server, ip_server FROM server_dht WHERE id_server = '\" + msg.packet_id +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":660,"wires":[["bdaef147.4174b"]]},{"id":"b7fd05b2.2605c8","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":350,"y":660,"wires":[["1fdb3a72.0188b6","e93d1140.ed084"]]},{"id":"bdaef147.4174b","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":910,"y":660,"wires":[["ba7add16.63f4a","27f5592c.0f2446"]]},{"id":"8cdb030d.850af","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"synch_list","qos":"2","broker":"ced4f10c.63353","x":160,"y":660,"wires":[["b7fd05b2.2605c8"]]},{"id":"ba7add16.63f4a","type":"switch","z":"b46ad2e6.8db39","name":"","property":"payload[0]['ip_server']","propertyType":"msg","rules":[{"t":"neq","v":"packet_ip","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":660,"wires":[["674042a4.5bcf3c","4405097f.9814b8"]]},{"id":"674042a4.5bcf3c","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":620,"wires":[]},{"id":"4405097f.9814b8","type":"function","z":"b46ad2e6.8db39","name":"single","func":"msg.payload = {\n    \"id_server\": msg.payload[0]['id_server'],\n    \"ip_server\": msg.payload[0]['ip_server'],\n    \"status\" : 0\n}\nmsg.topic = msg.packet.id_server + \"_check\"\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":660,"wires":[["7e6fff03.03f98","a8b8d4cc.1a4c98"]]},{"id":"7e6fff03.03f98","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":1470,"y":660,"wires":[]},{"id":"6c39a715.84a598","type":"comment","z":"b46ad2e6.8db39","name":"check vi chi nhung dua bi thay doi moi dc qua","info":"","x":1170,"y":560,"wires":[]},{"id":"1fdb3a72.0188b6","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":620,"wires":[]},{"id":"e93d1140.ed084","type":"function","z":"b46ad2e6.8db39","name":"length msg json","func":"msg.packet = msg.payload\nmsg.packet_length = msg.packet.list.length - 1\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":660,"wires":[["a92c6a60.5dfde8"]]},{"id":"27f5592c.0f2446","type":"function","z":"b46ad2e6.8db39","name":"length --","func":"msg.packet_length--\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":540,"wires":[["83132eb.d9874d"]]},{"id":"83132eb.d9874d","type":"switch","z":"b46ad2e6.8db39","name":"","property":"packet_length","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":540,"wires":[["a92c6a60.5dfde8"]]},{"id":"680f3a5e.052ab4","type":"function","z":"b46ad2e6.8db39","name":"reload","func":"msg.payload ={}\nmsg.topic = msg.packet.id_server + \"_reload\"\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":600,"wires":[["b860b91e.991f08"]]},{"id":"b860b91e.991f08","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":1690,"y":600,"wires":[]},{"id":"a8b8d4cc.1a4c98","type":"delay","z":"b46ad2e6.8db39","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":600,"wires":[["680f3a5e.052ab4"]]},{"id":"4e5c4ada.745554","type":"mqtt in","z":"f17545a4.ead8c8","name":"","topic":"elefos_register","qos":"2","broker":"ced4f10c.63353","x":170,"y":100,"wires":[["fa0eab42.29af58"]]},{"id":"fa0eab42.29af58","type":"function","z":"f17545a4.ead8c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[[]]},{"id":"b26261ea.a0db4","type":"switch","z":"f17545a4.ead8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":100,"wires":[[]]},{"id":"ab2c2b48.5bb848","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":450,"y":760,"wires":[["74587942.8a57c8","82194765.2e1ae8"]]},{"id":"74587942.8a57c8","type":"function","z":"b46ad2e6.8db39","name":"check register new device","func":"msg.flag = 0\nif (msg.payload.id_server == \"elefos_register\" && msg.payload.oauth_register == \"BAAAE2B5AF39EEDA0431058E4759DA0B\" && msg.payload.id_mac !== null)\n    msg.flag = 1\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":760,"wires":[["3febdfdb.693a9"]]},{"id":"3febdfdb.693a9","type":"switch","z":"b46ad2e6.8db39","name":"","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":760,"wires":[[],["968be5cf.189638"]]},{"id":"8e7d5145.3fad4","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"elefos_register","qos":"2","broker":"ced4f10c.63353","x":310,"y":760,"wires":[["ab2c2b48.5bb848"]]},{"id":"f6f6503b.6e01b","type":"digest","z":"b46ad2e6.8db39","name":"","algorithm":"MD5","x":1150,"y":760,"wires":[["834d1cc1.0f12a","947a7c78.b1c36"]]},{"id":"968be5cf.189638","type":"function","z":"b46ad2e6.8db39","name":"copy packet","func":"msg.mqtt_out = msg.payload.id_mac\nmsg.payload = msg.payload.id_mac\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":760,"wires":[["f6f6503b.6e01b"]]},{"id":"834d1cc1.0f12a","type":"function","z":"b46ad2e6.8db39","name":"get last device","func":"msg.packet = {\n    \"oauth_server\" : msg.payload\n}\nvar out = \"Select unit FROM server_dht ORDER BY unit DESC limit 1\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":760,"wires":[["e2656999.a90d98"]]},{"id":"e2656999.a90d98","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":1490,"y":760,"wires":[["a0d8ee31.514c3","bcfc5d0f.c935a"]]},{"id":"947a7c78.b1c36","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1380,"y":900,"wires":[]},{"id":"a0d8ee31.514c3","type":"function","z":"b46ad2e6.8db39","name":"add packet, insert new device","func":"\nid_part = \"p2p_elefos00\"\nvar unit = msg.payload[0]['unit'] + 1 // tang 1 cho device ke tiep\nmsg.packet.id_server = id_part + unit\nquery = \"INSERT INTO `server_dht` (`id_server`, `oauth_server`) VALUES (?,?)\";\nmsg.payload = [msg.packet.id_server, msg.packet.oauth_server];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":760,"wires":[["99703657.2b5568"]]},{"id":"99703657.2b5568","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":1970,"y":760,"wires":[["55c7f51b.9b9fbc"]]},{"id":"3b7f7b4d.fe54c4","type":"function","z":"b46ad2e6.8db39","name":"sent packet","func":"msg.payload = msg.packet\nmsg.topic = msg.mqtt_out\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":760,"wires":[["e581168b.d45e88","c806c4bc.45aef8"]]},{"id":"e581168b.d45e88","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":2550,"y":760,"wires":[]},{"id":"c806c4bc.45aef8","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2470,"y":860,"wires":[]},{"id":"9f351231.15003","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2820,"y":560,"wires":[]},{"id":"55c7f51b.9b9fbc","type":"function","z":"b46ad2e6.8db39","name":"main flow","func":"msg.packet.flow = [{\n\t\t\"id\": \"d86d9fe1.0e5c4\",\n\t\t\"type\": \"tab\",\n\t\t\"label\": \"p2p\",\n\t\t\"disabled\": false,\n\t\t\"info\": \"\"\n\t}, {\n\t\t\"id\": \"f07c71ae.416e8\",\n\t\t\"type\": \"tab\",\n\t\t\"label\": \"reload_flows\",\n\t\t\"disabled\": false,\n\t\t\"info\": \"\"\n\t}, {\n\t\t\"id\": \"21aa4ee1.0f0142\",\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"\",\n\t\t\"broker\": \"localhost\",\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}, {\n\t\t\"id\": \"bd7647b3.5bf2a8\",\n\t\t\"type\": \"MySQLdatabase\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"host\": \"127.0.0.1\",\n\t\t\"port\": \"3306\",\n\t\t\"db\": \"NDT_table\",\n\t\t\"tz\": \"\"\n\t}, {\n\t\t\"id\": \"61ada8f0.a46bc8\",\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"superDB\",\n\t\t\"broker\": \"128.199.236.138\",\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"closeTopic\": \"\",\n\t\t\"closeQos\": \"0\",\n\t\t\"closePayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}, {\n\t\t\"id\": \"9ce48933.adabf8\",\n\t\t\"type\": \"inject\",\n\t\t\"z\": \"f07c71ae.416e8\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"payload\": \"\",\n\t\t\"payloadType\": \"date\",\n\t\t\"repeat\": \"\",\n\t\t\"crontab\": \"\",\n\t\t\"once\": false,\n\t\t\"onceDelay\": 0.1,\n\t\t\"x\": 140,\n\t\t\"y\": 120,\n\t\t\"wires\": [[\"6dc33b94.8a27a4\"]]\n\t}, {\n\t\t\"id\": \"6dc33b94.8a27a4\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"f07c71ae.416e8\",\n\t\t\"name\": \"\",\n\t\t\"func\": \"msg.headers = {\\n         \\\"Content-type\\\" : \\\"application/json\\\",\\n         \\\"Node-RED-Deployment-Type\\\": \\\"reload\\\"\\n     }\\nmsg.payload = {};\\n     return msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 310,\n\t\t\"y\": 120,\n\t\t\"wires\": [[\"c0e31a63.c8bd78\"]]\n\t}, {\n\t\t\"id\": \"c0e31a63.c8bd78\",\n\t\t\"type\": \"http request\",\n\t\t\"z\": \"f07c71ae.416e8\",\n\t\t\"name\": \"\",\n\t\t\"method\": \"POST\",\n\t\t\"ret\": \"txt\",\n\t\t\"url\": \"http://localhost:1880/flows\",\n\t\t\"tls\": \"\",\n\t\t\"x\": 470,\n\t\t\"y\": 120,\n\t\t\"wires\": [[\"319e253a.4b06aa\"]]\n\t}, {\n\t\t\"id\": \"319e253a.4b06aa\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"f07c71ae.416e8\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"false\",\n\t\t\"x\": 640,\n\t\t\"y\": 120,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"2d36260e.8fdd5a\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 290,\n\t\t\"y\": 200,\n\t\t\"wires\": [[\"9892d5e.0c95928\", \"c1c33dce.d397b\"]]\n\t}, {\n\t\t\"id\": \"65ce27b2.836048\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"gui o localhost\",\n\t\t\"topic\": \"\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 960,\n\t\t\"y\": 200,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"8567c99b.ba70b8\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"convert from to\",\n\t\t\"func\": \"\\nmsg.packet = {\\n    \\\"from\\\" : msg._topic,\\n    \\\"to\\\" : msg.payload.to,\\n    \\\"content\\\" : msg.payload.content,\\n    \\\"request\\\" : 0\\n}\\nmsg.payload = {\\n    \\\"from\\\": msg.packet.from,\\n    \\\"content\\\" : msg.packet.content\\n}\\nmsg.topic = msg.packet.to\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 680,\n\t\t\"y\": 200,\n\t\t\"wires\": [[\"4202006e.d86d9\", \"65ce27b2.836048\"]]\n\t}, {\n\t\t\"id\": \"2b20d3f0.9d997c\",\n\t\t\"type\": \"inject\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"payload\": \"\",\n\t\t\"payloadType\": \"str\",\n\t\t\"repeat\": \"\",\n\t\t\"crontab\": \"\",\n\t\t\"once\": false,\n\t\t\"onceDelay\": 0.1,\n\t\t\"x\": 160,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"1640597d.85d897\"]]\n\t}, {\n\t\t\"id\": \"832ed2ca.56681\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 540,\n\t\t\"y\": 560,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"1640597d.85d897\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"test device gui len\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"to\\\" : msg.payload,\\n    \\\"content\\\" : \\\"hello tao la 68\\\"\\n    \\n}\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 350,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"832ed2ca.56681\"]]\n\t}, {\n\t\t\"id\": \"1ee867f7.4e18b8\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload[0]['status']\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"1\"\n\t\t\t}, {\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"0\"\n\t\t\t}, {\n\t\t\t\t\"t\": \"else\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 3,\n\t\t\"x\": 1390,\n\t\t\"y\": 260,\n\t\t\"wires\": [[\"5e05338f.ccb85c\"], [\"f37418cb.a97f98\"], [\"aa0ee922.973168\"]]\n\t}, {\n\t\t\"id\": \"af779f0f.f1244\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"reload server\",\n\t\t\"func\": \"msg.headers = {\\n         \\\"Content-type\\\" : \\\"application/json\\\",\\n         \\\"Node-RED-Deployment-Type\\\": \\\"reload\\\"\\n     }\\nmsg.payload = {};\\n     return msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 3690,\n\t\t\"y\": 340,\n\t\t\"wires\": [[\"9baee4e9.9ce568\"]]\n\t}, {\n\t\t\"id\": \"9baee4e9.9ce568\",\n\t\t\"type\": \"http request\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"method\": \"POST\",\n\t\t\"ret\": \"txt\",\n\t\t\"url\": \"http://localhost:1880/flows\",\n\t\t\"tls\": \"\",\n\t\t\"x\": 3850,\n\t\t\"y\": 340,\n\t\t\"wires\": [[\"4e013598.4922ac\"]]\n\t}, {\n\t\t\"id\": \"9892d5e.0c95928\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload.to\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"t\": \"null\"\n\t\t\t}, {\n\t\t\t\t\"t\": \"nnull\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 490,\n\t\t\"y\": 200,\n\t\t\"wires\": [[], [\"8567c99b.ba70b8\"]]\n\t}, {\n\t\t\"id\": \"4202006e.d86d9\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"check list server connected\",\n\t\t\"func\": \"\\n//var out = \\\"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\\\" + msg.topic +\\\"') THEN 1 ELSE'\\\" +  msg.topic + \\\"' END AS result\\\";\\nvar out = \\\"Select status FROM server_connected WHERE id_server = '\\\" + msg.packet.to +\\\"'\\\";\\nmsg.topic = out;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 920,\n\t\t\"y\": 260,\n\t\t\"wires\": [[\"f39ecccd.ec7cc\"]]\n\t}, {\n\t\t\"id\": \"a44c0ffc.39107\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"nghe tu device hoac tu local gui xuong device\",\n\t\t\"info\": \"\",\n\t\t\"x\": 210,\n\t\t\"y\": 120,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"de2fdf22.99615\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"insert json mqtt_broker\",\n\t\t\"func\": \"\\na =  {\\n\\t\\t\\\"id\\\": msg.packet.to,\\n\\t\\t\\\"type\\\": \\\"mqtt-broker\\\",\\n\\t\\t\\\"z\\\": \\\"\\\",\\n\\t\\t\\\"name\\\": \\\"\\\",\\n\\t\\t\\\"broker\\\": msg.packet.ip_server,\\n\\t\\t\\\"port\\\": \\\"1883\\\",\\n\\t\\t\\\"clientid\\\": \\\"\\\",\\n\\t\\t\\\"usetls\\\": false,\\n\\t\\t\\\"compatmode\\\": true,\\n\\t\\t\\\"keepalive\\\": \\\"60\\\",\\n\\t\\t\\\"cleansession\\\": true,\\n\\t\\t\\\"birthTopic\\\": \\\"\\\",\\n\\t\\t\\\"birthQos\\\": \\\"0\\\",\\n\\t\\t\\\"birthPayload\\\": \\\"\\\",\\n\\t\\t\\\"closeTopic\\\": \\\"\\\",\\n\\t\\t\\\"closeQos\\\": \\\"0\\\",\\n\\t\\t\\\"closePayload\\\": \\\"\\\",\\n\\t\\t\\\"willTopic\\\": \\\"\\\",\\n\\t\\t\\\"willQos\\\": \\\"0\\\",\\n\\t\\t\\\"willPayload\\\": \\\"\\\"\\n\\t}\\n\\tb = {\\n\\t\\t\\\"id\\\": msg.id_mqtt_in,\\n\\t\\t\\\"type\\\": \\\"mqtt in\\\",\\n\\t\\t\\\"z\\\": \\\"d86d9fe1.0e5c4\\\",\\n\\t\\t\\\"name\\\": msg.packet.from, //cai nay chinh la mqtt local\\n\\t\\t\\\"topic\\\": msg.packet.from,\\n\\t\\t\\\"qos\\\": \\\"2\\\",\\n\\t\\t\\\"broker\\\": msg.packet.to,\\n\\t\\t\\\"x\\\": msg.payload.pos_x,\\n\\t\\t\\\"y\\\": msg.payload.pos_y,\\n\\t\\t\\\"wires\\\": [[\\\"id_mqtt_out\\\"]]\\n\\t}\\nmsg.payload = \\\",\\\" + JSON.stringify(a) + \\\",\\\" + JSON.stringify(b)\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2240,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"dea7b24c.96f7e\", \"f213c710.ee41c8\"]]\n\t}, {\n\t\t\"id\": \"f213c710.ee41c8\",\n\t\t\"type\": \"file\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"filename\": \"/root/.node-red/run/mqtt_broker.json\",\n\t\t\"appendNewline\": true,\n\t\t\"createDir\": false,\n\t\t\"overwriteFile\": \"true\",\n\t\t\"x\": 2600,\n\t\t\"y\": 380,\n\t\t\"wires\": [[\"2be26853.79d218\"]]\n\t}, {\n\t\t\"id\": \"7e15d0a4.d5a79\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"test gia lap device\",\n\t\t\"info\": \"\",\n\t\t\"x\": 130,\n\t\t\"y\": 520,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"6c3d75c1.0a0b5c\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"insert DB list server_connected\",\n\t\t\"func\": \"\\nquery = \\\"INSERT INTO `server_connected` (`id_server`, `ip_server`, `status`) VALUES (?,?,?)\\\";\\nmsg.payload = [msg.packet.to, msg.packet.ip_server, 0];\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2270,\n\t\t\"y\": 400,\n\t\t\"wires\": [[\"7a15e2d1.00878c\"]]\n\t}, {\n\t\t\"id\": \"107b2634.238bca\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"insert khi co id trong db\",\n\t\t\"info\": \"\",\n\t\t\"x\": 2800,\n\t\t\"y\": 420,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"563b8a32.efbc54\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"max(unit), x, y for mqtt_in\",\n\t\t\"func\": \"msg.packet = msg.payload\\nvar out = \\\"Select MAX(unit) as unit, MAX(x) as x, MAX(y) as y FROM mqtt_in ORDER BY unit DESC\\\";  \\nmsg.topic = out;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1530,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"aea68bd2.1d6338\"]]\n\t}, {\n\t\t\"id\": \"dea7b24c.96f7e\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 2610,\n\t\t\"y\": 340,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"44541669.65db68\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"json for value mqtt_in\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"number\\\" : msg.payload[0]['unit'] + 1,\\n    \\\"pos_x\\\" : msg.payload[0]['x'],\\n    \\\"pos_y\\\" : msg.payload[0]['y'] +40\\n}\\nmsg.id_mqtt_in = \\\"id_mqtt_in\\\" + msg.payload.number.toString()\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1940,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"de2fdf22.99615\", \"6c3d75c1.0a0b5c\", \"d9cce086.a446b\"]]\n\t}, {\n\t\t\"id\": \"d9cce086.a446b\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"insert to mqtt_in\",\n\t\t\"func\": \"query = \\\"INSERT INTO `mqtt_in` (`id_mqtt_in`, `x`, `y`) VALUES (?,?,?)\\\";\\nmsg.payload = [msg.id_mqtt_in, msg.payload.pos_x, msg.payload.pos_y];\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2220,\n\t\t\"y\": 320,\n\t\t\"wires\": [[\"4de7f33.88afc0c\"]]\n\t}, {\n\t\t\"id\": \"c96ebdaa.57833\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update status DB list server_connected\",\n\t\t\"func\": \"query = \\\"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\\\" + msg.payload.id_server_from + \\\"'\\\"; //luon luon 1 de cap nhat 0\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1360,\n\t\t\"y\": 60,\n\t\t\"wires\": [[\"6337ec20.242ad4\"]]\n\t}, {\n\t\t\"id\": \"da7d90e0.6eab3\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 1830,\n\t\t\"y\": 60,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"8ae6ec67.ceb12\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"nhanh update status khi connect thanh cong\",\n\t\t\"info\": \"\",\n\t\t\"x\": 1310,\n\t\t\"y\": 20,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"d7dc6b0e.b6a358\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"setup_response\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 940,\n\t\t\"y\": 60,\n\t\t\"wires\": [[\"d5212710.61fc78\"]]\n\t}, {\n\t\t\"id\": \"d5212710.61fc78\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 1130,\n\t\t\"y\": 60,\n\t\t\"wires\": [[\"c96ebdaa.57833\"]]\n\t}, {\n\t\t\"id\": \"536f2b02.050f34\",\n\t\t\"type\": \"exec\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"command\": \"python /root/.node-red/run/merge.py\",\n\t\t\"addpay\": false,\n\t\t\"append\": \"\",\n\t\t\"useSpawn\": \"false\",\n\t\t\"timer\": \"\",\n\t\t\"oldrc\": false,\n\t\t\"name\": \"\",\n\t\t\"x\": 3370,\n\t\t\"y\": 380,\n\t\t\"wires\": [[\"af779f0f.f1244\"], [], []]\n\t}, {\n\t\t\"id\": \"f39ecccd.ec7cc\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"server avaliable\",\n\t\t\"x\": 1180,\n\t\t\"y\": 260,\n\t\t\"wires\": [[\"1ee867f7.4e18b8\"]]\n\t}, {\n\t\t\"id\": \"7a15e2d1.00878c\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"add server_connected\",\n\t\t\"x\": 2560,\n\t\t\"y\": 440,\n\t\t\"wires\": [[]]\n\t}, {\n\t\t\"id\": \"aea68bd2.1d6338\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"mqtt_in\",\n\t\t\"x\": 1740,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"44541669.65db68\"]]\n\t}, {\n\t\t\"id\": \"4de7f33.88afc0c\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"insert mqtt_in\",\n\t\t\"x\": 2460,\n\t\t\"y\": 320,\n\t\t\"wires\": [[]]\n\t}, {\n\t\t\"id\": \"6337ec20.242ad4\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"add server_connected\",\n\t\t\"x\": 1660,\n\t\t\"y\": 60,\n\t\t\"wires\": [[\"da7d90e0.6eab3\"]]\n\t}, {\n\t\t\"id\": \"elefos_mqtt_request\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"setup_request\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"\",\n\t\t\"x\": 4660,\n\t\t\"y\": 300,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"4e013598.4922ac\",\n\t\t\"type\": \"delay\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"pauseType\": \"delay\",\n\t\t\"timeout\": \"500\",\n\t\t\"timeoutUnits\": \"milliseconds\",\n\t\t\"rate\": \"1\",\n\t\t\"nbRateUnits\": \"1\",\n\t\t\"rateUnits\": \"second\",\n\t\t\"randomFirst\": \"1\",\n\t\t\"randomLast\": \"5\",\n\t\t\"randomUnits\": \"seconds\",\n\t\t\"drop\": false,\n\t\t\"x\": 4030,\n\t\t\"y\": 340,\n\t\t\"wires\": [[\"4e17efc8.be447\"]]\n\t}, {\n\t\t\"id\": \"2be26853.79d218\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"broker\",\n\t\t\"func\": \"msg.payload = msg.packet.to\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2850,\n\t\t\"y\": 380,\n\t\t\"wires\": [[\"402dc258.d72e6c\"]]\n\t}, {\n\t\t\"id\": \"402dc258.d72e6c\",\n\t\t\"type\": \"file\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"filename\": \"/root/.node-red/run/id_broker.txt\",\n\t\t\"appendNewline\": true,\n\t\t\"createDir\": false,\n\t\t\"overwriteFile\": \"true\",\n\t\t\"x\": 3070,\n\t\t\"y\": 380,\n\t\t\"wires\": [[\"536f2b02.050f34\"]]\n\t}, {\n\t\t\"id\": \"6f559592.e0a4cc\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"setup_request\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 110,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"1d5e3756.6d5779\"]]\n\t}, {\n\t\t\"id\": \"d8cea3e2.3e542\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"edit and backup first msg\",\n\t\t\"func\": \"\\nmsg.packet = {\\n    \\\"from\\\" : msg.payload.id_server_to,\\n    \\\"to\\\" : msg.payload.id_server_from,\\n    \\\"content\\\" : msg.payload.content,\\n    \\\"request\\\" : 1\\n}\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 510,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"4202006e.d86d9\", \"id_mqtt_out\"]]\n\t}, {\n\t\t\"id\": \"1d5e3756.6d5779\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 290,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"d8cea3e2.3e542\"]]\n\t}, {\n\t\t\"id\": \"4e17efc8.be447\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"packet.request\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"str\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"0\"\n\t\t\t}, {\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"1\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 4190,\n\t\t\"y\": 340,\n\t\t\"wires\": [[\"d7354727.83a1c8\"], [\"db85f0b0.5e308\"]]\n\t}, {\n\t\t\"id\": \"db85f0b0.5e308\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update status DB list server_connected\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"id_server_from\\\" : msg.packet.from,\\n    \\\"id_server_to\\\" : msg.packet.to\\n}\\nmsg.backup = msg.payload\\nquery = \\\"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\\\" + msg.payload.id_server_to + \\\"'\\\"; //luon luon 1 de cap nhat 0\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 4460,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"ed47d54a.ec4a68\"]]\n\t}, {\n\t\t\"id\": \"93aec8ea.0cf3a8\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 4750,\n\t\t\"y\": 480,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"ed47d54a.ec4a68\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"add server_connected\",\n\t\t\"x\": 4540,\n\t\t\"y\": 420,\n\t\t\"wires\": [[\"93aec8ea.0cf3a8\", \"a5e3d89d.3ec938\"]]\n\t}, {\n\t\t\"id\": \"elefos_mqtt_response\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"setup_response\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"\",\n\t\t\"x\": 4880,\n\t\t\"y\": 420,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"a5e3d89d.3ec938\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"func\": \"msg.payload = msg.backup\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 4730,\n\t\t\"y\": 420,\n\t\t\"wires\": [[\"elefos_mqtt_response\"]]\n\t}, {\n\t\t\"id\": \"d7354727.83a1c8\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"packet have msg first\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"id_server_from\\\" : msg.packet.from,\\n    \\\"id_server_to\\\" : msg.packet.to,\\n    \\\"content\\\" : msg.packet.content\\n}\\nmsg.backup = msg.payload\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 4400,\n\t\t\"y\": 300,\n\t\t\"wires\": [[\"elefos_mqtt_request\", \"59540418.79417c\"]]\n\t}, {\n\t\t\"id\": \"f37418cb.a97f98\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"broker\",\n\t\t\"func\": \"msg.payload = msg.packet.to\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2810,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"d57ee01e.b722c\"]]\n\t}, {\n\t\t\"id\": \"d57ee01e.b722c\",\n\t\t\"type\": \"file\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"filename\": \"/root/.node-red/run/id_broker.txt\",\n\t\t\"appendNewline\": true,\n\t\t\"createDir\": false,\n\t\t\"overwriteFile\": \"true\",\n\t\t\"x\": 3070,\n\t\t\"y\": 280,\n\t\t\"wires\": [[\"9e4dfd7a.8788a\"]]\n\t}, {\n\t\t\"id\": \"9e4dfd7a.8788a\",\n\t\t\"type\": \"exec\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"command\": \"python /root/.node-red/run/update.py\",\n\t\t\"addpay\": false,\n\t\t\"append\": \"\",\n\t\t\"useSpawn\": \"false\",\n\t\t\"timer\": \"\",\n\t\t\"oldrc\": false,\n\t\t\"name\": \"\",\n\t\t\"x\": 3370,\n\t\t\"y\": 300,\n\t\t\"wires\": [[\"af779f0f.f1244\"], [], []]\n\t}, {\n\t\t\"id\": \"5e05338f.ccb85c\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"packet.request\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"str\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"0\"\n\t\t\t}, {\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"1\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 2670,\n\t\t\"y\": 240,\n\t\t\"wires\": [[], [\"f37418cb.a97f98\"]]\n\t}, {\n\t\t\"id\": \"c1c33dce.d397b\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"false\",\n\t\t\"x\": 450,\n\t\t\"y\": 160,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"1eb634bf.72ce1b\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"synch_output\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 770,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"e9a6c664.40a9b8\"]]\n\t}, {\n\t\t\"id\": \"5c23b3ca.a8e9cc\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update status DB list server_connected\",\n\t\t\"func\": \"query = \\\"UPDATE `server_connected` SET `ip_server` = '\\\" + msg.packet.ip_server + \\\"' WHERE `id_server` = '\\\" + msg.packet.id_server + \\\"'\\\"; //luon luon 1 de cap nhat 0\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1660,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"948078e6.351608\"]]\n\t}, {\n\t\t\"id\": \"948078e6.351608\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"update DB\",\n\t\t\"x\": 1930,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"99e1bfb5.17869\"]]\n\t}, {\n\t\t\"id\": \"e9a6c664.40a9b8\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 950,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"94e5a954.fb2128\"]]\n\t}, {\n\t\t\"id\": \"fa198414.c79f98\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"select DB\",\n\t\t\"x\": 1600,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"9aa2d2ef.49d6a\", \"1889c4b8.89eeab\"]]\n\t}, {\n\t\t\"id\": \"17c91cac.1ee523\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"lookup ip trong server_connected\",\n\t\t\"func\": \"msg.ip_server = msg.payload.replace(\\\"\\\\n\\\",\\\"\\\")\\nvar out = \\\"Select server_connected.ip_server, server_connected.id_server FROM server_connected INNER JOIN my_server ON server_connected.id_server = my_server.id_server\\\";  \\nmsg.topic = out;\\nreturn msg;\\n\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1380,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"fa198414.c79f98\"]]\n\t}, {\n\t\t\"id\": \"9aa2d2ef.49d6a\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload[0]['ip_server']\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"msg\",\n\t\t\t\t\"t\": \"neq\",\n\t\t\t\t\"v\": \"ip_server\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 1,\n\t\t\"x\": 1750,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"4ed3ec08.f1da34\"]]\n\t}, {\n\t\t\"id\": \"d0514cba.a5378\",\n\t\t\"type\": \"exec\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"command\": \"dig TXT +short o-o.myaddr.l.google.com @ns1.google.com | awk -F'\\\"' '{ print $2}'\",\n\t\t\"addpay\": false,\n\t\t\"append\": \"\",\n\t\t\"useSpawn\": \"false\",\n\t\t\"timer\": \"\",\n\t\t\"oldrc\": false,\n\t\t\"name\": \"get ip public\",\n\t\t\"x\": 1150,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"17c91cac.1ee523\"], [], []]\n\t}, {\n\t\t\"id\": \"4ed3ec08.f1da34\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"publish new ip\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"id_server\\\" : msg.payload[0]['id_server'],\\n    \\\"ip_server\\\" : msg.ip_server,\\n    \\\"status\\\" : 1\\n}\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1920,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"384b13a8.fed09c\"]]\n\t}, {\n\t\t\"id\": \"e2011145.24474\",\n\t\t\"type\": \"inject\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"payload\": \"\",\n\t\t\"payloadType\": \"date\",\n\t\t\"repeat\": \"3600\",\n\t\t\"crontab\": \"\",\n\t\t\"once\": true,\n\t\t\"onceDelay\": 0.1,\n\t\t\"x\": 970,\n\t\t\"y\": 720,\n\t\t\"wires\": [[\"d0514cba.a5378\"]]\n\t}, {\n\t\t\"id\": \"384b13a8.fed09c\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"synch_input\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 2090,\n\t\t\"y\": 720,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"id_mqtt_out\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 960,\n\t\t\"y\": 320,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"p2p_mqttin_local\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"p2p_elefos0036\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"21aa4ee1.0f0142\",\n\t\t\"x\": 120,\n\t\t\"y\": 200,\n\t\t\"wires\": [[\"2d36260e.8fdd5a\"]]\n\t}, {\n\t\t\"id\": \"59540418.79417c\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"false\",\n\t\t\"x\": 4650,\n\t\t\"y\": 240,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"5d2b2495.75a3cc\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"lookup\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 1690,\n\t\t\"y\": 300,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"aa0ee922.973168\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"sent packet\",\n\t\t\"func\": \"msg.payload = msg.packet\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1550,\n\t\t\"y\": 300,\n\t\t\"wires\": [[\"5d2b2495.75a3cc\"]]\n\t}, {\n\t\t\"id\": \"p2p_mqttin_server\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"p2p_elefos0036\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 960,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"8bdae61a.973228\"]]\n\t}, {\n\t\t\"id\": \"8bdae61a.973228\",\n\t\t\"type\": \"json\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload\",\n\t\t\"action\": \"\",\n\t\t\"pretty\": false,\n\t\t\"x\": 1190,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"f51c961e.7afbf8\"]]\n\t}, {\n\t\t\"id\": \"b2fab2b4.b2a3f\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"truong hop khong tim thay id trong db\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"payload\",\n\t\t\"x\": 1750,\n\t\t\"y\": 420,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"3795eabf.bef5b6\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"khong tim thay\",\n\t\t\"func\": \"msg.payload = \\\"meo thay nhe\\\"\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1500,\n\t\t\"y\": 420,\n\t\t\"wires\": [[\"b2fab2b4.b2a3f\"]]\n\t}, {\n\t\t\"id\": \"79b9f30d.aefeec\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"Nhan tin hieu broadcast tu server\",\n\t\t\"info\": \"\",\n\t\t\"x\": 1060,\n\t\t\"y\": 520,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"f51c961e.7afbf8\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload.ip_server\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"t\": \"nnull\"\n\t\t\t}, {\n\t\t\t\t\"t\": \"else\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 1330,\n\t\t\"y\": 360,\n\t\t\"wires\": [[\"563b8a32.efbc54\"], [\"3795eabf.bef5b6\"]]\n\t}, {\n\t\t\"id\": \"ac8b6e37.b76c\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"of lookup server\",\n\t\t\"info\": \"\",\n\t\t\"x\": 780,\n\t\t\"y\": 360,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"99e1bfb5.17869\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"ip_broker\",\n\t\t\"func\": \"msg.payload = msg.packet\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 2100,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"59a5319e.cb006\"]]\n\t}, {\n\t\t\"id\": \"59a5319e.cb006\",\n\t\t\"type\": \"file\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"filename\": \"/root/.node-red/run/ip_broker.json\",\n\t\t\"appendNewline\": true,\n\t\t\"createDir\": false,\n\t\t\"overwriteFile\": \"true\",\n\t\t\"x\": 2340,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"2d280af8.89e766\"]]\n\t}, {\n\t\t\"id\": \"2d280af8.89e766\",\n\t\t\"type\": \"exec\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"command\": \"python /root/.node-red/run/update_broker.py\",\n\t\t\"addpay\": false,\n\t\t\"append\": \"\",\n\t\t\"useSpawn\": \"false\",\n\t\t\"timer\": \"\",\n\t\t\"oldrc\": false,\n\t\t\"name\": \"\",\n\t\t\"x\": 2690,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"d4381c38.1f131\"], [], []]\n\t}, {\n\t\t\"id\": \"b4f358ed.a6b4b8\",\n\t\t\"type\": \"delay\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"pauseType\": \"delay\",\n\t\t\"timeout\": \"500\",\n\t\t\"timeoutUnits\": \"milliseconds\",\n\t\t\"rate\": \"1\",\n\t\t\"nbRateUnits\": \"1\",\n\t\t\"rateUnits\": \"second\",\n\t\t\"randomFirst\": \"1\",\n\t\t\"randomLast\": \"5\",\n\t\t\"randomUnits\": \"seconds\",\n\t\t\"drop\": false,\n\t\t\"x\": 3430,\n\t\t\"y\": 560,\n\t\t\"wires\": [[]]\n\t}, {\n\t\t\"id\": \"79a269db.a790a8\",\n\t\t\"type\": \"http request\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"method\": \"POST\",\n\t\t\"ret\": \"txt\",\n\t\t\"url\": \"http://localhost:1880/flows\",\n\t\t\"tls\": \"\",\n\t\t\"x\": 3270,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"b4f358ed.a6b4b8\"]]\n\t}, {\n\t\t\"id\": \"c73c264.d0111d8\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"reload server\",\n\t\t\"func\": \"msg.headers = {\\n         \\\"Content-type\\\" : \\\"application/json\\\",\\n         \\\"Node-RED-Deployment-Type\\\": \\\"reload\\\"\\n     }\\nmsg.payload = {};\\n     return msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 3110,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"79a269db.a790a8\"]]\n\t}, {\n\t\t\"id\": \"p2p_mqttin_check\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"p2p_elefos0036_check\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 740,\n\t\t\"y\": 600,\n\t\t\"wires\": [[\"e9a6c664.40a9b8\"]]\n\t}, {\n\t\t\"id\": \"fe69310c.11983\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"get all ip trong server_connected\",\n\t\t\"func\": \"msg.id_server = msg.payload[0]['id_server']\\nvar out = \\\"Select id_server, ip_server FROM server_connected\\\";  \\nmsg.topic = out;\\nreturn msg;\\n\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1410,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"695e1337.6c73bc\"]]\n\t}, {\n\t\t\"id\": \"695e1337.6c73bc\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"select DB\",\n\t\t\"x\": 1620,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"dbe2f4ad.1dbb78\"]]\n\t}, {\n\t\t\"id\": \"91198793.447068\",\n\t\t\"type\": \"inject\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"\",\n\t\t\"payload\": \"\",\n\t\t\"payloadType\": \"date\",\n\t\t\"repeat\": \"3600\",\n\t\t\"crontab\": \"\",\n\t\t\"once\": true,\n\t\t\"onceDelay\": 0.1,\n\t\t\"x\": 910,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"98803aa7.ab73f8\"]]\n\t}, {\n\t\t\"id\": \"fdb8b1bc.202f1\",\n\t\t\"type\": \"mqtt out\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"synch_list\",\n\t\t\"qos\": \"\",\n\t\t\"retain\": \"\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 2060,\n\t\t\"y\": 820,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"d4381c38.1f131\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"packet.status\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"vt\": \"num\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"1\"\n\t\t\t}, {\n\t\t\t\t\"vt\": \"str\",\n\t\t\t\t\"t\": \"eq\",\n\t\t\t\t\"v\": \"0\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 2,\n\t\t\"x\": 2930,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"c73c264.d0111d8\"], [\"143f14db.8563fb\"]]\n\t}, {\n\t\t\"id\": \"c3ba7d4b.e4ce5\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"khoa status\",\n\t\t\"info\": \"Khoa nay giup phan biet khi nao la dong bo broadcast\\nVa cap nhat list ip, list ip chi duoc reset khi status = 1\\nNeu chua het thi o server van gui xuong 0 o luong synch_list\",\n\t\t\"x\": 2650,\n\t\t\"y\": 520,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"fb81246d.aae9f8\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 2050,\n\t\t\"y\": 880,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"dbe2f4ad.1dbb78\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"check update when sleep\",\n\t\t\"func\": \"msg.payload = {\\n    \\\"id_server\\\" : msg.id_server,\\n    \\\"list\\\" : msg.payload\\n}\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1850,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"fdb8b1bc.202f1\", \"fb81246d.aae9f8\"]]\n\t}, {\n\t\t\"id\": \"143f14db.8563fb\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"false\",\n\t\t\"x\": 3090,\n\t\t\"y\": 600,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"p2p_mqttin_reload\",\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"topic\": \"p2p_elefos0036_reload\",\n\t\t\"qos\": \"2\",\n\t\t\"broker\": \"61ada8f0.a46bc8\",\n\t\t\"x\": 3040,\n\t\t\"y\": 480,\n\t\t\"wires\": [[\"c73c264.d0111d8\"]]\n\t}, {\n\t\t\"id\": \"5a1c5b65.18d834\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update my ip \",\n\t\t\"info\": \"\",\n\t\t\"x\": 790,\n\t\t\"y\": 720,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"4be0daec.7d89e4\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"chi khi nao thay doi moi dc qua\",\n\t\t\"info\": \"\",\n\t\t\"x\": 1810,\n\t\t\"y\": 680,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"9717f311.e2dfb\",\n\t\t\"type\": \"comment\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"update list connected\",\n\t\t\"info\": \"\",\n\t\t\"x\": 700,\n\t\t\"y\": 820,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"98803aa7.ab73f8\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"get my ip\",\n\t\t\"func\": \"var out = \\\"Select id_server FROM my_server\\\";  \\nmsg.topic = out;\\nreturn msg;\\n\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1060,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"fcccba5b.292058\"]]\n\t}, {\n\t\t\"id\": \"fcccba5b.292058\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"select DB\",\n\t\t\"x\": 1200,\n\t\t\"y\": 820,\n\t\t\"wires\": [[\"fe69310c.11983\"]]\n\t}, {\n\t\t\"id\": \"1889c4b8.89eeab\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 1720,\n\t\t\"y\": 660,\n\t\t\"wires\": []\n\t}, {\n\t\t\"id\": \"94e5a954.fb2128\",\n\t\t\"type\": \"function\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"check ip\",\n\t\t\"func\": \"msg.packet = msg.payload\\nquery = \\\"select id_server from server_connected WHERE `id_server` = '\\\" + msg.packet.id_server + \\\"'\\\"; //luon luon 1 de cap nhat 0\\nmsg.topic = query;\\nreturn msg;\",\n\t\t\"outputs\": 1,\n\t\t\"noerr\": 0,\n\t\t\"x\": 1100,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"544da6d5.02d878\", \"5a3249df.9bf6d8\"]]\n\t}, {\n\t\t\"id\": \"544da6d5.02d878\",\n\t\t\"type\": \"mysql\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"mydb\": \"bd7647b3.5bf2a8\",\n\t\t\"name\": \"select DB\",\n\t\t\"x\": 1260,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"624ba739.a9ae78\"]]\n\t}, {\n\t\t\"id\": \"624ba739.a9ae78\",\n\t\t\"type\": \"switch\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"property\": \"payload[0]\",\n\t\t\"propertyType\": \"msg\",\n\t\t\"rules\": [{\n\t\t\t\t\"t\": \"nnull\"\n\t\t\t}\n\t\t],\n\t\t\"checkall\": \"true\",\n\t\t\"repair\": false,\n\t\t\"outputs\": 1,\n\t\t\"x\": 1410,\n\t\t\"y\": 560,\n\t\t\"wires\": [[\"5c23b3ca.a8e9cc\"]]\n\t}, {\n\t\t\"id\": \"5a3249df.9bf6d8\",\n\t\t\"type\": \"debug\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": \"\",\n\t\t\"active\": true,\n\t\t\"tosidebar\": true,\n\t\t\"console\": false,\n\t\t\"tostatus\": false,\n\t\t\"complete\": \"true\",\n\t\t\"x\": 1280,\n\t\t\"y\": 500,\n\t\t\"wires\": []\n\t}\n]\n\nfor(var x = 0; x < msg.packet.flow.length; x++){\n    var obj = msg.packet.flow[x]\n    if(obj['id'] == \"p2p_mqttin_local\" || obj['id'] == \"p2p_mqttin_server\" || obj['id'] == \"id_mqtt_out\")\n        obj['topic'] = msg.packet.id_server\n    if(obj[\"id\"] == \"p2p_mqttin_reload\")\n        obj['topic'] = msg.packet.id_server + \"_reload\"\n    if(obj['id'] == \"p2p_mqttin_check\")\n        obj['topic'] = msg.packet.id_server + \"_check\"\n}\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":2140,"y":760,"wires":[["3b7f7b4d.fe54c4"]]},{"id":"82194765.2e1ae8","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":880,"wires":[]},{"id":"bcfc5d0f.c935a","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1640,"y":720,"wires":[]}]