Json/flows_SuperNode001.json
[{"id":"d86d9fe1.0e5c4","type":"tab","label":"p2p","disabled":false,"info":""},{"id":"f07c71ae.416e8","type":"tab","label":"reload_flows","disabled":false,"info":""},{"id":"21aa4ee1.0f0142","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd7647b3.5bf2a8","type":"MySQLdatabase","z":"d86d9fe1.0e5c4","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"61ada8f0.a46bc8","type":"mqtt-broker","z":"","name":"superDB","broker":"128.199.236.138","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9ce48933.adabf8","type":"inject","z":"f07c71ae.416e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["6dc33b94.8a27a4"]]},{"id":"6dc33b94.8a27a4","type":"function","z":"f07c71ae.416e8","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["c0e31a63.c8bd78"]]},{"id":"c0e31a63.c8bd78","type":"http request","z":"f07c71ae.416e8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":470,"y":120,"wires":[["319e253a.4b06aa"]]},{"id":"319e253a.4b06aa","type":"debug","z":"f07c71ae.416e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":120,"wires":[]},{"id":"2d36260e.8fdd5a","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":290,"y":200,"wires":[["9892d5e.0c95928","c1c33dce.d397b"]]},{"id":"65ce27b2.836048","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"gui o localhost","topic":"","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":960,"y":200,"wires":[]},{"id":"8567c99b.ba70b8","type":"function","z":"d86d9fe1.0e5c4","name":"convert from to","func":"\nmsg.packet = {\n    \"from\" : msg._topic,\n    \"to\" : msg.payload.to,\n    \"content\" : msg.payload.content,\n    \"request\" : 0\n}\nmsg.payload = {\n    \"from\": msg.packet.from,\n    \"content\" : msg.packet.content\n}\nmsg.topic = msg.packet.to\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["4202006e.d86d9","65ce27b2.836048"]]},{"id":"2b20d3f0.9d997c","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"p2p_elefos003","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":560,"wires":[["1640597d.85d897"]]},{"id":"832ed2ca.56681","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"p2p_elefos002","topic":"p2p_elefos002","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":540,"y":560,"wires":[]},{"id":"1640597d.85d897","type":"function","z":"d86d9fe1.0e5c4","name":"test device gui len","func":"msg.payload = {\n    \"to\" : msg.payload,\n    \"content\" : \"hello tao la 68\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["832ed2ca.56681"]]},{"id":"1ee867f7.4e18b8","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]['status']","propertyType":"msg","rules":[{"vt":"num","t":"eq","v":"1"},{"vt":"num","t":"eq","v":"0"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1390,"y":260,"wires":[["5e05338f.ccb85c"],["f37418cb.a97f98"],["aa0ee922.973168"]]},{"id":"af779f0f.f1244","type":"function","z":"d86d9fe1.0e5c4","name":"reload server","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":3690,"y":340,"wires":[["9baee4e9.9ce568"]]},{"id":"9baee4e9.9ce568","type":"http request","z":"d86d9fe1.0e5c4","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":3850,"y":340,"wires":[["4e013598.4922ac"]]},{"id":"9892d5e.0c95928","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":200,"wires":[[],["8567c99b.ba70b8"]]},{"id":"4202006e.d86d9","type":"function","z":"d86d9fe1.0e5c4","name":"check list server connected","func":"\n//var out = \"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nvar out = \"Select status FROM server_connected WHERE id_server = '\" + msg.packet.to +\"'\";\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":260,"wires":[["f39ecccd.ec7cc"]]},{"id":"a44c0ffc.39107","type":"comment","z":"d86d9fe1.0e5c4","name":"nghe tu device hoac tu local gui xuong device","info":"","x":210,"y":120,"wires":[]},{"id":"de2fdf22.99615","type":"function","z":"d86d9fe1.0e5c4","name":"insert json mqtt_broker","func":"\na =  {\n\t\t\"id\": msg.packet.to,\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"\",\n\t\t\"broker\": msg.packet.ip_server,\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"closeTopic\": \"\",\n\t\t\"closeQos\": \"0\",\n\t\t\"closePayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}\n\tb = {\n\t\t\"id\": msg.id_mqtt_in,\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": msg.packet.from, //cai nay chinh la mqtt local\n\t\t\"topic\": msg.packet.from,\n\t\t\"qos\": \"2\",\n\t\t\"broker\": msg.packet.to,\n\t\t\"x\": msg.payload.pos_x,\n\t\t\"y\": msg.payload.pos_y,\n\t\t\"wires\": [[\"id_mqtt_out\"]]\n\t}\nmsg.payload = \",\" + JSON.stringify(a) + \",\" + JSON.stringify(b)\nreturn msg;","outputs":1,"noerr":0,"x":2240,"y":360,"wires":[["dea7b24c.96f7e","f213c710.ee41c8"]]},{"id":"f213c710.ee41c8","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/mqtt_broker.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2600,"y":380,"wires":[["2be26853.79d218"]]},{"id":"7e15d0a4.d5a79","type":"comment","z":"d86d9fe1.0e5c4","name":"test gia lap device","info":"","x":130,"y":520,"wires":[]},{"id":"6c3d75c1.0a0b5c","type":"function","z":"d86d9fe1.0e5c4","name":"insert DB list server_connected","func":"\nquery = \"INSERT INTO `server_connected` (`id_server`, `ip_server`, `status`) VALUES (?,?,?)\";\nmsg.payload = [msg.packet.to, msg.packet.ip_server, 0];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2270,"y":400,"wires":[["7a15e2d1.00878c"]]},{"id":"107b2634.238bca","type":"comment","z":"d86d9fe1.0e5c4","name":"insert khi co id trong db","info":"","x":2800,"y":420,"wires":[]},{"id":"563b8a32.efbc54","type":"function","z":"d86d9fe1.0e5c4","name":"max(unit), x, y for mqtt_in","func":"msg.packet = msg.payload\nvar out = \"Select MAX(unit) as unit, MAX(x) as x, MAX(y) as y FROM mqtt_in ORDER BY unit DESC\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":360,"wires":[["aea68bd2.1d6338"]]},{"id":"dea7b24c.96f7e","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2610,"y":340,"wires":[]},{"id":"44541669.65db68","type":"function","z":"d86d9fe1.0e5c4","name":"json for value mqtt_in","func":"msg.payload = {\n    \"number\" : msg.payload[0]['unit'] + 1,\n    \"pos_x\" : msg.payload[0]['x'],\n    \"pos_y\" : msg.payload[0]['y'] +40\n}\nmsg.id_mqtt_in = \"id_mqtt_in\" + msg.payload.number.toString()\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":360,"wires":[["de2fdf22.99615","6c3d75c1.0a0b5c","d9cce086.a446b"]]},{"id":"d9cce086.a446b","type":"function","z":"d86d9fe1.0e5c4","name":"insert to mqtt_in","func":"query = \"INSERT INTO `mqtt_in` (`id_mqtt_in`, `x`, `y`) VALUES (?,?,?)\";\nmsg.payload = [msg.id_mqtt_in, msg.payload.pos_x, msg.payload.pos_y];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2220,"y":320,"wires":[["4de7f33.88afc0c"]]},{"id":"c96ebdaa.57833","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"query = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_from + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":60,"wires":[["6337ec20.242ad4"]]},{"id":"da7d90e0.6eab3","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":60,"wires":[]},{"id":"8ae6ec67.ceb12","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh update status khi connect thanh cong","info":"","x":1310,"y":20,"wires":[]},{"id":"d7dc6b0e.b6a358","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"2","broker":"21aa4ee1.0f0142","x":940,"y":60,"wires":[["d5212710.61fc78"]]},{"id":"d5212710.61fc78","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":60,"wires":[["c96ebdaa.57833"]]},{"id":"536f2b02.050f34","type":"exec","z":"d86d9fe1.0e5c4","command":"python /root/.node-red/run/merge.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3370,"y":380,"wires":[["af779f0f.f1244"],[],[]]},{"id":"f39ecccd.ec7cc","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"server avaliable","x":1180,"y":260,"wires":[["1ee867f7.4e18b8"]]},{"id":"7a15e2d1.00878c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":2560,"y":440,"wires":[[]]},{"id":"aea68bd2.1d6338","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"mqtt_in","x":1740,"y":360,"wires":[["44541669.65db68"]]},{"id":"4de7f33.88afc0c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"insert mqtt_in","x":2460,"y":320,"wires":[[]]},{"id":"6337ec20.242ad4","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":1660,"y":60,"wires":[["da7d90e0.6eab3"]]},{"id":"elefos_mqtt_request","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"","retain":"","broker":"","x":4660,"y":300,"wires":[]},{"id":"4e013598.4922ac","type":"delay","z":"d86d9fe1.0e5c4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4030,"y":340,"wires":[["4e17efc8.be447"]]},{"id":"2be26853.79d218","type":"function","z":"d86d9fe1.0e5c4","name":"broker","func":"msg.payload = msg.packet.to\nreturn msg;","outputs":1,"noerr":0,"x":2850,"y":380,"wires":[["402dc258.d72e6c"]]},{"id":"402dc258.d72e6c","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/id_broker.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":3070,"y":380,"wires":[["536f2b02.050f34"]]},{"id":"6f559592.e0a4cc","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"2","broker":"21aa4ee1.0f0142","x":110,"y":280,"wires":[["1d5e3756.6d5779"]]},{"id":"d8cea3e2.3e542","type":"function","z":"d86d9fe1.0e5c4","name":"edit and backup first msg","func":"\nmsg.packet = {\n    \"from\" : msg.payload.id_server_to,\n    \"to\" : msg.payload.id_server_from,\n    \"content\" : msg.payload.content,\n    \"request\" : 1\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["4202006e.d86d9","id_mqtt_out"]]},{"id":"1d5e3756.6d5779","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":290,"y":280,"wires":[["d8cea3e2.3e542"]]},{"id":"4e17efc8.be447","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"packet.request","propertyType":"msg","rules":[{"vt":"str","t":"eq","v":"0"},{"vt":"num","t":"eq","v":"1"}],"checkall":"true","repair":false,"outputs":2,"x":4190,"y":340,"wires":[["d7354727.83a1c8"],["db85f0b0.5e308"]]},{"id":"db85f0b0.5e308","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"msg.payload = {\n    \"id_server_from\" : msg.packet.from,\n    \"id_server_to\" : msg.packet.to\n}\nmsg.backup = msg.payload\nquery = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_to + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":4460,"y":360,"wires":[["ed47d54a.ec4a68"]]},{"id":"93aec8ea.0cf3a8","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":4750,"y":480,"wires":[]},{"id":"ed47d54a.ec4a68","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":4540,"y":420,"wires":[["93aec8ea.0cf3a8","a5e3d89d.3ec938"]]},{"id":"elefos_mqtt_response","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"","retain":"","broker":"","x":4880,"y":420,"wires":[]},{"id":"a5e3d89d.3ec938","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = msg.backup\nreturn msg;","outputs":1,"noerr":0,"x":4730,"y":420,"wires":[["elefos_mqtt_response"]]},{"id":"d7354727.83a1c8","type":"function","z":"d86d9fe1.0e5c4","name":"packet have msg first","func":"msg.payload = {\n    \"id_server_from\" : msg.packet.from,\n    \"id_server_to\" : msg.packet.to,\n    \"content\" : msg.packet.content\n}\nmsg.backup = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":4400,"y":300,"wires":[["elefos_mqtt_request","59540418.79417c"]]},{"id":"f37418cb.a97f98","type":"function","z":"d86d9fe1.0e5c4","name":"broker","func":"msg.payload = msg.packet.to\nreturn msg;","outputs":1,"noerr":0,"x":2810,"y":280,"wires":[["d57ee01e.b722c"]]},{"id":"d57ee01e.b722c","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/id_broker.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":3070,"y":280,"wires":[["9e4dfd7a.8788a"]]},{"id":"9e4dfd7a.8788a","type":"exec","z":"d86d9fe1.0e5c4","command":"python /root/.node-red/run/update.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3370,"y":300,"wires":[["af779f0f.f1244"],[],[]]},{"id":"5e05338f.ccb85c","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"packet.request","propertyType":"msg","rules":[{"vt":"str","t":"eq","v":"0"},{"vt":"num","t":"eq","v":"1"}],"checkall":"true","repair":false,"outputs":2,"x":2670,"y":240,"wires":[[],["f37418cb.a97f98"]]},{"id":"c1c33dce.d397b","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":160,"wires":[]},{"id":"1eb634bf.72ce1b","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"synch_output","qos":"2","broker":"61ada8f0.a46bc8","x":990,"y":560,"wires":[["e9a6c664.40a9b8"]]},{"id":"5c23b3ca.a8e9cc","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"msg.packet = msg.payload\nquery = \"UPDATE `server_connected` SET `ip_server` = '\" + msg.packet.ip_server + \"' WHERE `id_server` = '\" + msg.packet.id_server + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":560,"wires":[["948078e6.351608"]]},{"id":"948078e6.351608","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"update DB","x":1690,"y":560,"wires":[["99e1bfb5.17869"]]},{"id":"e9a6c664.40a9b8","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":560,"wires":[["c599897a.183258","5c23b3ca.a8e9cc"]]},{"id":"fa198414.c79f98","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"select DB","x":1600,"y":720,"wires":[["9aa2d2ef.49d6a","1889c4b8.89eeab"]]},{"id":"17c91cac.1ee523","type":"function","z":"d86d9fe1.0e5c4","name":"lookup ip trong server_connected","func":"msg.ip_server = msg.payload.replace(\"\\n\",\"\")\nvar out = \"Select server_connected.ip_server, server_connected.id_server FROM server_connected INNER JOIN my_server ON server_connected.id_server = my_server.id_server\";  \nmsg.topic = out;\nreturn msg;\n","outputs":1,"noerr":0,"x":1380,"y":720,"wires":[["fa198414.c79f98"]]},{"id":"9aa2d2ef.49d6a","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]['ip_server']","propertyType":"msg","rules":[{"vt":"msg","t":"neq","v":"ip_server"}],"checkall":"true","repair":false,"outputs":1,"x":1750,"y":720,"wires":[["4ed3ec08.f1da34"]]},{"id":"d0514cba.a5378","type":"exec","z":"d86d9fe1.0e5c4","command":"dig TXT +short o-o.myaddr.l.google.com @ns1.google.com | awk -F'\"' '{ print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get ip public","x":1150,"y":720,"wires":[["17c91cac.1ee523"],[],[]]},{"id":"4ed3ec08.f1da34","type":"function","z":"d86d9fe1.0e5c4","name":"publish new ip","func":"msg.payload = {\n    \"id_server\" : msg.payload[0]['id_server'],\n    \"ip_server\" : msg.ip_server,\n    \"status\" : 1\n}\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":720,"wires":[["384b13a8.fed09c"]]},{"id":"e2011145.24474","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":970,"y":720,"wires":[["d0514cba.a5378"]]},{"id":"384b13a8.fed09c","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"synch_input","qos":"","retain":"","broker":"61ada8f0.a46bc8","x":2090,"y":720,"wires":[]},{"id":"id_mqtt_out","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"p2p_elefos002","topic":"p2p_elefos002","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":960,"y":320,"wires":[]},{"id":"p2p_mqttin_local","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos004","qos":"2","broker":"21aa4ee1.0f0142","x":120,"y":200,"wires":[["2d36260e.8fdd5a"]]},{"id":"59540418.79417c","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":4650,"y":240,"wires":[]},{"id":"5d2b2495.75a3cc","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"lookup","qos":"","retain":"","broker":"61ada8f0.a46bc8","x":1690,"y":300,"wires":[]},{"id":"aa0ee922.973168","type":"function","z":"d86d9fe1.0e5c4","name":"sent packet","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":300,"wires":[["5d2b2495.75a3cc"]]},{"id":"p2p_mqttin_server","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos004","qos":"2","broker":"61ada8f0.a46bc8","x":960,"y":360,"wires":[["8bdae61a.973228"]]},{"id":"8bdae61a.973228","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":360,"wires":[["f51c961e.7afbf8"]]},{"id":"b2fab2b4.b2a3f","type":"debug","z":"d86d9fe1.0e5c4","name":"truong hop khong tim thay id trong db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1750,"y":420,"wires":[]},{"id":"3795eabf.bef5b6","type":"function","z":"d86d9fe1.0e5c4","name":"khong tim thay","func":"msg.payload = \"meo thay nhe\"\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":420,"wires":[["b2fab2b4.b2a3f"]]},{"id":"79b9f30d.aefeec","type":"comment","z":"d86d9fe1.0e5c4","name":"Nhan tin hieu broadcast tu server","info":"","x":1060,"y":520,"wires":[]},{"id":"f51c961e.7afbf8","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload.ip_server","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":360,"wires":[["563b8a32.efbc54"],["3795eabf.bef5b6"]]},{"id":"ac8b6e37.b76c","type":"comment","z":"d86d9fe1.0e5c4","name":"of lookup server","info":"","x":780,"y":360,"wires":[]},{"id":"99e1bfb5.17869","type":"function","z":"d86d9fe1.0e5c4","name":"ip_broker","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":1860,"y":560,"wires":[["59a5319e.cb006"]]},{"id":"59a5319e.cb006","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/ip_broker.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2100,"y":560,"wires":[["2d280af8.89e766"]]},{"id":"2d280af8.89e766","type":"exec","z":"d86d9fe1.0e5c4","command":"python /root/.node-red/run/update_broker.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2450,"y":560,"wires":[["d4381c38.1f131"],[],[]]},{"id":"b4f358ed.a6b4b8","type":"delay","z":"d86d9fe1.0e5c4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3190,"y":560,"wires":[[]]},{"id":"79a269db.a790a8","type":"http request","z":"d86d9fe1.0e5c4","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":3030,"y":560,"wires":[["b4f358ed.a6b4b8"]]},{"id":"c73c264.d0111d8","type":"function","z":"d86d9fe1.0e5c4","name":"reload server","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":2870,"y":560,"wires":[["79a269db.a790a8"]]},{"id":"p2p_mqttin_check","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos004_check","qos":"2","broker":"61ada8f0.a46bc8","x":960,"y":600,"wires":[["e9a6c664.40a9b8"]]},{"id":"fe69310c.11983","type":"function","z":"d86d9fe1.0e5c4","name":"get all ip trong server_connected","func":"msg.id_server = msg.payload[0]['id_server']\nvar out = \"Select id_server, ip_server FROM server_connected\";  \nmsg.topic = out;\nreturn msg;\n","outputs":1,"noerr":0,"x":1410,"y":820,"wires":[["695e1337.6c73bc"]]},{"id":"695e1337.6c73bc","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"select DB","x":1620,"y":820,"wires":[["dbe2f4ad.1dbb78"]]},{"id":"91198793.447068","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":910,"y":820,"wires":[["98803aa7.ab73f8"]]},{"id":"fdb8b1bc.202f1","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"synch_list","qos":"","retain":"","broker":"61ada8f0.a46bc8","x":2060,"y":820,"wires":[]},{"id":"d4381c38.1f131","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"packet.status","propertyType":"msg","rules":[{"vt":"num","t":"eq","v":"1"},{"vt":"str","t":"eq","v":"0"}],"checkall":"true","repair":false,"outputs":2,"x":2690,"y":560,"wires":[["c73c264.d0111d8"],["143f14db.8563fb"]]},{"id":"c599897a.183258","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1320,"y":520,"wires":[]},{"id":"c3ba7d4b.e4ce5","type":"comment","z":"d86d9fe1.0e5c4","name":"khoa status","info":"Khoa nay giup phan biet khi nao la dong bo broadcast\nVa cap nhat list ip, list ip chi duoc reset khi status = 1\nNeu chua het thi o server van gui xuong 0 o luong synch_list","x":2650,"y":520,"wires":[]},{"id":"fb81246d.aae9f8","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2050,"y":880,"wires":[]},{"id":"dbe2f4ad.1dbb78","type":"function","z":"d86d9fe1.0e5c4","name":"check update when sleep","func":"msg.payload = {\n    \"id_server\" : msg.id_server,\n    \"list\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":820,"wires":[["fdb8b1bc.202f1","fb81246d.aae9f8"]]},{"id":"143f14db.8563fb","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2850,"y":600,"wires":[]},{"id":"p2p_mqttin_reload","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos004_reload","qos":"2","broker":"61ada8f0.a46bc8","x":2800,"y":480,"wires":[["c73c264.d0111d8"]]},{"id":"5a1c5b65.18d834","type":"comment","z":"d86d9fe1.0e5c4","name":"update my ip ","info":"","x":790,"y":720,"wires":[]},{"id":"4be0daec.7d89e4","type":"comment","z":"d86d9fe1.0e5c4","name":"chi khi nao thay doi moi dc qua","info":"","x":1810,"y":680,"wires":[]},{"id":"9717f311.e2dfb","type":"comment","z":"d86d9fe1.0e5c4","name":"update list connected","info":"","x":700,"y":820,"wires":[]},{"id":"98803aa7.ab73f8","type":"function","z":"d86d9fe1.0e5c4","name":"get my ip","func":"var out = \"Select id_server FROM my_server\";  \nmsg.topic = out;\nreturn msg;\n","outputs":1,"noerr":0,"x":1060,"y":820,"wires":[["fcccba5b.292058"]]},{"id":"fcccba5b.292058","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"select DB","x":1200,"y":820,"wires":[["fe69310c.11983"]]},{"id":"1889c4b8.89eeab","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1720,"y":660,"wires":[]}]