Json/flows_SuperDataBase001.json
[{"id":"b46ad2e6.8db39","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ced4f10c.63353","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7654e0d.03fc1","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"a5c2461f.1cf038","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"synch_input","qos":"2","broker":"ced4f10c.63353","x":310,"y":200,"wires":[["bbb2fec8.c12ff"]]},{"id":"bbb2fec8.c12ff","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":470,"y":200,"wires":[["e21e6c03.2f1d9","db9eda2f.1a5dc8"]]},{"id":"12f68902.03ba97","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"synch_output","qos":"","retain":"","broker":"ced4f10c.63353","x":1220,"y":200,"wires":[]},{"id":"86d8cd95.b0c68","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":870,"y":200,"wires":[["e8228500.543d58"]]},{"id":"e21e6c03.2f1d9","type":"function","z":"b46ad2e6.8db39","name":"update database","func":"msg.packet = msg.payload\nquery = \"UPDATE `server_dht` SET `ip_server` = '\" + msg.payload.ip_server + \"' WHERE `id_server` = '\" + msg.payload.id_server + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["86d8cd95.b0c68"]]},{"id":"e8228500.543d58","type":"function","z":"b46ad2e6.8db39","name":"broadcast","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":200,"wires":[["12f68902.03ba97"]]},{"id":"e8d54939.82be98","type":"http in","z":"b46ad2e6.8db39","name":"","url":"/elefos/api","method":"get","upload":false,"swaggerDoc":"","x":320,"y":340,"wires":[["ca2d0e92.af208"]]},{"id":"a53d3db8.de1ad","type":"http response","z":"b46ad2e6.8db39","name":"","x":890,"y":340,"wires":[]},{"id":"7c016fc.3cbff9","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":400,"wires":[]},{"id":"ca2d0e92.af208","type":"switch","z":"b46ad2e6.8db39","name":"","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":340,"wires":[["5a8139aa.a32998"]]},{"id":"5a8139aa.a32998","type":"function","z":"b46ad2e6.8db39","name":"","func":"msg.payload = \"du ma may day la so\" + msg.payload.request\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["7c016fc.3cbff9","a53d3db8.de1ad"]]},{"id":"5152462a.d829a8","type":"inject","z":"b46ad2e6.8db39","name":"","topic":"1","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":400,"wires":[["d16e6945.51d418"]]},{"id":"d16e6945.51d418","type":"http request","z":"b46ad2e6.8db39","name":"","method":"GET","ret":"txt","url":"http://128.199.236.138:1880/elefos/api?request={{{topic}}}","tls":"","x":470,"y":400,"wires":[["b5448c49.729aa"]]},{"id":"b5448c49.729aa","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":400,"wires":[]},{"id":"d7ff9b37.1858f8","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"lookup","qos":"2","broker":"ced4f10c.63353","x":290,"y":80,"wires":[["c8594db3.5c6e1"]]},{"id":"c8594db3.5c6e1","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":440,"y":80,"wires":[["99958a40.8e2b38"]]},{"id":"99958a40.8e2b38","type":"function","z":"b46ad2e6.8db39","name":"lookup ip with id","func":"msg.packet = msg.payload\nvar out = \"Select ip_server FROM server_dht WHERE id_server = '\" + msg.packet.to +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":80,"wires":[["ab834743.66fd08"]]},{"id":"ab834743.66fd08","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":780,"y":80,"wires":[["d00730b5.ecd92","42427afa.609f34"]]},{"id":"d00730b5.ecd92","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":120,"wires":[]},{"id":"d2fe127d.5d0c1","type":"function","z":"b46ad2e6.8db39","name":"new packet","func":"msg.payload = {\n    \"from\" : msg.packet.from,\n    \"to\" : msg.packet.to,\n    \"request\" : 0,\n    \"ip_server\": msg.payload[0]['ip_server'],\n    \"content\" : msg.packet.content\n}\nmsg.topic = msg.packet.from\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":80,"wires":[["98e769c1.65e148"]]},{"id":"98e769c1.65e148","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":1210,"y":80,"wires":[]},{"id":"7b9b9ba6.d55fb4","type":"comment","z":"b46ad2e6.8db39","name":"api cho cac node tai /elefos/api?request=","info":"","x":400,"y":300,"wires":[]},{"id":"c7af9a21.7f1e48","type":"comment","z":"b46ad2e6.8db39","name":"update new ip from node","info":"","x":350,"y":160,"wires":[]},{"id":"362e60f0.11708","type":"comment","z":"b46ad2e6.8db39","name":"lookup ip from node","info":"","x":330,"y":40,"wires":[]},{"id":"42427afa.609f34","type":"switch","z":"b46ad2e6.8db39","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":80,"wires":[["d2fe127d.5d0c1"],["6f603e7d.d8131"]]},{"id":"6f603e7d.d8131","type":"function","z":"b46ad2e6.8db39","name":"new packet","func":"msg.payload = {\n    \"from\" : msg.packet.from,\n    \"to\" : msg.packet.to,\n    \"request\" : 0,\n    \"ip_server\": null,\n    \"content\" : msg.packet.content\n}\nmsg.topic = msg.packet.from\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":120,"wires":[["98e769c1.65e148"]]},{"id":"db9eda2f.1a5dc8","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"6cf17a56.ccab94","type":"comment","z":"b46ad2e6.8db39","name":"khong can check vi device da check","info":"","x":1480,"y":200,"wires":[]},{"id":"a92c6a60.5dfde8","type":"function","z":"b46ad2e6.8db39","name":"lookup ip with id","func":"msg.packet_id = msg.packet.list[msg.packet_length]['id_server']\nmsg.packet_ip = msg.packet.list[msg.packet_length]['ip_server']\nvar out = \"Select id_server, ip_server FROM server_dht WHERE id_server = '\" + msg.packet_id +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":660,"wires":[["bdaef147.4174b"]]},{"id":"b7fd05b2.2605c8","type":"json","z":"b46ad2e6.8db39","name":"","property":"payload","action":"","pretty":false,"x":350,"y":660,"wires":[["1fdb3a72.0188b6","e93d1140.ed084"]]},{"id":"bdaef147.4174b","type":"mysql","z":"b46ad2e6.8db39","mydb":"b7654e0d.03fc1","name":"","x":910,"y":660,"wires":[["ba7add16.63f4a","27f5592c.0f2446"]]},{"id":"8cdb030d.850af","type":"mqtt in","z":"b46ad2e6.8db39","name":"","topic":"synch_list","qos":"2","broker":"ced4f10c.63353","x":220,"y":660,"wires":[["b7fd05b2.2605c8"]]},{"id":"ba7add16.63f4a","type":"switch","z":"b46ad2e6.8db39","name":"","property":"payload[0]['ip_server']","propertyType":"msg","rules":[{"t":"neq","v":"packet_ip","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":660,"wires":[["674042a4.5bcf3c","4405097f.9814b8"]]},{"id":"674042a4.5bcf3c","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":620,"wires":[]},{"id":"4405097f.9814b8","type":"function","z":"b46ad2e6.8db39","name":"single","func":"msg.payload = {\n    \"id_server\": msg.payload[0]['id_server'],\n    \"ip_server\": msg.payload[0]['ip_server'],\n    \"status\" : 0\n}\nmsg.topic = msg.packet.id_server + \"_check\"\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":660,"wires":[["7e6fff03.03f98","a8b8d4cc.1a4c98"]]},{"id":"7e6fff03.03f98","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":1470,"y":660,"wires":[]},{"id":"6c39a715.84a598","type":"comment","z":"b46ad2e6.8db39","name":"check vi chi nhung dua bi thay doi moi dc qua","info":"","x":1170,"y":560,"wires":[]},{"id":"1fdb3a72.0188b6","type":"debug","z":"b46ad2e6.8db39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":620,"wires":[]},{"id":"e93d1140.ed084","type":"function","z":"b46ad2e6.8db39","name":"length msg json","func":"msg.packet = msg.payload\nmsg.packet_length = msg.packet.list.length - 1\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":660,"wires":[["a92c6a60.5dfde8"]]},{"id":"27f5592c.0f2446","type":"function","z":"b46ad2e6.8db39","name":"length --","func":"msg.packet_length--\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":540,"wires":[["83132eb.d9874d"]]},{"id":"83132eb.d9874d","type":"switch","z":"b46ad2e6.8db39","name":"","property":"packet_length","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":540,"wires":[["a92c6a60.5dfde8"]]},{"id":"680f3a5e.052ab4","type":"function","z":"b46ad2e6.8db39","name":"reload","func":"msg.payload ={}\nmsg.topic = msg.packet.id_server + \"_reload\"\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":600,"wires":[["b860b91e.991f08"]]},{"id":"b860b91e.991f08","type":"mqtt out","z":"b46ad2e6.8db39","name":"","topic":"","qos":"","retain":"","broker":"ced4f10c.63353","x":1690,"y":600,"wires":[]},{"id":"a8b8d4cc.1a4c98","type":"delay","z":"b46ad2e6.8db39","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":600,"wires":[["680f3a5e.052ab4"]]}]