Node-red/flows_SuperNode001.json
[{"id":"d86d9fe1.0e5c4","type":"tab","label":"p2p","disabled":false,"info":""},{"id":"f07c71ae.416e8","type":"tab","label":"reload_flows","disabled":false,"info":""},{"id":"21aa4ee1.0f0142","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd7647b3.5bf2a8","type":"MySQLdatabase","z":"d86d9fe1.0e5c4","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"9ce48933.adabf8","type":"inject","z":"f07c71ae.416e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["6dc33b94.8a27a4"]]},{"id":"6dc33b94.8a27a4","type":"function","z":"f07c71ae.416e8","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["c0e31a63.c8bd78"]]},{"id":"c0e31a63.c8bd78","type":"http request","z":"f07c71ae.416e8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":480,"y":120,"wires":[["319e253a.4b06aa"]]},{"id":"319e253a.4b06aa","type":"debug","z":"f07c71ae.416e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":120,"wires":[]},{"id":"bbe4720f.0dd2f","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"p2p_elefos001","topic":"p2p_elefos002","qos":"2","broker":"21aa4ee1.0f0142","x":120,"y":420,"wires":[[]]},{"id":"900cc814.f56718","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos002","qos":"2","broker":"21aa4ee1.0f0142","x":120,"y":160,"wires":[["2d36260e.8fdd5a"]]},{"id":"2d36260e.8fdd5a","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":160,"wires":[["d80bc1.e253244","9892d5e.0c95928"]]},{"id":"65ce27b2.836048","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"gui o localhost","topic":"","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":860,"y":200,"wires":[]},{"id":"8567c99b.ba70b8","type":"function","z":"d86d9fe1.0e5c4","name":"convert from to","func":"let to = msg.payload.to\nlet from = msg.topic\nlet content = msg.payload.content\nmsg.payload = {\n    \"from\": from,\n    \"content\" : content\n}\nmsg.topic = to\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["65ce27b2.836048","4202006e.d86d9"]]},{"id":"d80bc1.e253244","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":120,"wires":[]},{"id":"1026592c.238cf7","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh gui tu device len","info":"","x":460,"y":240,"wires":[]},{"id":"cce2b9b8.6ce398","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh nay duoc gui tu server khac nen ko co to","info":"","x":660,"y":160,"wires":[]},{"id":"2b20d3f0.9d997c","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"p2p_elefos003","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["1640597d.85d897"]]},{"id":"832ed2ca.56681","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"p2p_elefos002","topic":"","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":520,"y":300,"wires":[]},{"id":"1640597d.85d897","type":"function","z":"d86d9fe1.0e5c4","name":"test device gui len","func":"msg.payload = {\n    \"to\" : msg.payload,\n    \"content\" : \"hello tao la raspberry pi\"\n    \n}\nmsg.topic = \"p2p_elefos002\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["832ed2ca.56681"]]},{"id":"1ee867f7.4e18b8","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]['status']","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1050,"y":280,"wires":[[],["b9e41dd9.f40ad"],["aaca09c2.d73838"]]},{"id":"15ecfdf2.1e53e2","type":"comment","z":"d86d9fe1.0e5c4","name":"Neu khong co tra ve id_server","info":"","x":980,"y":320,"wires":[]},{"id":"4045467b.55c658","type":"comment","z":"d86d9fe1.0e5c4","name":"Neu co thi result 1, ko lam gi ca","info":"","x":1090,"y":200,"wires":[]},{"id":"af779f0f.f1244","type":"function","z":"d86d9fe1.0e5c4","name":"reload server","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":3330,"y":180,"wires":[["9baee4e9.9ce568"]]},{"id":"9baee4e9.9ce568","type":"http request","z":"d86d9fe1.0e5c4","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":3490,"y":180,"wires":[["db8451de.dedc9"]]},{"id":"db8451de.dedc9","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3650,"y":180,"wires":[]},{"id":"7c862079.dce4b","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos002","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":320,"y":420,"wires":[]},{"id":"9892d5e.0c95928","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":200,"wires":[[],["8567c99b.ba70b8"]]},{"id":"4202006e.d86d9","type":"function","z":"d86d9fe1.0e5c4","name":"check list server connected","func":"msg.to = msg.topic\n//var out = \"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nvar out = \"Select status FROM server_connected WHERE id_server = '\" + msg.topic +\"'\";\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["f39ecccd.ec7cc"]]},{"id":"aaca09c2.d73838","type":"function","z":"d86d9fe1.0e5c4","name":"lookup ip trong server_dht","func":"var out = \"Select id_server, ip_server FROM server_dht WHERE id_server = '\" + msg.to +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":300,"wires":[["68e280c8.635c"]]},{"id":"b2fab2b4.b2a3f","type":"debug","z":"d86d9fe1.0e5c4","name":"truong hop khong tim thay id trong db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1990,"y":300,"wires":[]},{"id":"eb583fe6.e5b9","type":"comment","z":"d86d9fe1.0e5c4","name":"nghe tu server khac id minh, gui xuong device","info":"","x":230,"y":380,"wires":[]},{"id":"a44c0ffc.39107","type":"comment","z":"d86d9fe1.0e5c4","name":"nghe tu device hoac tu local gui xuong device","info":"","x":190,"y":100,"wires":[]},{"id":"de2fdf22.99615","type":"function","z":"d86d9fe1.0e5c4","name":"insert json mqtt_broker","func":"\na =  {\n\t\t\"id\": msg.result[0]['id_server'],\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"\",\n\t\t\"broker\": msg.result[0]['ip_server'],\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"closeTopic\": \"\",\n\t\t\"closeQos\": \"0\",\n\t\t\"closePayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}\n\tb = {\n\t\t\"id\": msg.id_mqtt_in,\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": msg._topic, //cai nay chinh la mqtt local\n\t\t\"topic\": msg._topic,\n\t\t\"qos\": \"2\",\n\t\t\"broker\": msg.result[0]['id_server'],\n\t\t\"x\": msg.payload.pos_x,\n\t\t\"y\": msg.payload.pos_y,\n\t\t\"wires\": [[\"7c862079.dce4b\"]]\n\t}\nmsg.payload = \",\" + JSON.stringify(a) + \",\" + JSON.stringify(b)\nreturn msg;","outputs":1,"noerr":0,"x":2420,"y":180,"wires":[["dea7b24c.96f7e","f213c710.ee41c8"]]},{"id":"f213c710.ee41c8","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/mqtt_broker.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2700,"y":180,"wires":[["536f2b02.050f34"]]},{"id":"7e15d0a4.d5a79","type":"comment","z":"d86d9fe1.0e5c4","name":"test gia lap device","info":"","x":130,"y":260,"wires":[]},{"id":"6c3d75c1.0a0b5c","type":"function","z":"d86d9fe1.0e5c4","name":"insert DB list server_connected","func":"\nquery = \"INSERT INTO `server_connected` (`id_server`, `status`) VALUES (?,?)\";\nmsg.payload = [msg.to,0];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2450,"y":240,"wires":[["7a15e2d1.00878c"]]},{"id":"70fcc23.4790a3c","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":260,"wires":[["563b8a32.efbc54"],["3795eabf.bef5b6"]]},{"id":"107b2634.238bca","type":"comment","z":"d86d9fe1.0e5c4","name":"insert khi co id trong db","info":"","x":2480,"y":280,"wires":[]},{"id":"563b8a32.efbc54","type":"function","z":"d86d9fe1.0e5c4","name":"max(unit), x, y for mqtt_in","func":"msg.result = msg.payload\nvar out = \"Select MAX(unit) as unit, MAX(x) as x, MAX(y) as y FROM mqtt_in ORDER BY unit DESC\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":180,"wires":[["aea68bd2.1d6338"]]},{"id":"dea7b24c.96f7e","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2650,"y":220,"wires":[]},{"id":"44541669.65db68","type":"function","z":"d86d9fe1.0e5c4","name":"json for value mqtt_in","func":"msg.payload = {\n    \"number\" : msg.payload[0]['unit'] + 1,\n    \"pos_x\" : msg.payload[0]['x'],\n    \"pos_y\" : msg.payload[0]['y'] +40\n}\nmsg.id_mqtt_in = \"id_mqtt_in\" + msg.payload.number.toString()\nreturn msg;","outputs":1,"noerr":0,"x":2180,"y":180,"wires":[["de2fdf22.99615","d9cce086.a446b","51ecbf1a.aaaf8","6c3d75c1.0a0b5c"]]},{"id":"d9cce086.a446b","type":"function","z":"d86d9fe1.0e5c4","name":"insert to mqtt_in","func":"\nquery = \"INSERT INTO `mqtt_in` (`id_mqtt_in`, `x`, `y`) VALUES (?,?,?)\";\nmsg.payload = [msg.id_mqtt_in, msg.payload.pos_x, msg.payload.pos_y];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2400,"y":140,"wires":[["4de7f33.88afc0c"]]},{"id":"51ecbf1a.aaaf8","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2390,"y":100,"wires":[]},{"id":"b9e41dd9.f40ad","type":"function","z":"d86d9fe1.0e5c4","name":"resent setup packet","func":"msg.payload =\"tao da gui lai goi tin\"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":260,"wires":[["a59ad69b.7e6608"]]},{"id":"a59ad69b.7e6608","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":220,"wires":[]},{"id":"c96ebdaa.57833","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"\nquery = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":60,"wires":[["6337ec20.242ad4"]]},{"id":"da7d90e0.6eab3","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":60,"wires":[]},{"id":"8ae6ec67.ceb12","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh update status khi connect thanh cong","info":"","x":1310,"y":20,"wires":[]},{"id":"d7dc6b0e.b6a358","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"setup","qos":"2","broker":"21aa4ee1.0f0142","x":990,"y":60,"wires":[["d5212710.61fc78"]]},{"id":"d5212710.61fc78","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":60,"wires":[["c96ebdaa.57833"]]},{"id":"e842cdd5.96be3","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"setup","payload":"{\"id_server\":\"p2p_elefos003\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":60,"wires":[["3b81b00e.8906d"]]},{"id":"3b81b00e.8906d","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":850,"y":60,"wires":[]},{"id":"536f2b02.050f34","type":"exec","z":"d86d9fe1.0e5c4","command":"python /root/.node-red/run/merge.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3050,"y":180,"wires":[["af779f0f.f1244","a19bc316.7e049"],["e75e5b6b.aaec38"],[]]},{"id":"3795eabf.bef5b6","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = \"meo thay nhe\"\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":300,"wires":[["b2fab2b4.b2a3f"]]},{"id":"f39ecccd.ec7cc","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"server avaliable","x":880,"y":280,"wires":[["1ee867f7.4e18b8"]]},{"id":"68e280c8.635c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"lookup ip","x":1440,"y":300,"wires":[["70fcc23.4790a3c"]]},{"id":"7a15e2d1.00878c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":2720,"y":260,"wires":[[]]},{"id":"aea68bd2.1d6338","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"mqtt_in","x":2000,"y":180,"wires":[["44541669.65db68"]]},{"id":"4de7f33.88afc0c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"insert mqtt_in","x":2600,"y":140,"wires":[[]]},{"id":"6337ec20.242ad4","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":1660,"y":60,"wires":[["da7d90e0.6eab3"]]},{"id":"a19bc316.7e049","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3340,"y":80,"wires":[]},{"id":"e75e5b6b.aaec38","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3280,"y":320,"wires":[]}]