CodeDevice/on Vps/server_pi.json
[{"id":"17e1d3f6.41891c","type":"mqtt in","z":"6c8ed60b.239c48","name":"","topic":"registered","qos":"2","broker":"ced4f10c.63353","x":80,"y":480,"wires":[["ba58e0a0.0c8b4"]]},{"id":"b9e352e0.20c87","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":540,"wires":[]},{"id":"fc1ca4c3.931a18","type":"mqtt out","z":"6c8ed60b.239c48","name":"","topic":"elefos_feedback_status","qos":"","retain":"","broker":"ced4f10c.63353","x":570,"y":160,"wires":[]},{"id":"9647df91.7f51","type":"function","z":"6c8ed60b.239c48","name":"status","func":"if (msg.status.text == \"OK\")\n    msg.payload = \"Sign up success\"\nelse if (msg.status.text == \"Error\")\n    msg.payload = \"Please check again\"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["5b97fe01.87b83"]]},{"id":"e529dfac.d7f0e","type":"function","z":"6c8ed60b.239c48","name":"insert","func":"msg.packet.password = msg.payload\nquery = \"INSERT INTO `login` (`user_id`, `password`) VALUES (?,?)\";\nmsg.payload = [msg.packet.user_id, msg.packet.password];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":480,"wires":[["89c617ff.94d8d8"]]},{"id":"9fd811c9.5b49","type":"digest","z":"6c8ed60b.239c48","name":"","algorithm":"SHA256","x":450,"y":480,"wires":[["e529dfac.d7f0e"]]},{"id":"ba58e0a0.0c8b4","type":"json","z":"6c8ed60b.239c48","name":"","property":"payload","action":"","pretty":false,"x":210,"y":480,"wires":[["5888b178.2a115"]]},{"id":"5888b178.2a115","type":"function","z":"6c8ed60b.239c48","name":"packet","func":"msg.packet = {\n    \"user_id\": msg.payload.tk,\n}\nmsg.payload = msg.payload.mk\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["9fd811c9.5b49"]]},{"id":"89c617ff.94d8d8","type":"mysql","z":"6c8ed60b.239c48","mydb":"b7654e0d.03fc1","name":"","x":750,"y":480,"wires":[["b9e352e0.20c87","944e21d6.e76bd"]]},{"id":"90486d00.49fe5","type":"status","z":"6c8ed60b.239c48","name":"","scope":["89c617ff.94d8d8"],"x":80,"y":160,"wires":[["fa0dba1a.b131f8","9647df91.7f51"]]},{"id":"fa0dba1a.b131f8","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":230,"y":220,"wires":[]},{"id":"5b97fe01.87b83","type":"delay","z":"6c8ed60b.239c48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":160,"wires":[["fc1ca4c3.931a18"]]},{"id":"944e21d6.e76bd","type":"exec","z":"6c8ed60b.239c48","command":"bash /root/.ssh/keypairs.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"","x":1000,"y":480,"wires":[["e02e8039.b5228"],[],[]]},{"id":"e02e8039.b5228","type":"file in","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/private","format":"utf8","chunk":false,"sendError":false,"x":1250,"y":480,"wires":[["3ab2f58f.bb864a"]]},{"id":"52fc3b16.1241b4","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1930,"y":520,"wires":[]},{"id":"e53791e6.23e5","type":"file in","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/public","format":"utf8","chunk":false,"sendError":false,"x":1600,"y":480,"wires":[["6d89d299.2c24ac"]]},{"id":"3ab2f58f.bb864a","type":"function","z":"6c8ed60b.239c48","name":"private","func":"msg.packet.private = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":480,"wires":[["e53791e6.23e5"]]},{"id":"6d89d299.2c24ac","type":"function","z":"6c8ed60b.239c48","name":"public","func":"msg.packet.public = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":480,"wires":[["52fc3b16.1241b4","e7b79c33.25d14"]]},{"id":"e7b79c33.25d14","type":"function","z":"6c8ed60b.239c48","name":"insert","func":"msg.packet.password = msg.payload\nquery = \"INSERT INTO `key` (`user_id`, `public`, `private`) VALUES (?,?,?)\";\nmsg.payload = [msg.packet.user_id, msg.packet.public, msg.packet.private];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":480,"wires":[["2a9c6386.c2e5cc"]]},{"id":"2a9c6386.c2e5cc","type":"mysql","z":"6c8ed60b.239c48","mydb":"b7654e0d.03fc1","name":"","x":2070,"y":480,"wires":[[]]},{"id":"b72dfc12.11f62","type":"mqtt in","z":"6c8ed60b.239c48","name":"","topic":"transaction","qos":"2","broker":"ced4f10c.63353","x":70,"y":340,"wires":[["5e725dd5.ee3914"]]},{"id":"5e725dd5.ee3914","type":"json","z":"6c8ed60b.239c48","name":"","property":"payload","action":"","pretty":false,"x":210,"y":340,"wires":[["4761c881.39bf68","8597f077.5887a"]]},{"id":"4761c881.39bf68","type":"function","z":"6c8ed60b.239c48","name":"select private","func":"msg.packet = msg.payload\nvar out = \"Select private, public from `key` where user_id = \" + msg.payload.issuer;  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["f2c4e3b8.e090b"]]},{"id":"f2c4e3b8.e090b","type":"mysql","z":"6c8ed60b.239c48","mydb":"b7654e0d.03fc1","name":"","x":530,"y":340,"wires":[["e392de14.3a893","4d94e44b.aa77ac","a1017873.85e428"]]},{"id":"e65e1f14.57b6f","type":"mqtt out","z":"6c8ed60b.239c48","name":"","topic":"elefos_feedback_transaction","qos":"","retain":"","broker":"ced4f10c.63353","x":2360,"y":320,"wires":[]},{"id":"e392de14.3a893","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":280,"wires":[]},{"id":"2c67f7fd.37bb08","type":"file","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/rsa/key_sign","appendNewline":true,"createDir":false,"overwriteFile":"true","x":920,"y":340,"wires":[["17ec0f86.822"]]},{"id":"4d94e44b.aa77ac","type":"function","z":"6c8ed60b.239c48","name":"convert","func":"msg.payload = msg.payload[0]['private']\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":340,"wires":[["2c67f7fd.37bb08"]]},{"id":"8597f077.5887a","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":280,"wires":[]},{"id":"aa897c59.2220f","type":"function","z":"6c8ed60b.239c48","name":"new packet","func":"msg.packet.sig = msg.payload\nmsg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":320,"wires":[["e65e1f14.57b6f","2caf1b8a.7bc744"]]},{"id":"ece9bc51.0cbdf","type":"exec","z":"6c8ed60b.239c48","command":"bash /root/.ssh/rsa/sign.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1580,"y":340,"wires":[["b61a7157.eb316"],[],[]]},{"id":"c778f61f.4e4fb8","type":"file","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/rsa/transaction","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1310,"y":340,"wires":[["ece9bc51.0cbdf"]]},{"id":"17ec0f86.822","type":"function","z":"6c8ed60b.239c48","name":"convert","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":340,"wires":[["c778f61f.4e4fb8"]]},{"id":"b61a7157.eb316","type":"file in","z":"6c8ed60b.239c48","name":"","filename":"/root/.ssh/rsa/signatureBase64","format":"utf8","chunk":false,"sendError":false,"x":1870,"y":320,"wires":[["aa897c59.2220f"]]},{"id":"2caf1b8a.7bc744","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2290,"y":280,"wires":[]},{"id":"719afa64.71af74","type":"mqtt out","z":"6c8ed60b.239c48","name":"","topic":"sharePublic","qos":"","retain":"","broker":"b93e0c39.5bd04","x":910,"y":380,"wires":[]},{"id":"a1017873.85e428","type":"function","z":"6c8ed60b.239c48","name":"convert","func":"msg.payload = msg.payload[0]['public']\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":380,"wires":[["719afa64.71af74"]]},{"id":"e07c6787.61a378","type":"mqtt in","z":"6c8ed60b.239c48","name":"","topic":"login","qos":"2","broker":"ced4f10c.63353","x":60,"y":580,"wires":[["4c6476da.4ca9f8"]]},{"id":"a622ff6a.f1499","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":540,"wires":[]},{"id":"4c6476da.4ca9f8","type":"json","z":"6c8ed60b.239c48","name":"","property":"payload","action":"","pretty":false,"x":210,"y":580,"wires":[["a622ff6a.f1499","c8c056be.be34c8"]]},{"id":"2c536a69.27d6c6","type":"digest","z":"6c8ed60b.239c48","name":"","algorithm":"SHA256","x":470,"y":580,"wires":[["66231843.593908"]]},{"id":"c8c056be.be34c8","type":"function","z":"6c8ed60b.239c48","name":"packet","func":"msg.packet = {\n    \"user_id\": msg.payload.tk,\n}\nmsg.payload = msg.payload.mk\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":580,"wires":[["2c536a69.27d6c6"]]},{"id":"66231843.593908","type":"function","z":"6c8ed60b.239c48","name":"select","func":"msg.packet.password = msg.payload\nquery = \"select password from `login` where user_id = '\" + msg.packet.user_id +\"'\" ;\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["a2725cc5.ca821"]]},{"id":"a2725cc5.ca821","type":"mysql","z":"6c8ed60b.239c48","mydb":"b7654e0d.03fc1","name":"","x":730,"y":580,"wires":[["fe26e40c.78c2a8"]]},{"id":"fe26e40c.78c2a8","type":"switch","z":"6c8ed60b.239c48","name":"","property":"payload[0]['password']","propertyType":"msg","rules":[{"t":"eq","v":"packet.password","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":640,"wires":[["3e0c473b.f9aec8","eeeeb18f.4f5f5"],["5bcfcc47.351a04","893b76f0.425db8"]]},{"id":"5bcfcc47.351a04","type":"function","z":"6c8ed60b.239c48","name":"fail","func":"msg.payload = {\n    \"user_id\": \"\",\n    \"cmd\": \"Username or password incorrect\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":680,"wires":[["6582e889.37f4e8"]]},{"id":"3e0c473b.f9aec8","type":"function","z":"6c8ed60b.239c48","name":"ok","func":"msg.payload = {\n    \"user_id\": msg.packet.user_id,\n    \"cmd\": \"Login success\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":600,"wires":[["5ceb2b7b.4ce3a4"]]},{"id":"5ceb2b7b.4ce3a4","type":"mqtt out","z":"6c8ed60b.239c48","name":"","topic":"elefos_feedback_login","qos":"","retain":"","broker":"ced4f10c.63353","x":1200,"y":620,"wires":[]},{"id":"893b76f0.425db8","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":740,"wires":[]},{"id":"eeeeb18f.4f5f5","type":"debug","z":"6c8ed60b.239c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":560,"wires":[]},{"id":"6582e889.37f4e8","type":"delay","z":"6c8ed60b.239c48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":680,"wires":[["5ceb2b7b.4ce3a4"]]},{"id":"ced4f10c.63353","type":"mqtt-broker","z":"","name":"209.97.173.222","broker":"209.97.173.222","port":"8883","tls":"10e15631.ce00ea","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7654e0d.03fc1","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"b93e0c39.5bd04","type":"mqtt-broker","z":"","name":"","broker":"178.128.56.80","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10e15631.ce00ea","type":"tls-config","z":"","name":"209.97.173.222","cert":"","key":"","ca":"","certname":"client.crt","keyname":"client.key","caname":"ca.crt","servername":"209.97.173.222","verifyservercert":false}]