CodeDevice/server_device.json
[{"id":"453b73ed.30d64c","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"7bbe6ff0.9fc3c","order":3,"width":"3","height":"1","passthru":false,"label":"Scan","tooltip":"","color":"","bgcolor":"","icon":"","payload":"scan","payloadType":"str","topic":"","x":202,"y":260,"wires":[[]]},{"id":"ddae730e.37c83","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"7bbe6ff0.9fc3c","order":4,"width":"3","height":"1","passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"scan","payloadType":"str","topic":"","x":172,"y":300,"wires":[["48144fed.97f19"]]},{"id":"cb4e56a7.eae618","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>IP address</i>","tooltip":"","group":"7bbe6ff0.9fc3c","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":242,"y":220,"wires":[["d3deb2ec.4cb01"]]},{"id":"d0b57f8c.d9ed4","type":"ui_text","z":"75d4a4d3.591a7c","group":"7bbe6ff0.9fc3c","order":2,"width":0,"height":0,"name":"","label":"Status: ","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":782,"y":360,"wires":[]},{"id":"69fdb8e4.a33a48","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Phone number</i>","tooltip":"","group":"a56fbed.9affa4","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":442,"y":500,"wires":[["b5161031.64ec9"]]},{"id":"be50d40e.724ed8","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Password</i>","tooltip":"","group":"a56fbed.9affa4","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":422,"y":540,"wires":[["566e9558.773abc"]]},{"id":"949dca86.ccfd58","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Password confirm</i>","tooltip":"","group":"a56fbed.9affa4","order":3,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":442,"y":580,"wires":[["d563a74d.302588"]]},{"id":"3fd7822a.f53c3e","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"a56fbed.9affa4","order":6,"width":"0","height":"0","passthru":false,"label":"Register","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":131,"y":700,"wires":[["9258b0db.ad0eb"]]},{"id":"e505689c.b9e5c8","type":"ui_ui_control","z":"75d4a4d3.591a7c","name":"","x":72,"y":540,"wires":[["489e2f25.50b35","3c20f7b.9e2f608","37ce2466.ce265c"]]},{"id":"489e2f25.50b35","type":"function","z":"75d4a4d3.591a7c","name":"blank box","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":540,"wires":[["be50d40e.724ed8","949dca86.ccfd58","efb7e159.d3a17","69fdb8e4.a33a48"]]},{"id":"b5161031.64ec9","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"tk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"mk_cf","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":672,"y":500,"wires":[["fd22c77.0125138"]]},{"id":"566e9558.773abc","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk_cf","tot":"flow"},{"t":"set","p":"tk","pt":"msg","to":"tk","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":652,"y":540,"wires":[["fd22c77.0125138"]]},{"id":"c99e8056.034ab","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1022.0000267028809,"y":709.9999980926514,"wires":[]},{"id":"ef1158e1.d2f2f8","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1028,"y":578,"wires":[]},{"id":"10d6246d.a3091c","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"packet.tk","pt":"msg","to":"tk","tot":"flow"},{"t":"set","p":"packet.mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"match","pt":"msg","to":"match","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":502,"y":700,"wires":[["acd9b23d.09e7f"]]},{"id":"9258b0db.ad0eb","type":"function","z":"75d4a4d3.591a7c","name":"create json","func":"msg.packet = {\n}\nreturn msg;","outputs":1,"noerr":0,"x":330.00000762939453,"y":702.9999866485596,"wires":[["10d6246d.a3091c"]]},{"id":"e1b9eac6.8cc438","type":"function","z":"75d4a4d3.591a7c","name":"sent","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":817,"y":720,"wires":[["c99e8056.034ab","4870ed12.d3b4b4"]]},{"id":"d563a74d.302588","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"mk_cf","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"tk","pt":"msg","to":"tk","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":672,"y":580,"wires":[["fd22c77.0125138"]]},{"id":"fd22c77.0125138","type":"function","z":"75d4a4d3.591a7c","name":"check","func":"\nif (msg.tk === \"\"){\n    msg.payload = \"\"\n    flow.set(\"match\", false)\n}else{\n    if (msg.mk === \"\"){\n        msg.payload = \"\"\n        flow.set(\"match\", false)\n    }else if (msg.payload !== msg.mk){\n        msg.payload = \"not match\"\n        flow.set(\"match\", false)\n    }else if (msg.payload == msg.mk){\n        msg.payload = \"match\"\n        flow.set(\"match\", true)\n    }else{\n        msg.payload = \"\"\n        flow.set(\"match\", false)\n    }\n        \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":892,"y":540,"wires":[["ef1158e1.d2f2f8","b14084d8.3184d8"]]},{"id":"b14084d8.3184d8","type":"ui_text","z":"75d4a4d3.591a7c","group":"a56fbed.9affa4","order":5,"width":0,"height":0,"name":"","label":"","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":1049,"y":537,"wires":[]},{"id":"3c20f7b.9e2f608","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"mk_cf","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"tk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"match","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":232,"y":480,"wires":[["cb4e56a7.eae618"]]},{"id":"acd9b23d.09e7f","type":"switch","z":"75d4a4d3.591a7c","name":"","property":"match","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":671,"y":698,"wires":[["d1353cfc.8c76f"],["e1b9eac6.8cc438","b7e5f48d.8e5e28"]]},{"id":"d1353cfc.8c76f","type":"function","z":"75d4a4d3.591a7c","name":"check again","func":"msg.payload = \"please check again\"\nreturn msg;","outputs":1,"noerr":0,"x":816,"y":678,"wires":[["b14084d8.3184d8","f4b398fb.536498"]]},{"id":"f4b398fb.536498","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1014,"y":665,"wires":[]},{"id":"b7e5f48d.8e5e28","type":"function","z":"75d4a4d3.591a7c","name":"ok","func":"msg.payload = \"registing...\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":761,"wires":[["b14084d8.3184d8"]]},{"id":"efb7e159.d3a17","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Email</i>","tooltip":"","group":"a56fbed.9affa4","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":402,"y":620,"wires":[[]]},{"id":"3c3ebac9.9cc756","type":"ui_ui_control","z":"75d4a4d3.591a7c","name":"","x":116,"y":880,"wires":[["d0069c07.4f561","bd0d7d0.c53d78"]]},{"id":"d0069c07.4f561","type":"function","z":"75d4a4d3.591a7c","name":"blank box","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":176,"y":940,"wires":[["2847dde7.fbafa2","539726e0.ace2e8"]]},{"id":"bd0d7d0.c53d78","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"mk_cf","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"tk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"match","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":226,"y":790,"wires":[[]]},{"id":"2847dde7.fbafa2","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Phone number</i>","tooltip":"","group":"d3252345.c7fa3","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":376,"y":840,"wires":[["7b175a02.142294","c15ccdd3.f7ee"]]},{"id":"539726e0.ace2e8","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Password</i>","tooltip":"","group":"d3252345.c7fa3","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":386,"y":880,"wires":[["3f40db0a.d6e2b4","c15ccdd3.f7ee"]]},{"id":"7b175a02.142294","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"tk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"mk_cf","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":656,"y":820,"wires":[["fb44700a.b4ef3"]]},{"id":"c15ccdd3.f7ee","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":576,"y":780,"wires":[]},{"id":"3f40db0a.d6e2b4","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk_cf","tot":"flow"},{"t":"set","p":"tk","pt":"msg","to":"tk","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":656,"y":860,"wires":[["fb44700a.b4ef3"]]},{"id":"fb44700a.b4ef3","type":"function","z":"75d4a4d3.591a7c","name":"check","func":"\nif (msg.tk === \"\"){\n    msg.payload = \"\"\n    flow.set(\"match\", false)\n}\nelse if (msg.mk === \"\"){\n    msg.payload = \"\"\n    flow.set(\"match\", false)\n}else if (msg.payload !== msg.mk){\n    msg.payload = \"not match\"\n    flow.set(\"match\", false)\n}else if (msg.payload == msg.mk){\n    msg.payload = \"match\"\n    flow.set(\"match\", true)\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":826,"y":880,"wires":[["d7608026.f131b","35c16434.95430c"]]},{"id":"d7608026.f131b","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":962,"y":918,"wires":[]},{"id":"35c16434.95430c","type":"ui_text","z":"75d4a4d3.591a7c","group":"d3252345.c7fa3","order":3,"width":0,"height":0,"name":"","label":"","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":983,"y":877,"wires":[]},{"id":"838d20c2.d5ddf","type":"function","z":"75d4a4d3.591a7c","name":"check again","func":"msg.payload = \"please check again\"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1018,"wires":[["35c16434.95430c","663835d6.4b7fcc"]]},{"id":"77713183.02ebb","type":"function","z":"75d4a4d3.591a7c","name":"ok","func":"msg.payload = \"registing...\"\nreturn msg;","outputs":1,"noerr":0,"x":754,"y":1101,"wires":[["35c16434.95430c"]]},{"id":"fb919e1e.e058d","type":"switch","z":"75d4a4d3.591a7c","name":"","property":"match","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":605,"y":1038,"wires":[["838d20c2.d5ddf"],["3ed19689.c7d94a","77713183.02ebb"]]},{"id":"663835d6.4b7fcc","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":948,"y":1005,"wires":[]},{"id":"1c6acb04.69f135","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"packet.tk","pt":"msg","to":"tk","tot":"flow"},{"t":"set","p":"packet.mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"match","pt":"msg","to":"match","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":436,"y":1040,"wires":[["fb919e1e.e058d"]]},{"id":"3ed19689.c7d94a","type":"function","z":"75d4a4d3.591a7c","name":"sent","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":751,"y":1060,"wires":[["5f9025de.c2a0ac"]]},{"id":"8e50f35a.492e1","type":"function","z":"75d4a4d3.591a7c","name":"create json","func":"msg.packet = {\n}\nreturn msg;","outputs":1,"noerr":0,"x":265,"y":1039,"wires":[["1c6acb04.69f135"]]},{"id":"5f9025de.c2a0ac","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":956,"y":1099,"wires":[]},{"id":"4b940135.5dea8","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"d3252345.c7fa3","order":4,"width":"3","height":"1","passthru":false,"label":"Login","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":55,"y":1040,"wires":[["8e50f35a.492e1"]]},{"id":"a1db776c.1cd7a8","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"d3252345.c7fa3","order":5,"width":"3","height":"1","passthru":false,"label":"Forget password","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":89,"y":1102,"wires":[[]]},{"id":"4203df51.57b42","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Phone number</i>","tooltip":"","group":"451bdbb.3fc1724","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":133,"y":1287,"wires":[["16768373.67a72d"]]},{"id":"c488564e.dc96b8","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Message</i>","tooltip":"","group":"451bdbb.3fc1724","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":101,"y":1385,"wires":[["38e69893.91fe68"]]},{"id":"4c674996.8ca0a8","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Money</i>","tooltip":"","group":"451bdbb.3fc1724","order":2,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":102,"y":1330,"wires":[["8efcd189.7452a"]]},{"id":"cf01109.31a54f","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"451bdbb.3fc1724","order":5,"width":"0","height":"0","passthru":false,"label":"Sent","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":68,"y":1470.999963760376,"wires":[["fc62eab5.e801c8"]]},{"id":"3232c6e6.19499a","type":"ui_text","z":"75d4a4d3.591a7c","group":"451bdbb.3fc1724","order":4,"width":0,"height":0,"name":"","label":"","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":775.0000267028809,"y":1331.000036239624,"wires":[]},{"id":"4094c4fd.6b842c","type":"inject","z":"75d4a4d3.591a7c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1232,"y":140,"wires":[["edf2c73e.bc05f8"]]},{"id":"edf2c73e.bc05f8","type":"function","z":"75d4a4d3.591a7c","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":1402,"y":140,"wires":[["3df82f21.fefca","f6b0bb10.a28978"]]},{"id":"3df82f21.fefca","type":"http request","z":"75d4a4d3.591a7c","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":1562,"y":140,"wires":[["9a21c694.bc6b38"]]},{"id":"9a21c694.bc6b38","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1732,"y":140,"wires":[]},{"id":"63ace189.870b","type":"file in","z":"75d4a4d3.591a7c","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1022,"y":280,"wires":[["e436ea3b.932d08"]]},{"id":"e436ea3b.932d08","type":"json","z":"75d4a4d3.591a7c","name":"","property":"payload","action":"","pretty":false,"x":1142,"y":280,"wires":[["eddae890.800138"]]},{"id":"f652aee3.9b7a9","type":"function","z":"75d4a4d3.591a7c","name":"direction","func":"msg.filename = \"C:/Users/nguye/.node-red/flows_\" + msg.payload + \".json\"\nreturn msg;","outputs":1,"noerr":0,"x":892,"y":280,"wires":[["63ace189.870b"]]},{"id":"53befa84.61afa4","type":"exec","z":"75d4a4d3.591a7c","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":752,"y":280,"wires":[["f652aee3.9b7a9"],[],[]]},{"id":"eddae890.800138","type":"function","z":"75d4a4d3.591a7c","name":"change server","func":"for(var x = 0; x < msg.payload.length; x++){\n    var obj = msg.payload[x]\n    if(obj['id'] == \"elefos_server_client\")\n        obj['broker'] = msg.ip\n}\nreturn msg;","outputs":1,"noerr":0,"x":1292,"y":280,"wires":[["55b51952.d8eca8"]]},{"id":"48144fed.97f19","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":322,"y":300,"wires":[["398bd745.494348"]]},{"id":"d3deb2ec.4cb01","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":432,"y":220,"wires":[[]]},{"id":"398bd745.494348","type":"switch","z":"75d4a4d3.591a7c","name":"","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":462,"y":280,"wires":[["3c8eb95f.f77196","2938a987.b23966"],["53befa84.61afa4","ba2c5955.843328"]]},{"id":"2938a987.b23966","type":"function","z":"75d4a4d3.591a7c","name":"error ip","func":"msg.payload = \"Please scan or input ip\"\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":240,"wires":[["d0b57f8c.d9ed4"]]},{"id":"ba2c5955.843328","type":"function","z":"75d4a4d3.591a7c","name":"connecting","func":"msg.payload = \"Connecting...\"\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":320,"wires":[["d0b57f8c.d9ed4"]]},{"id":"3c8eb95f.f77196","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ip","targetType":"msg","x":572,"y":200,"wires":[]},{"id":"55b51952.d8eca8","type":"file","z":"75d4a4d3.591a7c","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1462,"y":280,"wires":[["edf2c73e.bc05f8"]]},{"id":"c9e2c2b9.2c5cb","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1146.9999961853027,"y":428.99999809265137,"wires":[]},{"id":"8c807e22.23572","type":"status","z":"75d4a4d3.591a7c","name":"","scope":["c02c8e8d.5c2f2"],"x":772,"y":440,"wires":[["9741edd2.66f4e"]]},{"id":"f27c676e.4b7658","type":"function","z":"75d4a4d3.591a7c","name":"status","func":"if (msg.status.fill === \"yellow\")\n    msg.payload = \"Connection fail\"\nelse if (msg.status.fill === \"green\")\n    msg.payload = \"Connected\"\nelse if (msg.status.fill === \"red\")\n    msg.payload = \"Connection fail\"\nelse\n    msg.payload = \"Connecting...\"\nreturn msg;","outputs":1,"noerr":0,"x":982,"y":440,"wires":[["c9e2c2b9.2c5cb","d0b57f8c.d9ed4"]]},{"id":"f6b0bb10.a28978","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1555.9999961853027,"y":98.99999809265137,"wires":[]},{"id":"37ce2466.ce265c","type":"function","z":"75d4a4d3.591a7c","name":"blank box","func":"msg.payload = \"Waiting...\"\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":400,"wires":[["d0b57f8c.d9ed4"]]},{"id":"4870ed12.d3b4b4","type":"mqtt out","z":"75d4a4d3.591a7c","name":"","topic":"registered","qos":"","retain":"","broker":"2077d5ee.e5c97a","x":1012.0000267028809,"y":752.0000591278076,"wires":[]},{"id":"9741edd2.66f4e","type":"delay","z":"75d4a4d3.591a7c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":892,"y":460,"wires":[["f27c676e.4b7658"]]},{"id":"b29084db.9146b8","type":"mqtt in","z":"75d4a4d3.591a7c","name":"","topic":"elefos_feedback_status","qos":"2","datatype":"auto","broker":"2077d5ee.e5c97a","x":1182,"y":480,"wires":[["b14084d8.3184d8","3d10e832.461708"]]},{"id":"3d10e832.461708","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1416.786865234375,"y":470.44886016845703,"wires":[]},{"id":"16768373.67a72d","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"to","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"data","tot":"flow"},{"t":"set","p":"to","pt":"msg","to":"to","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":376.01422119140625,"y":1281.2784423828125,"wires":[["303df8a2.ac40b8"]]},{"id":"8efcd189.7452a","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"data","tot":"flow"},{"t":"set","p":"to","pt":"msg","to":"to","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":358.01422119140625,"y":1319.2784423828125,"wires":[["303df8a2.ac40b8"]]},{"id":"38e69893.91fe68","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"msg","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":348.01422119140625,"y":1380.2785186767578,"wires":[["303df8a2.ac40b8"]]},{"id":"303df8a2.ac40b8","type":"function","z":"75d4a4d3.591a7c","name":"check","func":"flow.set(\"accept\", false)\nif (msg.to !== \"\" && msg.data !== \"\")\n    flow.set(\"accept\", true)\nmsg.payload = \"\"\nreturn msg;\n","outputs":1,"noerr":0,"x":539.0142211914062,"y":1331.2784423828125,"wires":[["3232c6e6.19499a","d7ba4b14.d483b8"]]},{"id":"36fc816a.17218e","type":"ui_ui_control","z":"75d4a4d3.591a7c","name":"","x":65,"y":1215.2784423828125,"wires":[["16c0ff25.9d5691","29e518d8.0be818"]]},{"id":"16c0ff25.9d5691","type":"function","z":"75d4a4d3.591a7c","name":"blank box","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":231.0142059326172,"y":1207.2784423828125,"wires":[["4203df51.57b42","4c674996.8ca0a8","c488564e.dc96b8","3232c6e6.19499a"]]},{"id":"b7083e4d.aed87","type":"function","z":"75d4a4d3.591a7c","name":"sent","func":"msg.packet.issuer = 221381716\nmsg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":761.0143089294434,"y":1470.27845287323,"wires":[["a01a5af8.4e20e8","53d69d95.2e0b64"]]},{"id":"fc62eab5.e801c8","type":"function","z":"75d4a4d3.591a7c","name":"create json","func":"msg.packet = {\n}\nreturn msg;","outputs":1,"noerr":0,"x":223.0142059326172,"y":1467.1875,"wires":[["fe5eb724.7734a8"]]},{"id":"fe5eb724.7734a8","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"packet.payload.receiver","pt":"msg","to":"to","tot":"flow"},{"t":"set","p":"packet.payload.cmd","pt":"msg","to":"msg","tot":"flow"},{"t":"set","p":"packet.payload.data","pt":"msg","to":"data","tot":"flow"},{"t":"set","p":"accept","pt":"msg","to":"accept","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":398.01422119140625,"y":1468.1875,"wires":[["edd210d.52768f"]]},{"id":"a01a5af8.4e20e8","type":"mqtt out","z":"75d4a4d3.591a7c","name":"","topic":"transaction","qos":"","retain":"","broker":"2b483a1f.b13866","x":924.014274597168,"y":1469.1874685287476,"wires":[]},{"id":"edd210d.52768f","type":"switch","z":"75d4a4d3.591a7c","name":"","property":"accept","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":556.0142211914062,"y":1469.2784423828125,"wires":[["487da11a.0cca4"],["b7083e4d.aed87","cff1695a.6e21a8"]]},{"id":"487da11a.0cca4","type":"function","z":"75d4a4d3.591a7c","name":"check again","func":"msg.payload = \"please check again\"\nreturn msg;","outputs":1,"noerr":0,"x":694.0142211914062,"y":1414.2784423828125,"wires":[["3232c6e6.19499a","53d69d95.2e0b64","675c6107.4dc23"]]},{"id":"53d69d95.2e0b64","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":855.7869110107422,"y":1391.9943313598633,"wires":[]},{"id":"29e518d8.0be818","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"to","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"msg","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"accept","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"data","pt":"flow","to":"\"\"","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":214.0142059326172,"y":1148.460205078125,"wires":[[]]},{"id":"675c6107.4dc23","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":975.7897338867188,"y":1311.9943771362305,"wires":[]},{"id":"d7ba4b14.d483b8","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","x":723.7840423583984,"y":1260.9147415161133,"wires":[]},{"id":"cff1695a.6e21a8","type":"function","z":"75d4a4d3.591a7c","name":"ok","func":"msg.payload = \"sent success\"\nreturn msg;","outputs":1,"noerr":0,"x":696.0142211914062,"y":1510.0965576171875,"wires":[["3232c6e6.19499a"]]},{"id":"f4c9b5ab.52ed48","type":"json","z":"75d4a4d3.591a7c","name":"","property":"payload","action":"","pretty":false,"x":384.7670555114746,"y":1707.8238525390625,"wires":[["1773ef16.698161"]]},{"id":"697a6ed8.248bd","type":"mqtt in","z":"75d4a4d3.591a7c","name":"","topic":"elefos_feedback_transaction","qos":"2","datatype":"auto","broker":"2b483a1f.b13866","x":198.00001525878906,"y":1705.3693361282349,"wires":[["f4c9b5ab.52ed48"]]},{"id":"1773ef16.698161","type":"function","z":"75d4a4d3.591a7c","name":"convert receiver","func":"msg.topic = msg.payload.payload.receiver\nreturn msg;","outputs":1,"noerr":0,"x":539.7783966064453,"y":1700.6931886672974,"wires":[["49508a6f.6918c4","df68cb02.b79a28"]]},{"id":"49508a6f.6918c4","type":"mqtt out","z":"75d4a4d3.591a7c","name":"","topic":"123456789","qos":"","retain":"","broker":"108d51da.d4627e","x":735.0000152587891,"y":1702.3693361282349,"wires":[]},{"id":"df68cb02.b79a28","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":733.7869415283203,"y":1765.8294897079468,"wires":[]},{"id":"7bbe6ff0.9fc3c","type":"ui_group","z":"","name":"Scan in local","tab":"5a1794a2.f6e5ec","disp":true,"width":"6","collapse":false},{"id":"a56fbed.9affa4","type":"ui_group","z":"","name":"Registered account","tab":"cac11b77.7259c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d3252345.c7fa3","type":"ui_group","z":"","name":"Login account","tab":"ac9fb478.e64828","order":1,"disp":true,"width":"6","collapse":false},{"id":"451bdbb.3fc1724","type":"ui_group","z":"","name":"Transaction","tab":"1f9f96f4.627659","order":1,"disp":true,"width":"6","collapse":false},{"id":"2077d5ee.e5c97a","type":"mqtt-broker","z":"","name":"","broker":"209.97.173.222","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b483a1f.b13866","type":"mqtt-broker","z":"","name":"","broker":"209.97.173.222","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"108d51da.d4627e","type":"mqtt-broker","z":"","name":"","broker":"178.128.56.80","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5a1794a2.f6e5ec","type":"ui_tab","z":"","name":"Scan IP","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"cac11b77.7259c8","type":"ui_tab","z":"","name":"Sign up","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ac9fb478.e64828","type":"ui_tab","z":"","name":"Sign in","icon":"work","order":3,"disabled":false,"hidden":false},{"id":"1f9f96f4.627659","type":"ui_tab","z":"","name":"Transaction","icon":"work","order":4,"disabled":false,"hidden":false}]