CodeDevice/server_device.json
[{"id":"bfc84a3f.e52088","type":"ui_button","z":"4e472904.6e8aa8","name":"","group":"b40de9ce.33fe58","order":3,"width":"3","height":"1","passthru":false,"label":"Scan","tooltip":"","color":"","bgcolor":"","icon":"","payload":"scan","payloadType":"str","topic":"","x":190,"y":520,"wires":[[]]},{"id":"338ed3b9.00843c","type":"ui_button","z":"4e472904.6e8aa8","name":"","group":"b40de9ce.33fe58","order":4,"width":"3","height":"1","passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"scan","payloadType":"str","topic":"","x":160,"y":560,"wires":[["cb038e07.03062"]]},{"id":"903cd239.63de5","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>IP address</i>","tooltip":"","group":"b40de9ce.33fe58","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":230,"y":480,"wires":[["e5de5e0.12036a"]]},{"id":"f3c915a.0e45ae8","type":"ui_text","z":"4e472904.6e8aa8","group":"b40de9ce.33fe58","order":2,"width":0,"height":0,"name":"","label":"Status: ","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":770,"y":620,"wires":[]},{"id":"ca413c42.0fa3c","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>Phone number</i>","tooltip":"","group":"eef46132.5e22a","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":430,"y":760,"wires":[["bd9bbc21.94c9b"]]},{"id":"db21e9ea.08af18","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>Password</i>","tooltip":"","group":"eef46132.5e22a","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":410,"y":800,"wires":[["92ae4e6b.5dad4"]]},{"id":"c9dd71b1.b17bc","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>Password confirm</i>","tooltip":"","group":"eef46132.5e22a","order":3,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":430,"y":840,"wires":[["f53abf3a.00d98"]]},{"id":"1b64fe14.157902","type":"ui_button","z":"4e472904.6e8aa8","name":"","group":"eef46132.5e22a","order":6,"width":"0","height":"0","passthru":false,"label":"Registered","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":129,"y":960,"wires":[["e636a86.858b558"]]},{"id":"8fba84ba.7709f8","type":"ui_ui_control","z":"4e472904.6e8aa8","name":"","x":60,"y":800,"wires":[["b77f5447.8b49e8","cda2fe6a.caa31","1303c24.61f2d3e"]]},{"id":"b77f5447.8b49e8","type":"function","z":"4e472904.6e8aa8","name":"blank box","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":800,"wires":[["db21e9ea.08af18","c9dd71b1.b17bc","42031837.bad228","ca413c42.0fa3c"]]},{"id":"bd9bbc21.94c9b","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"tk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"mk_cf","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":760,"wires":[["70e3adc5.867e24"]]},{"id":"92ae4e6b.5dad4","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk_cf","tot":"flow"},{"t":"set","p":"tk","pt":"msg","to":"tk","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":800,"wires":[["70e3adc5.867e24"]]},{"id":"d74ecef3.739bb","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1019,"wires":[]},{"id":"94e1b6b1.5e14f8","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1016,"y":838,"wires":[]},{"id":"d84b0d37.f05df","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"packet.tk","pt":"msg","to":"tk","tot":"flow"},{"t":"set","p":"packet.mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"match","pt":"msg","to":"match","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":960,"wires":[["f20dd69d.5c8928"]]},{"id":"e636a86.858b558","type":"function","z":"4e472904.6e8aa8","name":"create json","func":"msg.packet = {\n}\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":959,"wires":[["d84b0d37.f05df"]]},{"id":"67a2eb63.ae2c94","type":"function","z":"4e472904.6e8aa8","name":"sent","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":805,"y":980,"wires":[["d74ecef3.739bb","34f42f61.f3691"]]},{"id":"f53abf3a.00d98","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"mk_cf","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"tk","pt":"msg","to":"tk","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":840,"wires":[["70e3adc5.867e24"]]},{"id":"70e3adc5.867e24","type":"function","z":"4e472904.6e8aa8","name":"check","func":"\nif (msg.tk === \"\"){\n    msg.payload = \"\"\n    flow.set(\"match\", false)\n}else{\n    if (msg.mk === \"\"){\n        msg.payload = \"\"\n        flow.set(\"match\", false)\n    }else if (msg.payload !== msg.mk){\n        msg.payload = \"not match\"\n        flow.set(\"match\", false)\n    }else if (msg.payload == msg.mk){\n        msg.payload = \"match\"\n        flow.set(\"match\", true)\n    }else{\n        msg.payload = \"\"\n        flow.set(\"match\", false)\n    }\n        \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":800,"wires":[["94e1b6b1.5e14f8","89e69c18.f5b18"]]},{"id":"89e69c18.f5b18","type":"ui_text","z":"4e472904.6e8aa8","group":"eef46132.5e22a","order":5,"width":0,"height":0,"name":"","label":"","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":1037,"y":797,"wires":[]},{"id":"cda2fe6a.caa31","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"mk_cf","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"tk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"match","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":740,"wires":[["903cd239.63de5"]]},{"id":"f20dd69d.5c8928","type":"switch","z":"4e472904.6e8aa8","name":"","property":"match","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":659,"y":958,"wires":[["5c46275.d0e66d8"],["67a2eb63.ae2c94","fad380b9.780b7"]]},{"id":"5c46275.d0e66d8","type":"function","z":"4e472904.6e8aa8","name":"check again","func":"msg.payload = \"please check again\"\nreturn msg;","outputs":1,"noerr":0,"x":804,"y":938,"wires":[["89e69c18.f5b18","a3aedea9.2a746"]]},{"id":"a3aedea9.2a746","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1002,"y":925,"wires":[]},{"id":"fad380b9.780b7","type":"function","z":"4e472904.6e8aa8","name":"ok","func":"msg.payload = \"registing...\"\nreturn msg;","outputs":1,"noerr":0,"x":808,"y":1021,"wires":[["89e69c18.f5b18"]]},{"id":"42031837.bad228","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>Email</i>","tooltip":"","group":"eef46132.5e22a","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":390,"y":880,"wires":[[]]},{"id":"42425ff5.e2f3a","type":"ui_ui_control","z":"4e472904.6e8aa8","name":"","x":104,"y":1140,"wires":[["a935c153.3fd78","7a5c0322.dd741c"]]},{"id":"a935c153.3fd78","type":"function","z":"4e472904.6e8aa8","name":"blank box","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":164,"y":1200,"wires":[["924b3b5.910c1c8","f978a514.06dfc8"]]},{"id":"7a5c0322.dd741c","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"mk_cf","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"tk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"match","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":214,"y":1050,"wires":[[]]},{"id":"924b3b5.910c1c8","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>Phone number</i>","tooltip":"","group":"5d6b8a0f.c6f3d4","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":364,"y":1100,"wires":[["ce55e27c.44c3b","ab63b338.f27c3"]]},{"id":"f978a514.06dfc8","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>Password</i>","tooltip":"","group":"5d6b8a0f.c6f3d4","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":374,"y":1140,"wires":[["9c5c8bf3.397378","ab63b338.f27c3"]]},{"id":"ce55e27c.44c3b","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"tk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"mk_cf","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":644,"y":1080,"wires":[["91a4694d.a4f008"]]},{"id":"ab63b338.f27c3","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":564,"y":1040,"wires":[]},{"id":"9c5c8bf3.397378","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk_cf","tot":"flow"},{"t":"set","p":"tk","pt":"msg","to":"tk","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":644,"y":1120,"wires":[["91a4694d.a4f008"]]},{"id":"91a4694d.a4f008","type":"function","z":"4e472904.6e8aa8","name":"check","func":"\nif (msg.tk === \"\"){\n    msg.payload = \"\"\n    flow.set(\"match\", false)\n}\nelse if (msg.mk === \"\"){\n    msg.payload = \"\"\n    flow.set(\"match\", false)\n}else if (msg.payload !== msg.mk){\n    msg.payload = \"not match\"\n    flow.set(\"match\", false)\n}else if (msg.payload == msg.mk){\n    msg.payload = \"match\"\n    flow.set(\"match\", true)\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":814,"y":1140,"wires":[["49ff1288.c5eebc","3c12b7c9.572da8"]]},{"id":"49ff1288.c5eebc","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1178,"wires":[]},{"id":"3c12b7c9.572da8","type":"ui_text","z":"4e472904.6e8aa8","group":"5d6b8a0f.c6f3d4","order":3,"width":0,"height":0,"name":"","label":"","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":971,"y":1137,"wires":[]},{"id":"91e031c8.897cb","type":"function","z":"4e472904.6e8aa8","name":"check again","func":"msg.payload = \"please check again\"\nreturn msg;","outputs":1,"noerr":0,"x":738,"y":1278,"wires":[["3c12b7c9.572da8","cc4f71df.214e8"]]},{"id":"4d39efc2.49444","type":"function","z":"4e472904.6e8aa8","name":"ok","func":"msg.payload = \"registing...\"\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":1361,"wires":[["3c12b7c9.572da8"]]},{"id":"6e004166.45e1e","type":"switch","z":"4e472904.6e8aa8","name":"","property":"match","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":593,"y":1298,"wires":[["91e031c8.897cb"],["17b88f77.1bae31","4d39efc2.49444"]]},{"id":"cc4f71df.214e8","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":936,"y":1265,"wires":[]},{"id":"60ee1b85.e20634","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"packet.tk","pt":"msg","to":"tk","tot":"flow"},{"t":"set","p":"packet.mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"match","pt":"msg","to":"match","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":424,"y":1300,"wires":[["6e004166.45e1e"]]},{"id":"17b88f77.1bae31","type":"function","z":"4e472904.6e8aa8","name":"sent","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":739,"y":1320,"wires":[["6c8b6496.d8a5fc"]]},{"id":"3011608f.5f8e4","type":"function","z":"4e472904.6e8aa8","name":"create json","func":"msg.packet = {\n}\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":1299,"wires":[["60ee1b85.e20634"]]},{"id":"6c8b6496.d8a5fc","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":944,"y":1359,"wires":[]},{"id":"2488962f.f1c9ba","type":"ui_button","z":"4e472904.6e8aa8","name":"","group":"5d6b8a0f.c6f3d4","order":4,"width":"3","height":"1","passthru":false,"label":"Login","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":43,"y":1300,"wires":[["3011608f.5f8e4"]]},{"id":"7d84920d.8c72bc","type":"ui_button","z":"4e472904.6e8aa8","name":"","group":"5d6b8a0f.c6f3d4","order":5,"width":"3","height":"1","passthru":false,"label":"Forget password","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":77,"y":1362,"wires":[[]]},{"id":"b0186a5.105aa98","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>Phone number</i>","tooltip":"","group":"c4ab5eee.a52cb","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":121,"y":1547,"wires":[[]]},{"id":"19ef70df.baceef","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>Massage</i>","tooltip":"","group":"c4ab5eee.a52cb","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":89,"y":1645,"wires":[[]]},{"id":"77e122ca.a7da5c","type":"ui_text_input","z":"4e472904.6e8aa8","name":"","label":"<i>Money</i>","tooltip":"","group":"c4ab5eee.a52cb","order":2,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":90,"y":1590,"wires":[[]]},{"id":"7eb4c021.f6959","type":"ui_button","z":"4e472904.6e8aa8","name":"","group":"c4ab5eee.a52cb","order":5,"width":"0","height":"0","passthru":false,"label":"Sent","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":54,"y":1725,"wires":[[]]},{"id":"95955139.ebd97","type":"ui_text","z":"4e472904.6e8aa8","group":"c4ab5eee.a52cb","order":4,"width":0,"height":0,"name":"","label":"","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":308,"y":1608,"wires":[]},{"id":"e3d16443.6e0718","type":"inject","z":"4e472904.6e8aa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1220,"y":400,"wires":[["cdd1541b.a752e8"]]},{"id":"cdd1541b.a752e8","type":"function","z":"4e472904.6e8aa8","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":1390,"y":400,"wires":[["8302295a.811a38","d8241e69.2e14e"]]},{"id":"8302295a.811a38","type":"http request","z":"4e472904.6e8aa8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":1550,"y":400,"wires":[["d7560133.33607"]]},{"id":"d7560133.33607","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1720,"y":400,"wires":[]},{"id":"5c835052.12647","type":"file in","z":"4e472904.6e8aa8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1010,"y":540,"wires":[["8ed7bb1a.a553c8"]]},{"id":"8ed7bb1a.a553c8","type":"json","z":"4e472904.6e8aa8","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":540,"wires":[["122180a7.28a62f"]]},{"id":"55663a83.9f0f34","type":"function","z":"4e472904.6e8aa8","name":"direction","func":"msg.filename = \"C:/Users/nguye/.node-red/flows_\" + msg.payload + \".json\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":540,"wires":[["5c835052.12647"]]},{"id":"8ab80a2.e6a2bf8","type":"exec","z":"4e472904.6e8aa8","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":740,"y":540,"wires":[["55663a83.9f0f34"],[],[]]},{"id":"122180a7.28a62f","type":"function","z":"4e472904.6e8aa8","name":"change server","func":"for(var x = 0; x < msg.payload.length; x++){\n    var obj = msg.payload[x]\n    if(obj['id'] == \"elefos_server_client\")\n        obj['broker'] = msg.ip\n}\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":540,"wires":[["d53cd9ce.d1a768"]]},{"id":"cb038e07.03062","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":560,"wires":[["b2d839e1.124358"]]},{"id":"e5de5e0.12036a","type":"change","z":"4e472904.6e8aa8","name":"","rules":[{"t":"set","p":"ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":480,"wires":[[]]},{"id":"b2d839e1.124358","type":"switch","z":"4e472904.6e8aa8","name":"","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":540,"wires":[["25806dc7.9aeb42","38d10870.751a98"],["8ab80a2.e6a2bf8","d8c19a79.81da58"]]},{"id":"38d10870.751a98","type":"function","z":"4e472904.6e8aa8","name":"error ip","func":"msg.payload = \"Please scan or input ip\"\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["f3c915a.0e45ae8"]]},{"id":"d8c19a79.81da58","type":"function","z":"4e472904.6e8aa8","name":"connecting","func":"msg.payload = \"Connecting...\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["f3c915a.0e45ae8"]]},{"id":"25806dc7.9aeb42","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ip","targetType":"msg","x":560,"y":460,"wires":[]},{"id":"1e2e5076.0c85","type":"mqtt in","z":"4e472904.6e8aa8","name":"","topic":"abc","qos":"2","datatype":"auto","broker":"elefos_server_client","x":370,"y":400,"wires":[[]]},{"id":"d53cd9ce.d1a768","type":"file","z":"4e472904.6e8aa8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1450,"y":540,"wires":[["cdd1541b.a752e8"]]},{"id":"2b87a84a.dfbec8","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":620,"wires":[]},{"id":"19cd6c6d.709ed4","type":"status","z":"4e472904.6e8aa8","name":"","scope":["1e2e5076.0c85"],"x":760,"y":700,"wires":[["348e9072.74629"]]},{"id":"5a005949.c59748","type":"function","z":"4e472904.6e8aa8","name":"status","func":"if (msg.status.fill === \"yellow\")\n    msg.payload = \"Connection fail\"\nelse if (msg.status.fill === \"green\")\n    msg.payload = \"Connected\"\nelse if (msg.status.fill === \"red\")\n    msg.payload = \"Connection fail\"\nelse\n    msg.payload = \"Connecting...\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":700,"wires":[["2b87a84a.dfbec8","f3c915a.0e45ae8"]]},{"id":"9ad0c3ca.42c13","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1860,"y":580,"wires":[]},{"id":"d8241e69.2e14e","type":"debug","z":"4e472904.6e8aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1660,"y":280,"wires":[]},{"id":"1303c24.61f2d3e","type":"function","z":"4e472904.6e8aa8","name":"blank box","func":"msg.payload = \"Waiting...\"\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":660,"wires":[["f3c915a.0e45ae8"]]},{"id":"34f42f61.f3691","type":"mqtt out","z":"4e472904.6e8aa8","name":"","topic":"registered","qos":"","retain":"","broker":"elefos_server_client","x":1000,"y":1060,"wires":[]},{"id":"348e9072.74629","type":"delay","z":"4e472904.6e8aa8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":720,"wires":[["5a005949.c59748"]]},{"id":"d1cb1f13.e06de","type":"mqtt in","z":"4e472904.6e8aa8","name":"","topic":"elefos_feedback_status","qos":"2","datatype":"auto","broker":"elefos_server_client","x":1170,"y":740,"wires":[["89e69c18.f5b18"]]},{"id":"b40de9ce.33fe58","type":"ui_group","z":"","name":"Scan in local","tab":"8c1723fa.145ae","disp":true,"width":"6","collapse":false},{"id":"eef46132.5e22a","type":"ui_group","z":"","name":"Registered account","tab":"e6c055bd.8f6ba8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d6b8a0f.c6f3d4","type":"ui_group","z":"","name":"Login account","tab":"e30d2313.d1b2e","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4ab5eee.a52cb","type":"ui_group","z":"","name":"Transaction","tab":"19f43a39.58a856","order":1,"disp":true,"width":"6","collapse":false},{"id":"elefos_server_client","type":"mqtt-broker","z":"","name":"","broker":"209.97.173.222","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8c1723fa.145ae","type":"ui_tab","z":"","name":"Scan IP","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e6c055bd.8f6ba8","type":"ui_tab","z":"","name":"Sign up","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e30d2313.d1b2e","type":"ui_tab","z":"","name":"Sign in","icon":"work","order":3,"disabled":false,"hidden":false},{"id":"19f43a39.58a856","type":"ui_tab","z":"","name":"Transaction","icon":"work","order":4,"disabled":false,"hidden":false}]