CodeDevice/server_device.json
[{"id":"f2dd4a6b.ecba68","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"403eab0.3b96854","order":3,"width":"3","height":"1","passthru":false,"label":"Scan","tooltip":"","color":"","bgcolor":"","icon":"","payload":"scan","payloadType":"str","topic":"","x":332,"y":831,"wires":[[]]},{"id":"23e7c1ec.2e656e","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"403eab0.3b96854","order":4,"width":"3","height":"1","passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"scan","payloadType":"str","topic":"","x":302,"y":871,"wires":[["ecd7f416.5760b8"]]},{"id":"447d332b.4b233c","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>IP address</i>","tooltip":"","group":"403eab0.3b96854","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":372,"y":791,"wires":[["30a9416b.91038e"]]},{"id":"3e4dd6b4.6fe17a","type":"ui_text","z":"75d4a4d3.591a7c","group":"403eab0.3b96854","order":2,"width":0,"height":0,"name":"","label":"Status: ","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":912,"y":931,"wires":[]},{"id":"4571c67f.3ccc18","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Phone number</i>","tooltip":"","group":"3f7a287.b096fd8","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":572,"y":1071,"wires":[["822ad80f.ffdef8"]]},{"id":"5e174c4a.f8aac4","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Password</i>","tooltip":"","group":"3f7a287.b096fd8","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":552,"y":1111,"wires":[["d6e9d554.1c0b58"]]},{"id":"e9a075e5.a44468","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Password confirm</i>","tooltip":"","group":"3f7a287.b096fd8","order":3,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":572,"y":1151,"wires":[["c6d9d0d.d972a3"]]},{"id":"b07aac0f.eb21d","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"3f7a287.b096fd8","order":6,"width":"0","height":"0","passthru":false,"label":"Registered","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":271,"y":1271,"wires":[["9a479027.d76cf"]]},{"id":"78d1d642.9d74f8","type":"ui_ui_control","z":"75d4a4d3.591a7c","name":"","x":202,"y":1111,"wires":[["fd3a486b.257288","cd53cb62.0fb208","c9d65dcc.5db7f"]]},{"id":"fd3a486b.257288","type":"function","z":"75d4a4d3.591a7c","name":"blank box","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":1111,"wires":[["5e174c4a.f8aac4","e9a075e5.a44468","5b92022f.2f59ac","4571c67f.3ccc18"]]},{"id":"822ad80f.ffdef8","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"tk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"mk_cf","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":802,"y":1071,"wires":[["d0d1db99.f90f38"]]},{"id":"d6e9d554.1c0b58","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk_cf","tot":"flow"},{"t":"set","p":"tk","pt":"msg","to":"tk","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":782,"y":1111,"wires":[["d0d1db99.f90f38"]]},{"id":"b73da1c8.45cff","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1152,"y":1330,"wires":[]},{"id":"1858c4.9820c73c","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1158,"y":1149,"wires":[]},{"id":"89e7567d.fc0278","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"packet.tk","pt":"msg","to":"tk","tot":"flow"},{"t":"set","p":"packet.mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"match","pt":"msg","to":"match","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":632,"y":1271,"wires":[["7cdf4f31.b9c1c"]]},{"id":"9a479027.d76cf","type":"function","z":"75d4a4d3.591a7c","name":"create json","func":"msg.packet = {\n}\nreturn msg;","outputs":1,"noerr":0,"x":461,"y":1270,"wires":[["89e7567d.fc0278"]]},{"id":"1058b808.e09698","type":"function","z":"75d4a4d3.591a7c","name":"sent","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":947,"y":1291,"wires":[["b73da1c8.45cff","3f3a3e93.c81642"]]},{"id":"c6d9d0d.d972a3","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"mk_cf","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"tk","pt":"msg","to":"tk","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":802,"y":1151,"wires":[["d0d1db99.f90f38"]]},{"id":"d0d1db99.f90f38","type":"function","z":"75d4a4d3.591a7c","name":"check","func":"\nif (msg.tk === \"\"){\n    msg.payload = \"\"\n    flow.set(\"match\", false)\n}else{\n    if (msg.mk === \"\"){\n        msg.payload = \"\"\n        flow.set(\"match\", false)\n    }else if (msg.payload !== msg.mk){\n        msg.payload = \"not match\"\n        flow.set(\"match\", false)\n    }else if (msg.payload == msg.mk){\n        msg.payload = \"match\"\n        flow.set(\"match\", true)\n    }else{\n        msg.payload = \"\"\n        flow.set(\"match\", false)\n    }\n        \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1022,"y":1111,"wires":[["1858c4.9820c73c","ad6cace3.f39b8"]]},{"id":"ad6cace3.f39b8","type":"ui_text","z":"75d4a4d3.591a7c","group":"3f7a287.b096fd8","order":5,"width":0,"height":0,"name":"","label":"","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":1179,"y":1108,"wires":[]},{"id":"cd53cb62.0fb208","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"mk_cf","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"tk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"match","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":362,"y":1051,"wires":[["447d332b.4b233c"]]},{"id":"7cdf4f31.b9c1c","type":"switch","z":"75d4a4d3.591a7c","name":"","property":"match","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":801,"y":1269,"wires":[["c70684a6.f37218"],["1058b808.e09698","a55f2917.fe25a8"]]},{"id":"c70684a6.f37218","type":"function","z":"75d4a4d3.591a7c","name":"check again","func":"msg.payload = \"please check again\"\nreturn msg;","outputs":1,"noerr":0,"x":946,"y":1249,"wires":[["ad6cace3.f39b8","e98878a4.ba5558"]]},{"id":"e98878a4.ba5558","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1144,"y":1236,"wires":[]},{"id":"a55f2917.fe25a8","type":"function","z":"75d4a4d3.591a7c","name":"ok","func":"msg.payload = \"registing...\"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1332,"wires":[["ad6cace3.f39b8"]]},{"id":"5b92022f.2f59ac","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Email</i>","tooltip":"","group":"3f7a287.b096fd8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":532,"y":1191,"wires":[[]]},{"id":"f8af1e3.7fc05e","type":"ui_ui_control","z":"75d4a4d3.591a7c","name":"","x":246,"y":1451,"wires":[["e0cd6769.caafe8","8db652c6.55b15"]]},{"id":"e0cd6769.caafe8","type":"function","z":"75d4a4d3.591a7c","name":"blank box","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":1511,"wires":[["3367c8bd.062f48","2a1f832a.726cdc"]]},{"id":"8db652c6.55b15","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"mk_cf","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"tk","pt":"flow","to":"\"\"","tot":"env"},{"t":"set","p":"match","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":356,"y":1361,"wires":[[]]},{"id":"3367c8bd.062f48","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Phone number</i>","tooltip":"","group":"9bb4c138.e5611","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":506,"y":1411,"wires":[["73c323d.81adfdc","f88033ab.4ea82"]]},{"id":"2a1f832a.726cdc","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Password</i>","tooltip":"","group":"9bb4c138.e5611","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":516,"y":1451,"wires":[["9c1dc4c7.a75798","f88033ab.4ea82"]]},{"id":"73c323d.81adfdc","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"tk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"mk_cf","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":786,"y":1391,"wires":[["5942d27c.64ec1c"]]},{"id":"f88033ab.4ea82","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":706,"y":1351,"wires":[]},{"id":"9c1dc4c7.a75798","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"mk","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"mk","pt":"msg","to":"mk_cf","tot":"flow"},{"t":"set","p":"tk","pt":"msg","to":"tk","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":786,"y":1431,"wires":[["5942d27c.64ec1c"]]},{"id":"5942d27c.64ec1c","type":"function","z":"75d4a4d3.591a7c","name":"check","func":"\nif (msg.tk === \"\"){\n    msg.payload = \"\"\n    flow.set(\"match\", false)\n}\nelse if (msg.mk === \"\"){\n    msg.payload = \"\"\n    flow.set(\"match\", false)\n}else if (msg.payload !== msg.mk){\n    msg.payload = \"not match\"\n    flow.set(\"match\", false)\n}else if (msg.payload == msg.mk){\n    msg.payload = \"match\"\n    flow.set(\"match\", true)\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":956,"y":1451,"wires":[["a5f4c2c1.b178c","7d9fe502.d577ac"]]},{"id":"a5f4c2c1.b178c","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1092,"y":1489,"wires":[]},{"id":"7d9fe502.d577ac","type":"ui_text","z":"75d4a4d3.591a7c","group":"9bb4c138.e5611","order":3,"width":0,"height":0,"name":"","label":"","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":1113,"y":1448,"wires":[]},{"id":"c33bf036.de3bc","type":"function","z":"75d4a4d3.591a7c","name":"check again","func":"msg.payload = \"please check again\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1589,"wires":[["7d9fe502.d577ac","59f842bc.fdc1cc"]]},{"id":"5f3fd1c3.d7f75","type":"function","z":"75d4a4d3.591a7c","name":"ok","func":"msg.payload = \"registing...\"\nreturn msg;","outputs":1,"noerr":0,"x":884,"y":1672,"wires":[["7d9fe502.d577ac"]]},{"id":"58ec4d8a.775884","type":"switch","z":"75d4a4d3.591a7c","name":"","property":"match","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":735,"y":1609,"wires":[["c33bf036.de3bc"],["ff3edbae.a600d8","5f3fd1c3.d7f75"]]},{"id":"59f842bc.fdc1cc","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1078,"y":1576,"wires":[]},{"id":"719412e1.8ea67c","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"packet.tk","pt":"msg","to":"tk","tot":"flow"},{"t":"set","p":"packet.mk","pt":"msg","to":"mk","tot":"flow"},{"t":"set","p":"match","pt":"msg","to":"match","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":566,"y":1611,"wires":[["58ec4d8a.775884"]]},{"id":"ff3edbae.a600d8","type":"function","z":"75d4a4d3.591a7c","name":"sent","func":"msg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":881,"y":1631,"wires":[["924eb14d.dd0d9"]]},{"id":"cbc7de8b.0ed97","type":"function","z":"75d4a4d3.591a7c","name":"create json","func":"msg.packet = {\n}\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":1610,"wires":[["719412e1.8ea67c"]]},{"id":"924eb14d.dd0d9","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1086,"y":1670,"wires":[]},{"id":"6a28e267.d9199c","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"9bb4c138.e5611","order":4,"width":"3","height":"1","passthru":false,"label":"Login","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":185,"y":1611,"wires":[["cbc7de8b.0ed97"]]},{"id":"9a2b3cc4.fffc4","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"9bb4c138.e5611","order":5,"width":"3","height":"1","passthru":false,"label":"Forget password","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":219,"y":1673,"wires":[[]]},{"id":"ade0d2bc.1907a","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Phone number</i>","tooltip":"","group":"a2d35475.7e2438","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":263,"y":1858,"wires":[[]]},{"id":"36a246a.40398ba","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Massage</i>","tooltip":"","group":"a2d35475.7e2438","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":231,"y":1956,"wires":[[]]},{"id":"3195e53f.0cf36a","type":"ui_text_input","z":"75d4a4d3.591a7c","name":"","label":"<i>Money</i>","tooltip":"","group":"a2d35475.7e2438","order":2,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":232,"y":1901,"wires":[[]]},{"id":"553838d0.3a8998","type":"ui_button","z":"75d4a4d3.591a7c","name":"","group":"a2d35475.7e2438","order":5,"width":"0","height":"0","passthru":false,"label":"Sent","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":196,"y":2036,"wires":[[]]},{"id":"5167a06c.43381","type":"ui_text","z":"75d4a4d3.591a7c","group":"a2d35475.7e2438","order":4,"width":0,"height":0,"name":"","label":"","format":"<i>{{msg.payload}}</i>","layout":"row-spread","x":450,"y":1919,"wires":[]},{"id":"25ade644.bf4bca","type":"inject","z":"75d4a4d3.591a7c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1362,"y":711,"wires":[["34baa281.ad02de"]]},{"id":"34baa281.ad02de","type":"function","z":"75d4a4d3.591a7c","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":1532,"y":711,"wires":[["a631ab6e.a79ca8","bf6ff073.20319"]]},{"id":"a631ab6e.a79ca8","type":"http request","z":"75d4a4d3.591a7c","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":1692,"y":711,"wires":[["c2a6eca0.98b15"]]},{"id":"c2a6eca0.98b15","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1862,"y":711,"wires":[]},{"id":"50234e6a.18546","type":"file in","z":"75d4a4d3.591a7c","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1152,"y":851,"wires":[["bd697260.1bca1"]]},{"id":"bd697260.1bca1","type":"json","z":"75d4a4d3.591a7c","name":"","property":"payload","action":"","pretty":false,"x":1272,"y":851,"wires":[["691e21ce.384d4"]]},{"id":"12569d9.dd21562","type":"function","z":"75d4a4d3.591a7c","name":"direction","func":"msg.filename = \"C:/Users/nguye/.node-red/flows_\" + msg.payload + \".json\"\nreturn msg;","outputs":1,"noerr":0,"x":1022,"y":851,"wires":[["50234e6a.18546"]]},{"id":"8eebba65.c113c8","type":"exec","z":"75d4a4d3.591a7c","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":882,"y":851,"wires":[["12569d9.dd21562"],[],[]]},{"id":"691e21ce.384d4","type":"function","z":"75d4a4d3.591a7c","name":"change server","func":"for(var x = 0; x < msg.payload.length; x++){\n    var obj = msg.payload[x]\n    if(obj['id'] == \"elefos_server_client\")\n        obj['broker'] = msg.ip\n}\nreturn msg;","outputs":1,"noerr":0,"x":1422,"y":851,"wires":[["9a967fb7.19e66"]]},{"id":"ecd7f416.5760b8","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":452,"y":871,"wires":[["8d1e6aa3.344568"]]},{"id":"30a9416b.91038e","type":"change","z":"75d4a4d3.591a7c","name":"","rules":[{"t":"set","p":"ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":562,"y":791,"wires":[[]]},{"id":"8d1e6aa3.344568","type":"switch","z":"75d4a4d3.591a7c","name":"","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":592,"y":851,"wires":[["9a11321b.aceb","51b0d3d8.bd9cfc"],["8eebba65.c113c8","c602d435.920338"]]},{"id":"51b0d3d8.bd9cfc","type":"function","z":"75d4a4d3.591a7c","name":"error ip","func":"msg.payload = \"Please scan or input ip\"\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":811,"wires":[["3e4dd6b4.6fe17a"]]},{"id":"c602d435.920338","type":"function","z":"75d4a4d3.591a7c","name":"connecting","func":"msg.payload = \"Connecting...\"\nreturn msg;","outputs":1,"noerr":0,"x":732,"y":891,"wires":[["3e4dd6b4.6fe17a"]]},{"id":"9a11321b.aceb","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ip","targetType":"msg","x":702,"y":771,"wires":[]},{"id":"dbdd530f.c158c","type":"mqtt in","z":"75d4a4d3.591a7c","name":"","topic":"abc","qos":"2","datatype":"auto","broker":"dcb827cb.e2a408","x":512,"y":711,"wires":[[]]},{"id":"9a967fb7.19e66","type":"file","z":"75d4a4d3.591a7c","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1592,"y":851,"wires":[["34baa281.ad02de"]]},{"id":"5851e832.dd7628","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1272,"y":931,"wires":[]},{"id":"29c6add6.d8ef92","type":"status","z":"75d4a4d3.591a7c","name":"","scope":["dbdd530f.c158c"],"x":902,"y":1011,"wires":[["67747923.c94d88"]]},{"id":"16aa1ecf.641db1","type":"function","z":"75d4a4d3.591a7c","name":"status","func":"if (msg.status.fill === \"yellow\")\n    msg.payload = \"Connection fail\"\nelse if (msg.status.fill === \"green\")\n    msg.payload = \"Connected\"\nelse if (msg.status.fill === \"red\")\n    msg.payload = \"Connection fail\"\nelse\n    msg.payload = \"Connecting...\"\nreturn msg;","outputs":1,"noerr":0,"x":1112,"y":1011,"wires":[["5851e832.dd7628","3e4dd6b4.6fe17a"]]},{"id":"bf6ff073.20319","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1802,"y":591,"wires":[]},{"id":"c9d65dcc.5db7f","type":"function","z":"75d4a4d3.591a7c","name":"blank box","func":"msg.payload = \"Waiting...\"\nreturn msg;","outputs":1,"noerr":0,"x":722,"y":971,"wires":[["3e4dd6b4.6fe17a"]]},{"id":"3f3a3e93.c81642","type":"mqtt out","z":"75d4a4d3.591a7c","name":"","topic":"registered","qos":"","retain":"","broker":"dcb827cb.e2a408","x":1142,"y":1371,"wires":[]},{"id":"67747923.c94d88","type":"delay","z":"75d4a4d3.591a7c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1022,"y":1031,"wires":[["16aa1ecf.641db1"]]},{"id":"75b20e5c.83199","type":"mqtt in","z":"75d4a4d3.591a7c","name":"","topic":"elefos_feedback_status","qos":"2","datatype":"auto","broker":"dcb827cb.e2a408","x":1312,"y":1051,"wires":[["ad6cace3.f39b8","c1889ed4.0bfba"]]},{"id":"c1889ed4.0bfba","type":"debug","z":"75d4a4d3.591a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1546.786865234375,"y":1041.448860168457,"wires":[]},{"id":"403eab0.3b96854","type":"ui_group","z":"","name":"Scan in local","tab":"36a47292.67d7de","disp":true,"width":"6","collapse":false},{"id":"3f7a287.b096fd8","type":"ui_group","z":"","name":"Registered account","tab":"c4b8685d.83d798","order":2,"disp":true,"width":"6","collapse":false},{"id":"9bb4c138.e5611","type":"ui_group","z":"","name":"Login account","tab":"e3a12423.96ee78","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2d35475.7e2438","type":"ui_group","z":"","name":"Transaction","tab":"2493c607.f09fca","order":1,"disp":true,"width":"6","collapse":false},{"id":"dcb827cb.e2a408","type":"mqtt-broker","z":"","name":"","broker":"209.97.173.222","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36a47292.67d7de","type":"ui_tab","z":"","name":"Scan IP","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c4b8685d.83d798","type":"ui_tab","z":"","name":"Sign up","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e3a12423.96ee78","type":"ui_tab","z":"","name":"Sign in","icon":"work","order":3,"disabled":false,"hidden":false},{"id":"2493c607.f09fca","type":"ui_tab","z":"","name":"Transaction","icon":"work","order":4,"disabled":false,"hidden":false}]