CodeDevice/server_other_pi.json
[{"id":"ff893150.8387","type":"mqtt in","z":"1ef4089b.2b6627","name":"","topic":"123456789","qos":"2","broker":"afe83121.c9a6a","x":140,"y":340,"wires":[["d1ed746d.1050a8"]]},{"id":"181529e6.13c576","type":"file","z":"1ef4089b.2b6627","name":"","filename":"/root/.ssh/rsa/signature","appendNewline":false,"createDir":false,"overwriteFile":"true","x":640,"y":340,"wires":[["fc4b9935.f3c1c8"]]},{"id":"d1ed746d.1050a8","type":"json","z":"1ef4089b.2b6627","name":"","property":"payload","action":"","pretty":false,"x":290,"y":340,"wires":[["5787a37a.6226fc","3ab675e7.61e2ca"]]},{"id":"3ab675e7.61e2ca","type":"function","z":"1ef4089b.2b6627","name":"save","func":"msg.packet = msg.payload\nmsg.payload = msg.packet.sig\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["181529e6.13c576"]]},{"id":"5787a37a.6226fc","type":"debug","z":"1ef4089b.2b6627","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":260,"wires":[]},{"id":"e9e177c.1ede688","type":"file","z":"1ef4089b.2b6627","name":"","filename":"/root/.ssh/rsa/transaction","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1010,"y":340,"wires":[["7e479492.b62a3c"]]},{"id":"fc4b9935.f3c1c8","type":"function","z":"1ef4089b.2b6627","name":"delete","func":"msg.payload = msg.packet\ndelete msg.payload.sig\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[["e9e177c.1ede688"]]},{"id":"652406c4.89e0a8","type":"mqtt in","z":"1ef4089b.2b6627","name":"","topic":"sharePublic","qos":"2","broker":"afe83121.c9a6a","x":130,"y":840,"wires":[["b576b136.dd417","f0517745.750d58"]]},{"id":"b576b136.dd417","type":"file","z":"1ef4089b.2b6627","name":"","filename":"/root/.ssh/rsa/public","appendNewline":false,"createDir":false,"overwriteFile":"true","x":320,"y":840,"wires":[[]]},{"id":"7e479492.b62a3c","type":"exec","z":"1ef4089b.2b6627","command":"bash /root/.ssh/rsa/verify.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1300,"y":340,"wires":[["b461fb3a.9d0918"],[],[]]},{"id":"b461fb3a.9d0918","type":"debug","z":"1ef4089b.2b6627","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1540,"y":340,"wires":[]},{"id":"f0517745.750d58","type":"debug","z":"1ef4089b.2b6627","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":740,"wires":[]},{"id":"afe83121.c9a6a","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","tls":"1509809b.6552ef","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1509809b.6552ef","type":"tls-config","z":"","name":"209.97.173.222","cert":"","key":"","ca":"","certname":"client.crt","keyname":"client.key","caname":"ca.crt","servername":"209.97.173.222","verifyservercert":false}]